
.usaedu-users-upload-feedback-dialog {
  position: relative;
  z-index: 1005;
}

@media all and (max-width: 840px) {
  .usaedu-users-upload-feedback-dialog {
    top: 0 !important;
    width: 100% !important;
  }
}

.usaedu-users-upload-feedback-dialog-close {
  float: right;
  cursor: pointer;
  margin-right: 0;
  margin-top: 20px;
}

.usaedu-users-upload-feedback.ui-dialog-content {
  padding: .5em 2em;
}

@media all and (max-width: 840px) {
  .usaedu-users-upload-feedback-dialog-close {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 0;
    margin-top: 0;
  }
}

/*
 * jQuery UI dialog overrides
 */
.usaedu-users-upload-feedback-dialog,
.usaedu-users-upload-feedback-dialog .ui-dialog-content {
  /*padding: 0;*/
}

.usaedu-users-upload-feedback-dialog .ui-dialog-titlebar {
  display: none;
}
