#brb-wrap {
  background: #fff;
  color: #000;
  display: none;
  font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 800px;
}

#brb-wrap-inner {
  overflow: hidden;
  left: 0;
  top: 0;
  zoom: 1;
}

#brb-wrap h2,
#brb-wrap h4 {
  margin: 10px 0;
  text-align: center;
}

#brb-message { zoom: 1; }

#brb-message-inner { padding: 20px 30px; }

#brb-wrap ul {
  list-style-type: disc;
  list-style-image: none;
  margin: .5em 0 1em 1em;
}

#brb-wrap li {
  background: none;
  list-style-type: disc;
  list-style-image: none;
  margin: .15em 0 .15em .5em;
  padding: 0;
}

#brb-browsers ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 460px; /* (li's width + li's lateral margins + li's lateral paddings) * number of browsers */
}

#brb-browsers ul li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0 15px 0 0;
  padding: 0;
}

#brb-browsers ul li.last { margin-right: 0; }

#brb-browsers ul li a {
  background: transparent url(images/browsers.png) no-repeat;
  color: #000;
  display: block;
  padding: 80px 0 0 0;
  margin: 0 0 10px 0;
  text-align: center;
  text-decoration: none;
  width: 80px;
}

#brb-browsers ul li a:hover { text-decoration: underline; }

#brb-browsers ul li#brb-firefox a { background-position: 0 0; }

#brb-browsers ul li#brb-safari a { background-position: -80px 0; }

#brb-browsers ul li#brb-chrome a { background-position: -160px 0; }

#brb-browsers ul li#brb-opera a { background-position: -240px 0; }

#brb-browsers ul li#brb-ie a { background-position: -320px 0; }

