#global-throbber {
    display :block;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}      
#global-throbber .ajax-progress .message,
#global-throbber .ajax-progress-throbber .message {
    display :block;
    color: black;
    font-size: 20px;
    padding: 30px;
}
#global-throbber .ajax-progress .throbber,
#global-throbber .ajax-progress-throbber .throbber {
    display :block;
    float: none;
    margin: 250px auto 0 auto;
    width: 128px;
    height: 128px;
    background: url("ajax-loader.gif") no-repeat center center;
}
#global-throbber .ajax-progress,
#global-throbber .ajax-progress-throbber {
    vertical-align: middle;
    text-align: center;
}

#njcore_terms li:hover {
  cursor: pointer;
}
