/*
 * @file
 * Dialog styling (general dialog layout is in this file. Colors, icons etc are in pages.scss, since those are theme dependent). 
 */

.usaedu-dialog {
  position: relative;
  z-index: 1005;
}

.usaedu-dialog-left,
.usaedu-dialog-sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}



.usaedu-dialog-left {
  background-color: white;
}

.usaedu-dialog-sidebar {
}

@media all and (max-width: 840px) {
  .usaedu-dialog {
    top: 0 !important;
    width: 100% !important;
  }
}

@media all and (min-width: 841px) {
  .usaedu-dialog-left {
    float: left;
    width: 75%;
  }
  .usaedu-dialog-sidebar {
    position: absolute; /* Using absolute positioning to get the background-color to fill the whole column. */
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
  }
}

.usaedu-dialog-sidebar-content {
  padding: 40px 10px 20px 10px;
}

.usaedu-dialog-close {
  float: right;
  cursor: pointer;
}

@media all and (max-width: 840px) {
  .usaedu-dialog-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.usaedu-dialog-symbol {
  float: right;
  width: 26px;
  height: 26px;
}

.usaedu-dialog-title {
  margin-top: 0;
}

/*
 * jQuery UI dialog overrides
 */
.usaedu-dialog,
.usaedu-dialog .ui-dialog-content {
  padding: 0;
}

.usaedu-dialog .ui-dialog-titlebar {
  display: none;
}
