@font-face{
	font-family:'icomoon';
	src:url('../fonts/icomoon.eot?-qllsfx');
	src:url('../fonts/icomoon.eot?#iefix-qllsfx') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-qllsfx') format('woff'),
		url('../fonts/icomoon.ttf?-qllsfx') format('truetype'),
		url('../fonts/icomoon.svg?-qllsfx#icomoon') format('svg');
	font-weight:normal;
	font-style:normal;
}
.jcf-select-sel-1 .jcf-selected:before,
.list-collection li a:after,
[class^="icon-"],
[class*=" icon-"]{
	font-family:'icomoon';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.icon-star-half .path1:before {
	content: "\e61d";
	color: rgb(185, 185, 185);
}
.icon-star-half .path2:before {
	content: "\e61e";
	margin-left: -1.0498046875em;
	color: rgb(255, 204, 0);
}
.icon-check:before{content:"\e61a";}
.icon-search:before{content:"\e600";}
.icon-lamp:before{content:"\e601";}
.icon-man:before{content:"\e602";}
.icon-arrow-down:before{content:"\e603";}
.icon-circle-close:before{content:"\e604";}
.icon-close:before{content:"\e605";}
.icon-file:before{content:"\e606";}
.icon-empty-star:before{content:"\e607";}
.icon-download:before{content:"\e608";}
.icon-lock:before{content:"\e609";}
.icon-star:before{content:"\e60a";}
.icon-camera:before{content:"\e60b";}
.icon-arrow-right:before{content:"\e60c";}
.icon-arrow-left:before{content:"\e60d";}
.icon-letter:before{content:"\e60e";}
.icon-network:before{content:"\e60f";}
.icon-folder:before{content:"\e610";}
.icon-arrow-up:before{content:"\e611";}
.icon-download2:before{content:"\e612";}
.icon-delete:before{content:"\e613";}
.icon-cogwheel:before{content:"\e614";}
.icon-twitter:before{content:"\e615";}
.icon-clip:before{content:"\e616";}
.icon-mail:before{content:"\e617";}
.icon-facebook:before{content:"\e618";}
.icon-linkedin:before{content:"\e619";}
.icon-pinterest:before{content:"\e61b";}
.icon-nav:before {content: "\e61c";}