/* Layout Styles */
.main-container h1 { font-size: 32px; }
.main-container h2 { font-size: 20px; }
.main-container h3 { font-size: 14px; }
.main-container p { font-size: 14px; }

h1, h2, h3, p {
    font-family: "montserrat";
}

#main {
    position: relative;
}

/*.main-container {
    overflow-x: hidden;
}*/

/* Bootstrap Overrides */
/* Used to pad the container element and make a smaller container */
.container:not(.large) {
    padding-left: 30px;
    padding-right: 30px;
}

/* Helpers */
.white {
    color: #fff;
}

.dkgreen, .dkgreen > a {
    color: rgba(36, 166, 152, .85);
}

.green, .green > a {
    color: rgba(179, 205, 76, .85);
}

.yellow, .yellow > a {
    color: rgba(255, 202, 74, .8);
}

.fullWidth {
    width: 100%;
}

.caps {
    text-transform: uppercase;
}

.noPaddingRight {
    padding-right: 0 !important;
}

.noPaddingLeft {
    padding-left: 0 !important;
}

.no-label label {
    display: none;
}

.noMargin {
    margin: 0 !important;
}

.caps {
    text-transform: uppercase !important;
}

/* Add dropdown support for dropdown menu */
@media (min-width: 768px) {
    .navbar-nav .open ul {
        display: none
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background: none
    }
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #24a698;
        background: none
    }
    .navbar-inverse .navbar-nav > li:hover {
        background: #080808
    }
    .navbar-nav .hovernav:hover > .dropdown-menu {
        display: block;
    }
    .menu li:hover > a {
        color: #24a698 !important;
    }
    .dropdown-menu li:hover > a {
        color: #fff !important;
    }
}

/* Front Page */

.view-front-page-video .content {
    max-height: 800px;
    overflow: hidden;
}

.video-controls.paused:before {
    content: "";
    position: absolute;
    top: 267px;
    left: 50%;
    margin: 0 0 0 -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 0 26px 42px;
    border-color: transparent transparent transparent #fff;
}

.video-controls {
    display: block;
    max-height: 865px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.video-controls:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.video-controls.paused:hover:after {
    background: rgba(255, 255, 255, .4);
}

.video-controls.paused:after {
    content: "";
    position: absolute;
    top: 235px;
    left: 50%;
    margin-left: -57px;
    border-radius: 50%;
    width: 114px;
    height: 114px;
    border: 3px solid #fff;
    background: rgba(255, 255, 255, .2);
}

.full-screen {
    position: absolute;
    display: block;
    color: red;
    content: "test";
    top: 30px;
    right: 30px;
    width: 5%;
    height: 10%;
    z-index: 5000000;
    background-color: red;
}


/* Navigation//Header */

.navbar-default a {
    color: #777;
}

.menu .caret {
    display: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background: transparent;

}

.navbar-default .dkgreen:hover > a,
.navbar-default .active.dkgreen > a {
    color: rgba(36, 166, 152, .85) !important;
}

.navbar-default .green:hover > a,
.navbar-default .active.green > a {
    color: rgba(179, 205, 76, .85) !important;
}

.navbar-default .purple:hover > a,
.navbar-default .active.purple > a {
    color: rgba(118, 85, 157, .8) !important;
}

.navbar-default .yellow:hover > a,
.navbar-default .active.yellow > a {
    color: rgba(255, 202, 74, .8) !important;
}

.navbar-nav.secondary {
    float: left !important;
}


.navbar-default #block-user-login {
    display: none;
}

.login-menu {
    position: relative;
    display: inline-block;
    float: left;
}

.login-menu .block-title {
    padding: 40px;
    margin: 0;
}

.login-menu .form-text {
    border-radius: 8px;
    height: 34px;
}

.login-menu .form-item {
    padding: 0 25px;
}

.login-menu .nav-title {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

.login-menu .nav-title:hover,
.login-menu.active .nav-title {
    text-decoration: none;
    color: #ffca4a;
}

.login-menu .bottom-box a:hover {
    opacity: .8;
}

.login-menu .bottom-box:hover {
    background: #ffca4a;
}

.login-menu a,
.login-menu a:hover {
    color: #fff;
    text-decoration: none;
}

.login-menu .top-box {
    position: relative;
    background: #ffca4a;
    padding: 66px 10px 69px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.login-menu .login-view .top-box {
    padding-bottom: 35px;
}

.login-menu .login-view .bottom-box a {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.login-menu .header h2 {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
}

.login-menu .header h3 {
    position: absolute;
    top: 30px;
    right: 30px;
}

.login-menu .login-name {
    margin-top: 20px;
    position: relative;
}

.login-menu .password {
    position: relative;
}

.login-menu .forgot-link {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    display: inherit;
    position: absolute;
    bottom: -28px;
    left: 30px;
    z-index: 50;
}

.login-menu .form-submit {
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
}

.login-menu .bottom-box {
    display: block;
    background: rgba(255, 202, 74, .8);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 30px 10px 26px;
    -webkit-transition: background .3s;
    transition: background .3s;
    cursor: pointer;
    text-align: center;
}

.login-menu .form-required {
    display: none;
}

#user-login-block-container {
    display: none;
    position: absolute;
    width: 100%;
}

.login-menu.active #user-login-block-container {
    display: block;
    z-index: 1000;
}

#block-usaedu-search-find-resources-search label {
    display: none;
}

#edit_end_user_chosen,
#edit_subject_chosen,
#edit_grade_level_chosen{
    padding: 0;
    border: none;
}

.search-button .icon-search {
    color: #fff;
    background-color: #ffca4a;
    border: 4px solid #ffca4a;
    width: 100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 0;
}

#block-search-form {
    margin: 0 !important;
}

.search-wrapper.active .search-input .form-item-search {
    display: block;
}

.search-input .form-item-search {
    position: absolute;
    display: none;
    right: 0;
    top: 100%;
    width: 439px;
    background: rgba(255, 202, 74, .8);
    left: auto;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.search-input input {
    display: block;
    margin: 0;
    padding: 28px 30px;
    width: 100%;
    height: 76px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: none;
    outline: none;
}

/* Sub menu (appears under main menu pages) */
#block-menu-block-2 {
    background-color: rgba(179, 205, 76, .85);
}

#block-menu-block-3 {
    background-color: rgba(118, 85, 157, .8);
}

#block-menu-block-2 a,
#block-menu-block-3 a {
    color: #fff;
}

.region-sub-nav .menu-block-wrapper {
    display: table;
    min-width: 960px;
    margin: auto;
}

/*
=======
    padding: 0;
    border: none;
}
.file-preview {
    cursor: pointer;
}
.file-preview:hover {
    text-decoration: underline;
}

/* Frontpage Video */
.view-front-page-video video {
    width: 100%;
}

/* Twitter Feed */
#block-views-tweet-feed-block {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35.4%;
    z-index: 500000;
    height: 274px;
    display: table;
    padding-right: 80px;
    padding-left: 20px;
    background: rgba(179, 205, 76, .85);
}

#block-views-tweet-feed-block .view-tweet-feed {
    display: table-cell;
    vertical-align: middle;
}

.view-tweet-feed .flexslider {
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background: transparent !important;
}

.view-tweet-feed .flex-active-slide {
    opacity: .9 !important;
}

.view-tweet-feed .icon-twitter {
    color: #fff;
    font-size: 55px;
    line-height: 1;
    margin: 0 28px 0 20px;
}

.view-tweet-feed .view-header,
.view-tweet-feed .view-content {
    display: table-cell;
    vertical-align: middle;
}

.view-tweet-feed .view-header {
    vertical-align: top;
}

.view-tweet-feed .view-header:before {
    content: "Social Media";
    display: block;
    margin-top: -50px;
    padding-bottom: 30px;
    font-size: 30px;
    width: 200%;
    color: #fff;
}

.view-tweet-feed .views-field-created-time {
    display: block;
}

.view-tweet-feed .flex-control-nav.flex-control-paging {
    display: none;
}

.flex-direction-nav .flex-prev {
    left: 0px !important;
}

.flex-direction-nav .flex-next {
    right: 0px !important;
    text-align: right;
}

/* Upload Resource */
.page-node-add-resource .page-header {
    border-bottom: none;
}

/*-----*/

.node.node-resource.node-teaser.contextual-links-region.view-mode-teaser {
    margin-bottom: 18px;
    background: gainsboro;
}

.explore-box {
    max-width: 620px;
    padding: 45px 0 72px;
    margin: 102px auto 0;
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}
.icon-cogwheel:before {
    content: "\e614";
}

/*.icon-cogwheel {
    font-size: 74px;
}*/
.front-block-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11% 20px 10px;
}
/*.box-link .ico {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    font-size: 80px;
    margin: 0 0 22px;
    line-height: 1;
}
ul#term-tree{
    list-style: none;
}

/* Registration Page */
.img-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img-wrapper .content {
    margin: 0;
    line-height: 50px;
    font-weight: 300;
    font-family: "roboto_condensed", Arial, Helvetica, sans-serif;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgba(255, 202, 74, .85);
    padding: 51px 0 54px;
    font-size: 46px;
    color: #fff;
}

.register-form label {
    display: none;
}

input.password-confirm, input.password-field {
    width: 100%;
}

.password-parent {
    width: 100%;
}

.password-strength {
    float: left;
}

#user-register-form .form-item-name,
#user-register-form .password-parent {
    margin-bottom: 0 !important;
}

.password-indicator div {
    height: 100%;
    width: 0%;
    background-color: #47C965;
}
.password-indicator div.strong {
    background-color:#47c965;
    background-image: -moz-linear-gradient( left, #47c965, #f4bb2e 75.0%,#f4bb2e 100.0%);
    background-image: -webkit-linear-gradient( left, #47c965, #f4bb2e 75.0%,#f4bb2e 100.0%);
    background-image: -o-linear-gradient( left, #47c965, #f4bb2e 75.0%,#f4bb2e 100.0%);
    background-image: -ms-linear-gradient( left, #47c965, #f4bb2e 75.0%,#f4bb2e 100.0%);
    background-image: linear-gradient( left, #47c965, #f4bb2e 75.0%,#f4bb2e 100.0%)
}

#edit-legal {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#edit-legal legend {
    display: none;
}

#edit-legal label > a {
    color: #000;
    font-weight: 600;
}

/* Captcha */

#draggable-captcha label {
    font-size: 10px;
    line-height: 10px;
    margin: 0;
}

.captchaWrapper, .captchaSuccess, .captchaFail {
    background-image: none;
}
.captcha {
    width: 417px;
    height: 150px;
    margin-bottom: 2.5em;
    border-radius: 4px;
    background-color: #f4f4f4;
    padding: 10px;
}
.captcha label {
    color: #7f7f7f;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 0.85714em;
    line-height: 1.75em;
}
.optionsWrapper, .targetWrapper {
    background-color: #c3c3c3;
    border-radius: 4px;
    border: 1px solid #7f7f7f;
    box-shadow: inset 0 0 3px 1px rgba(51, 51, 51, 0.15);
}
.optionsWrapper {
    float: left;
    margin-top: 8px;
    width: 280px;
}
.targetWrapper {
    top: 8px;
    width: 105px;
    left: 292px;
}
.target {
    margin-top: 24px;
}
.optionsWrapper, .targetWrapper, .captchaSuccess, .captchaFail {
    height: 92px;
}
.captha .draggable, a.captchaRefresh:link, a.captchaRefresh:visited, a.captchaRefresh:active {
    background-image: url(../images/usaedu-bwm-captcha.png);
}
a.captchaRefresh:link, a.captchaRefresh:visited, a.captchaRefresh:active {
    top: 14px;
}
.captchaSuccess {
    background-color: #8cc63f;
}
.captchaFail {
    background-color: #da270e;
}
.form-item-captcha-response {
    display: none;
}

/* About Page */
.contact-form label {
    display: none;
}

.page-node-56 .page-header {
    display: none;
}


/* Footer */
.footer a {
    color: #232323;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.footer a:hover {
    text-decoration: none;
    color: #23a697;
}

.footer .nav>li>a:hover, .footer .nav>li>a:focus {
    background-color: transparent;
}

.footer .navbar-nav > li {
    clear: both;
    padding: 10px 15px;
}

.copyright {
    padding-top: 50px;
    font-size: 12px;
    text-align: right;
}

/* footer styles */

#footer {
    border-top: none;
    height: 1%;
    font: 14px/22px Arial, Helvetica, sans-serif;
}

#footer .center-holder {
    border-top: 1px solid #e2e0dd;
    padding: 53px 28px 20px;
}

#footer a {
    color: #232323;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#footer a:hover {
    text-decoration: none;
    color: #23a697;
}

#footer .col {
    float: right;
    width: 49%;
    text-align: right;
}

#footer .col:first-child {
    float: left;
    text-align: left;
}

#footer .nav a {
    font-family: "roboto_condensed", Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    padding-left: 40px;
    font-weight: 600;
}

#footer .title-holder {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin: 9px 0 17px auto;
    text-align: left;
    width: 421px;
    color: #000;
}

#footer .logo-client {
    width: 339px;
    height: 161px;
    text-align: left;
    margin: 0 0 30px auto;
}

#footer .logo-client img {
    width: 100%;
    height: auto;
}

#footer .text {
    display: block;
    margin: 0 0 14px;
}
/*............add collection popup css............*/
#modal-content #collection-node-form .form-item{
    margin-bottom: 30px;
}
#modal-content #collection-node-form .form-control{
  box-shadow: none;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 15px 8px 22px;
  outline: none;  
  width: 100%;
  height: 61px;  
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 8px;  
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#modal-content #collection-node-form #edit-body-und-0-value{
  width: 100% !important;
  min-height: 220px;
  max-height: 350px;  
  visibility: visible !important;  
}
#modal-content {
    padding: 21px 29px 30px !important;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100% !important;
}
#modalBackdrop{
    background: #000 !important;
}

/*View collection page*/
body {
    overflow-x: hidden;
}
.result-box {
    min-height: 200px !important;
    clear: both !important;
}
.views-field-nothing .col-sm-7{left:20px;}
.node-type-collection .page-header{display: none;}