/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";
// Uncomment the line bellow to use the zen grids extension that display the grid on the screen.
//@import "zen/background";  // Display the Zen Grid

// We are going to create a 12 columns grid with 22px gutters between
// columns (applied as 11px of left/right padding on each column).
$zen-column-count:  12;
$zen-gutter-width:  22px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;


/*
 * Center the page.
 */
$page-max-width: 1530px;

#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: $page-max-width;
}

/*
 * Containers for grid items and flow items.
 */
#page {
  @include zen-grid-container();
}

/*
 * Navigation bar
 */
@media all and (min-width: 841px) {
  #main {
    // padding-top: 3em; /* Move all the children of #main down to make room. */
    position: relative;
  }

  #navigation {
    position: absolute;
    top: 0; /* Move the navbar up inside #main's padding. */
    height: 3em;
    width: $zen-grid-width;
  }
}

/*
 * Small layout
 */
@media all and (max-width: 840px) {
  #header,
  #footer {
    clear: both;
  }

  body.front #header {
    left: zen-half-gutter() * -2;
    padding-left: zen-half-gutter() * 3;
    position: relative;
    width: 100%;
  }

  #header {
    // > .inner-wrapper,
    > .region-header {
      margin-top: 1.5em;
    }
  }

  #main {
    // margin-left: zen-half-gutter();
    // margin-right: zen-half-gutter();
    padding-left: zen-half-gutter();
    padding-right: zen-half-gutter();
  }
}

/*
 * Medium layout
 */
@media all and (min-width: 841px) and (max-width: 1113px) {
  $zen-column-count: 12;
  $zen-gutter-width: 22px;

  /*
   * Uncomment to display grid
   */
//  #page {
//    @include zen-grid-background();
//  }

  html,
  body {
    height: 100%;
  }

  #page {
    height: 100%;
  }

  #main {
    box-shadow: (-1 * zen-half-gutter()) 0px 0px 0px $bg-color-container;
    min-height: 100%;
  }
  
  body.front #header {
    left: zen-half-gutter() * -2;
    padding-left: zen-half-gutter() * 3;
    position: relative;
    width: 100%;
    height: 320px;
    
    > .inner-wrapper,
    > .region-header {
      left: zen-half-gutter() * -1;
      position: relative;
    }
  }

  .breadcrumb {
    left: $zen-gutter-width * -1 !important;
    padding-left: zen-half-gutter()!important;

    > ol {
      margin-left: zen-half-gutter() !important;
    }
  }

  /*
   * Apply the shared properties of grid items in a single, efficient ruleset.
   */
  // See the note about $zen-auto-include-item-base above.

  .sidebar-first,
  .two-sidebars {

    #main,
    .region-sidebar-first {
      @include zen-grid-item-base();
    }
  }

  #header,
  #footer {
    clear: both;
  }

  /*
   * The layout when there is no sidebars
   */
  .no-sidebars {

    #header,
    #footer {
      @include clearfix();
    }

    #main {
      margin-left: zen-half-gutter();
      margin-right: zen-half-gutter();
    }
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #main { /* Span 9 columns, starting in 4th column from left. */
      @include zen-grid-item(9, 4);
    }

    #header,
    #footer {
      @include zen-clear();
    }

    #header {
      > .inner-wrapper {
        margin-top: 3em;
      }
      > .region-header {
        margin-top: 1.5em;
      }
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
    }

  }

  /*
   * The layout when there is only one sidebar, the right one.
   */

  //.sidebar-second {
  //  #main { /* Span 9 columns, starting in 1st column from left. */
  //    @include zen-grid-item(9, 1);
  //  }
  //
  //  .region-sidebar-second { /* Span 3 column, starting in 10th column from left. */
  //    @include zen-grid-item(3, 10);
  //  }
  //}

  /*
   * The layout when there are two sidebars.
   */

  .two-sidebars {
    #main { /* Span 9 columns, starting in 4th column from left. */
      @include zen-grid-item(9, 4);
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
    }

    //.region-sidebar-second { /* Span 3 column, starting in 10th column from left. */
    //  @include zen-grid-item(3, 10);
    //}
  }
}

/*
 * Large layout
 */
@media all and (min-width: 1114px) and (max-width: 1338px) {
  $zen-column-count: 14;
  $zen-gutter-width: 26px;

  /*
   * Uncomment to display grid
   */
//  #page {
//    @include zen-grid-background();
//  }

  html,
  body {
    height: 100%;
  }

  #page {
    height: 100%;
  }

  #main {
    box-shadow: (-1 * zen-half-gutter()) 0px 0px 0px $bg-color-container;
    min-height: 100%;
  }
  
  body.front #header {
    left: zen-half-gutter() * -2;
    padding-left: zen-half-gutter() * 3;
    position: relative;
    width: 100%;
    height: 360px;
    
    > .inner-wrapper,
    > .region-header {
      left: zen-half-gutter() * -1;
      position: relative;
    }
  }

  .breadcrumb {
    left: zen-half-gutter() * -1 !important;
    padding-left: zen-half-gutter()!important;

    > ol {
      margin-left: zen-half-gutter() !important;
    }
  }

  /*
   * Apply the shared properties of grid items in a single, efficient ruleset.
   */
  // See the note about $zen-auto-include-item-base above.

  .two-sidebars,
  .sidebar-second {

    #main,
    #content,
    #header,
    #footer,
    .region-sidebar-first,
    .region-sidebar-second {
      @include zen-grid-item-base();
    }
  }

  .sidebar-first {

    #main,
    .region-sidebar-first {
      @include zen-grid-item-base();
    }
  }

  /*
   * The layout when there is no sidebars
   */
  .no-sidebars {

    #header,
    #footer {
      @include clearfix();
    }

    #main {
      margin-left: zen-half-gutter();
      margin-right: zen-half-gutter();
    }
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {

    #header,
    #footer {
      @include zen-clear();
    }
    #header {
      > .inner-wrapper {
        margin-top: 3em;
      }
      > .region-header {
        margin-top: 1.5em;
      }
    }

    #main { /* Span 11 columns, starting in 4th column from left. */
      @include zen-grid-item(11, 4);
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {

    #header,
    #footer {
     @include zen-grid-item(14, 1);
     @include zen-clear();
    }

    #main { /* Span 8 columns, starting in 4th column from left. */
      @include zen-grid-item(14, 1);
      @include zen-nested-container();
    }

    #content { /* Span 12 columns, starting in 1st column from left. */
      @include zen-grid-item(11, 1);
      @include zen-clear();
    }

    .region-sidebar-second { /* Span 3 column, starting in 14th column from left. */
      @include zen-grid-item(3, 12);
    }
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {

    #header,
    #footer {
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 11,
        $column-position: 1,
        $column-count: 11
      );
      @include zen-clear();
    }

    #header {
      @include zen-nested-container();
    }

    #header > .inner-wrapper {
      @include zen-grid-item-base();
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 8,
        $column-position: 1,
        $column-count: 11
      );
      @include leader(2);
    }

    #main { /* Span 8 columns, starting in 4th column from left. */
      @include zen-grid-item(11, 4);
      @include zen-nested-container();
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
    }

    #content { /* Span 8 columns, starting in 1st column from left. */
      @include zen-clear();
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 8,
        $column-position: 1,
        $column-count: 11
      );
    }

    .region-sidebar-second { /* Span 3 column, starting in 12th column from left. */
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 3,
        $column-position: 9,
        $column-count: 11
      );
    }
  }
}

/*
 * Extra Large layout
 */
@media all and (min-width: 1339px) {
  $zen-column-count: 17;
  $zen-gutter-width: 20px;

  /*
   * Uncomment to display grid
   */
  //#page {
  //  @include zen-grid-background();
  //}

  html,
  body {
    height: 100%;
  }

  #page {
    height: 100%;
  }

  #main {
    box-shadow: (-1 * zen-half-gutter()) 0px 0px 0px $bg-color-container;
    min-height: 100%;
  }
  
  body.front #header {
    left: zen-half-gutter() * -2;
    height: 430px;
    padding-left: zen-half-gutter() * 3;
    position: relative;
    width: 100%;
    
    > .inner-wrapper,
    > .region-header {
      left: zen-half-gutter() * -3;
      position: relative;
    }
  }

  .breadcrumb {
    left: zen-half-gutter() * -1 !important;
    padding-left: zen-grid-item-width(1, 13) !important;

    > ol {
      margin-left: zen-half-gutter() !important;
    }
  }

  /*
   * The layout when there is no sidebars
   */
  .no-sidebars {

    #main {
      @include clearfix();
    }

    #header,
    #content,
    #footer {
      @include zen-grid-item-base();
    }

    #header,
    #footer {
      @include zen-grid-item(17, 1);
    }

    #content { /* Span 15 columns, starting in 2nd column from left. */
      @include zen-grid-item(15, 2);
      @include zen-clear();
    }
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {

    #main,
    .region-sidebar-first {
      @include zen-grid-item-base();
    }

    #header {
      @include zen-clear();
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 13,
        $column-position: 1,
        $column-count: 14
      );
      @include zen-nested-container();

      > .inner-wrapper,
      > .region-header {
        // @include zen-grid-item-base();
        // Reset column counts to match nested grid
        @include zen-grid-item (
          $column-span: 12,
          $column-position: 2,
          $column-count: 13
        );
        @include leader(2);
      }
      > .region-header {
        @include leader();
      }
    }

    #footer {
      @include zen-clear();
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 12,
        $column-position: 2,
        $column-count: 14
      );
    }

    #main { /* Span 11 columns, starting in 4th column from left. */
      @include zen-grid-item(14, 4);
    }

    #content { /* Span 12 columns, starting in 2nd column from left. */
      @include zen-clear();
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 12,
        $column-position: 2,
        $column-count: 14
      );
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      /* All this crazinest calculation is just because the sidebar is fixed :( */
      $sb-column-span: 3;
      $page-mw: strip-units($page-max-width);
      $zuw: zen-unit-width($zen-column-count, $zen-grid-width) * $sb-column-span;
      $zuw: strip-units($zuw) / 100;
      $sb-max-width: $page-mw * $zuw;
      @include zen-grid-item($sb-column-span, 1);
      max-width: #{$sb-max-width}px;
    }

  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {

    #content,
    #header,
    #footer,
    .region-sidebar-second {
      @include zen-grid-item-base();
    }

    #header,
    #footer {
     @include zen-grid-item(16, 1);
     @include zen-clear();
    }

    #header {
      @include zen-nested-container();
    }

    #header > .inner-wrapper {
      @include zen-grid-item-base();
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 12,
        $column-position: 2,
        $column-count: 16
      );
      @include leader(2);
    }

    #main {
      @include clearfix();
    }

    #content { /* Span 11 columns, starting in 2nd column from left. */
      @include zen-grid-item(12, 2);
      @include zen-clear();
    }

    .region-sidebar-second { /* Span 3 column, starting in 14th column from left. */
      @include zen-grid-item(3, 15);
    }
  }

  /*
   * The layout when there are two sidebars.
   */

  .two-sidebars {

    #main,
    #content,
    #header,
    #footer,
    .region-sidebar-first,
    .region-sidebar-second {
      @include zen-grid-item-base();
    }

    #header {
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 13,
        $column-position: 1,
        $column-count: 14
      );
      @include zen-clear();
      @include zen-nested-container();
    }

    #header > .inner-wrapper {
      @include zen-grid-item-base();
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 8,
        $column-position: 2,
        $column-count: 13
      );
      @include leader(2);
    }

    #footer {
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 12,
        $column-position: 2,
        $column-count: 14
      );
      @include zen-clear();
    }

    #main { /* Span 8 columns, starting in 4th column from left. */
      @include zen-grid-item(14, 4);
      @include zen-nested-container();
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      /* All this crazinest calculation is just because the sidebar is fixed :( */
      $sb-column-span: 3;
      $page-mw: strip-units($page-max-width);
      $zuw: zen-unit-width($zen-column-count, $zen-grid-width) * $sb-column-span;
      $zuw: strip-units($zuw) / 100;
      $sb-max-width: $page-mw * $zuw;
      @include zen-grid-item($sb-column-span, 1);
      max-width: #{$sb-max-width}px;
    }

    #content { /* Span 9 columns, starting in 1st column from left. */
      @include zen-clear();
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 8,
        $column-position: 2,
        $column-count: 14 /* must match the number of columns in #main */
      );
    }

    .region-sidebar-second { /* Span 3 column, starting in 12th column from left. */
      // Reset column counts to match nested grid
      @include zen-grid-item (
        $column-span: 3,
        $column-position: 11,
        $column-count: 14 /* must match the number of columns in #main */
      );
    }
  }
}


/*
 * Stack sidebar to the top left corner
 */
@media all and (min-width: 841px) {

  .sidebar-first,
  .two-sidebars {

    .region-sidebar-first {
      //box-shadow: 2px 0 0px 0px rgba($bg-color, 0.1);
      height: 100%;
      left: auto;
      padding-left: 0;
      //padding-right: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      //z-index: 100;

      > .usaedu-scroll {
        box-shadow: 2px 0 0px 0px rgba($bg-color, 0.1);
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
        z-index: 100;

        > .block {
          @include box-sizing(border-box);
        }
      }
    }
  }

  body.admin-menu .region-sidebar-first {
    top: 29px;
  }
}
