tr.taxonomy-term-preview{background-color:#EEE;}tr.taxonomy-term-divider-top{border-bottom:none;}tr.taxonomy-term-divider-bottom{border-top:1px dotted #CCC;}.taxonomy-term-description{margin:5px 0 20px;}
.vertical-tabs fieldset.default-fallback,div.field-group-tabs-wrapper div.field-type-image fieldset,div.field-group-tabs-wrapper div.field-type-file fieldset{border:1px solid #CCCCCC;margin:1em 0;padding:2.5em 0 0;position:relative;}div.field-group-tabs-wrapper div.field-type-image legend,div.field-group-tabs-wrapper div.field-type-file legend,.vertical-tabs .field-group-fieldset legend{display:block;}form .ui-accordion h3,form .ui-accordion h3.ui-state-active{padding-left:2em;}.ui-accordion h3.ui-state-active{background:url("/misc/ui/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;}
