#field-overview tr.field-group .group-label,#field-display-overview tr.field-group .group-label{font-weight:bold;}#field-overview tr.static-region,#field-display-overview tr.static-region{background-color:#ddd;}#edit-refresh{display:none;}
.vertical-tabs fieldset.default-fallback,div.field-group-tabs-wrapper div.field-type-image fieldset,div.field-group-tabs-wrapper div.field-type-file fieldset{border:1px solid #CCCCCC;margin:1em 0;padding:2.5em 0 0;position:relative;}div.field-group-tabs-wrapper div.field-type-image legend,div.field-group-tabs-wrapper div.field-type-file legend,.vertical-tabs .field-group-fieldset legend{display:block;}form .ui-accordion h3,form .ui-accordion h3.ui-state-active{padding-left:2em;}.ui-accordion h3.ui-state-active{background:url("/misc/ui/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;}
