.ds-2col-fluid > .group-left{float:left;width:50%;}.ds-2col-fluid > .group-right{float:right;width:50%;}.ds-2col-fluid.group-one-column > .group-left,.ds-2col-fluid.group-one-column > .group-right{width:100%;float:none;}
