/* footer styles */
#footer{
	width:100%;
	overflow:hidden;
	display:table-footer-group;
	height:1%;
	font:18px/22px $font-family-base-arial;
	.center-holder{
		border-top:1px solid $base-grey-3;
		padding:53px 28px 20px;
	}
	a{
		color:$base-grey-2;
		transition:all .3s ease;
		&:hover{
			text-decoration:none;
			color:$base-dark-green-2;
		}
	}
	.col{
		float:right;
		width:49%;
		text-align:right;
		&:first-child{
			float:left;
			text-align:left;
		}
	}
	.nav{
		font-family:$font-family-base-roboto;
		text-transform:uppercase;
		padding-left:40px;
		ul{
			@extend %listreset;
		}
		li{
			margin:0 0 28px;
		}
	}
	.title-holder{
		font-family:$font-family-base;
		font-weight:300;
		text-transform:uppercase;
		display:block;
		margin:9px 0 17px auto;
		text-align:left;
		width:421px;
		color:$base-black;
	}
	.logo-client{
		width:424px;
		height:161px;
		text-align:left;
		margin:0 0 49px auto;
		img{
			width:100%;
			height:auto;
		}
	}
	.text{
		display:block;
		margin:0 0 14px;
	}
	@include mq($until: tablet){
		font-size:16px;
		line-height:20px;
		.center-holder{
			padding:35px 15px;
		}
		.title-holder{
			width:300px;
		}
		.logo-client{
			width:300px;
			height:114px;
		}
		.nav{
			li{
				margin-bottom:15px;
			}
		}
	}
	@include mq($until: mobile){
		font-size:13px;
		line-height:16px;
		.center-holder{
			padding:20px 15px 10px;
		}
		.col{
			float:none;
			width:100%;
			text-align:center;
			&:first-child{
				float:none;
				margin-bottom:20px;
				text-align:center;
			}
		}
		.title-holder{
			width:100%;
			text-align:center;
			margin-bottom:10px;
		}
		.logo-client{
			width:212px;
			height:81px;
			margin:0 auto 30px;
		}
		.nav{
			padding-left:0;
			li{
				display:inline-block;
				vertical-align:top;
				margin:0 5px 5px;
			}
		}
		.text{
			margin-bottom:10px;
		}
	}
}
/* page logo styles */
.logo-footer{
	margin:0 0 40px;
	width:404px;
	height:103px;
	img{
		width:100%;
		height:auto;
	}
	@include mq($until: tablet){
		width:300px;
		height:76px;
	}
	@include mq($until: mobile){
		width:202px;
		height:52px;
		margin:0 auto 15px;
	}
}