/* top panel styles */
.top-panel{
	width:100%;
	overflow:hidden;
	position:relative;
	height:100px;
	background:url(../images/img-1.jpg) no-repeat 50% 0;
	&.upload{
		background:$base-green;
		height:auto;
		padding:26px 0 25px;
		color:$base-white;
		&:after{
			display:none;
		}
		h1{
			font-size:$font-size-h1;
			line-height:48px;
			float:left;
			font-family: $font-family-base-roboto;
			font-weight:300;
			margin:0 26px 0 0;
			height:auto;
			text-transform:uppercase;
			&:after{
				display:none;
			}
			@include mq($until: mobile){
				float:none;
				width:100%;
			}
		}
		.btn{
			float:right;
			width: 286px;
			font-size:$font-size-base + 2;
			text-transform:uppercase;
			line-height:20px;
			font-weight: 300;
			padding:14px 5px 13px;
			transition: all 0.3s ease;
			@include mq($until: mobile){
				float:none;
				display:block;
				margin:30px auto 0;
			}
			span{
				font-weight:500;
			}
		}
		.rating-holder{
			margin:22px 0 0;
			span{
				line-height:22px;
				font-weight: 300;
				color:$base-white;
				max-width: none;
				opacity:1;
				@include mq($until: mobile){
					font-size:$font-size-base;
				}
			}
		}
		.star-rating{
			max-width: none;
			float:left;
			margin:0 10px 0 0;
		}
	}
	&:after{
		content:'';
		position:absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		z-index:1;
		background: rgba($base-green, 0.85);
	}
	h1{
		font-weight: 700;
		margin:0;
		font-size:35px;
		line-height:38px;
		white-space:nowrap;
		height:100px;
		position:relative;
		z-index:2;
		color:$base-white;
		@include mq($until: mobile){
			font-size:28px;
			line-height:30px;
		}
		&:after{
			content:'';
			display:inline-block;
			height:100px;
			width:1px;
			overflow:hidden;
			margin:0 0 0 -5px;
			vertical-align:middle;
		}
		span{
			vertical-align:middle;
			display:inline-block;
			white-space:normal;
		}
	}
	.search-bar{
		background:none;
		color:#fff;
		opacity: 1;
		position:relative;
		z-index:10;
		padding:40px 0;
		text-align:right;
		max-width: 1280px;
		margin:0 auto;
		@include mq($until: tablet){
			padding:40px 0 30px;
			text-align:center;
		}
		@include mq($until: mobile){
			padding:10px 0;
		}
		.hold{
			display:inline-block;
			margin:0 0 0 43px;
			text-align:left;
			@include mq($until: tablet){
				margin:0 0 0 15px;
				&:first-child{
					margin:0;
				}
			}
			@include mq($until: mobile){
				display:block;
				width:300px;
				margin:0 auto;
				&:first-child{
					margin:0 auto;
				}
			}
		}
		label{
			font-size:$font-size-base + 2;
			line-height:20px;
			font-weight: 300;
			padding:3px 15px 0 0;
			margin:0;
			display:inline-block;
			vertical-align:top;
			@include mq($until: tablet){
				font-size:$font-size-base - 2;
				line-height:16px;
				padding:5px 10px 0 0;
			}
		}
	}
}
/* text standard styles */
.text-standard{
	padding:50px 0;
	font-weight: 300;
	font-family: $font-family-base;
	@include mq($until: mobile){
		padding:30px 0;
	}
	p{
		margin:0;
	}
}
/* block standard styles */
.block-standard{
	padding:0 0 80px;
	@extend %clearfix;
	@include mq($until: mobile){
		padding:0;
	}
	.col{
		overflow:hidden;
		background:$base-brown;
		padding:56px 33px 56px 9999px;
		margin:0 -26px 0 -9999px;
		@include mq($until: mobile){
			height:auto !important;
			margin:0 -15px 0 -9999px;
			padding:30px 15px 30px 9999px;
		}
		h2{
			font-size:$font-size-h3;
			font-weight:300;
			margin:0 0 26px;
			font-family: $font-family-base-roboto;
			@include mq($until: mobile){
				font-size:$font-size-h4;
				line-height:28px;
			}
		}
	}
	/* content styles */
	.content{
		margin:0;
		padding:56px 0 0 26px;
		background:none;
		font-weight: 300;
		font-family: $font-family-base;
		@include mq($until: mobile){
			padding:15px 0 0;
			margin:0;
			height:auto !important;
		}
		h2{
			margin:0 0 20px;
			span{
				font-weight: 400;
			}
		}
		p{
			margin:0 0 26px;
		}
	}
	.list-btn{
		overflow:hidden;
		width:100%;
		font-family: $font-family-base;
		font-weight: 300;
	}
	.btn{
		display:block;
		margin:0 0 10px;
		text-align:left;
		white-space: normal;
		transition: all 0.3s ease;
		font-weight: 300;
		position:relative;
		line-height:18px;
		@include mq($until: tablet){
			font-size:12px;
		}
		@include mq($until: mobile){
			font-size:16px;
		}
		&.btn-primary{
			padding:15px 35px 15px 20px;
			@include mq($until: tablet){
				padding:12px 50px 12px 10px;
			}
			i{
				font-size:26px;
			}
		}
		&.btn-success{
			padding:16px 50px 14px 20px;
			@include mq($until: tablet){
				padding:12px 10px;
			}
			i{
				font-size:27px;
				margin:-13px 0 0;
				&.icon-nav{
					font-size:16px;
					margin:-7px 0 0;
				}
			}
		}
		span{
			overflow:hidden;
		}
		i{
			position:absolute;
			top:50%;
			margin:-10px 0 0;
			right:15px;
			width:28px;
		}
	}
	/* list styles */
	.list{
		@extend %listreset;
		overflow:hidden;
		margin:0 0 200px;
		position:relative;
		z-index: 1;
		border-radius: $badge-border-radius $badge-border-radius 0 0;
		@include mq($until: mobile){
			margin:0 0 80px;
		}
		&:after{
			content: "";
			position:absolute;
			width:52px;
			top:0;
			left:0;
			bottom:0;
			background:$base-dark-green;
			border-radius:$badge-border-radius 0 0 $badge-border-radius;
			z-index: 2;
		}
		li{
			position:relative;
			overflow:hidden;
			height:52px;
			&:after{
				content: "";
				position:absolute;
				bottom:0;
				left: 0;
				right:14px;
				height:1px;
				background:rgba($base-white,.3);
				z-index: 10;
			}
			&:first-child{
				.jcf-select{
					border-radius: $badge-border-radius $badge-border-radius 0 0;
				}
			}
			&:last-child{
				.jcf-select{
					border-radius:0 0 $badge-border-radius $badge-border-radius;
					&.jcf-drop-active{
						border-radius: 0;
					}
				}
				&:after{
					display:none;
				}
			}
		}
		.ol-item-index{
			position:absolute;
			top:0;
			left:0;
			z-index:10;
			font-size:20px;
			line-height:22px;
			font-family: $font-family-base;
			font-weight: 700;
			color:$base-white;
			height:52px;
			width:52px;
			text-align:center;
			white-space:nowrap;
			padding:16px 0 0;
			background:$base-dark-green;
			border-radius: $badge-border-radius;
		}
	}
	/* list info styles */
	.list-info{
		width:100%;
		overflow:hidden;
		@extend %listreset;
		font-family: $font-family-base;
		font-weight: 400;
		li{
			overflow:hidden;
			margin:0 0 10px;
			&.active {
				a {
					color:$base-white;
					&:after {
						left:0;
					}
				}
			}
		}
		a{
			display:block;
			background:$base-brown;
			border:none;
			padding:0;
			margin:0;
			color:$base-black;
			position:relative;
			z-index:1;
			&:after {
				content:'';
				position:absolute;
				top:0;
				left:100%;
				bottom:0;
				right:0;
				background:$base-green;
				transition:all .5s;
			}
			@include mq($until: tablet){
				font-size:16px;
			}
			&:hover{
				color:$base-white;
				&:after {
					left:0;
				}
			}
		}
		.page{
			float:right;
			width:125px;
			white-space:nowrap;
			text-align:right;
			padding:0 20px;
			color:$base-white;
			background:$base-green;
			font-weight: 700;
			position:relative;
			z-index: 1;
			&:after{
				content:'';
				display:inline-block;
				height:75px;
				width:1px;
				overflow:hidden;
				margin:0 0 0 -5px;
				vertical-align:middle;
			}
			span{
				vertical-align:middle;
				display:inline-block;
				white-space:normal;
			}
			i{
				float:none;
				font-weight:normal;
				margin:0 0 0 20px;
				position:relative;
				top:auto;
				right:auto;
			}
		}
		.txt{
			min-height:75px;
			overflow:hidden;
			white-space:nowrap;
			text-align:center;
			padding:0 20px;
			display:block;
			position:relative;
			z-index: 1;
			&:after{
				content:'';
				display:inline-block;
				height:75px;
				width:1px;
				overflow:hidden;
				margin:0 0 0 -5px;
				vertical-align:middle;
			}
			span{
				vertical-align:middle;
				display:inline-block;
				white-space:normal;
			}
		}
	}
	.hold{
		width:100%;
		overflow:hidden;
		.list-info{
			width: auto;
			@include mq($until: mobile){
				width:100%;
			}
		}
	}
	.txt-inf{
		float:right;
		width:50.99%;
		padding:0 0 0 20px;
		@include mq($until: mobile){
			width:100%;
			float:none;
			padding:0 0 20px;
		}
		h3{
			font-size:$font-size-h6;
			font-weight: 700;
			margin:0 0 5px;
			line-height:18px;
		}
		p{
			margin:0 0 10px;
		}
	}
	/* list content styles */
	.list-content{
		@extend %listreset;
		overflow:hidden;
		margin:0 0 25px;
		padding:0 0 21px;
		border-bottom:1px solid $base-border-color;
		li{
			padding:0 0 55px;
			@include mq($until: mobile){
				padding:0 0 20px;
			}
		}
		.ol-item-index{
			width:50px;
			height:50px;
			font-size:28px;
			line-height:30px;
			padding:12px 0 0;
			font-weight: 900;
			margin:10px 0 0;
			background:$base-dark-green;
			border-radius: $badge-border-radius;
			color:$base-white;
			float:left;
			text-align:center;
			@include mq($until: mobile){
				float:none;
				margin:0 auto 20px;
				display:block;
			}
		}
		ul{
			@extend %listreset;
			overflow:hidden;
			padding:0 0 0 29px;
			margin:0 -5px;
			font-weight: 300;
			letter-spacing: -4px;
			font-size:0;
			line-height:0;
			@include mq($until: tablet){
				padding:0 0 0 15px;
			}
			@include mq($until: mobile){
				padding:0;
			}
			li{
				padding:0 5px 5px;
				width:25%;
				display:inline-block;
				letter-spacing: normal;
				vertical-align:top;
				font-size:$font-size-base;
				line-height:22px;
				@include mq($until: tablet){
					font-size:$font-size-base - 4;
				}
				@include mq($until: mobile){
					width:33.333%;
					font-size:$font-size-base - 3;
				}
				&.active{
					.box{
						color:$base-white;
						background:$base-green;
					}
				}
			}
		}
	}
	/* box styles */
	.box{
		width:100%;
		overflow:hidden;
		height:75px;
		white-space:nowrap;
		text-align:center;
		font-weight: 400;
		display:inline-block;
		color:$base-black;
		background:$base-brown;
		padding:0 3px;
		transition: color, background 0.3s ease;
		vertical-align:top;
		&:after{
			content:'';
			display:inline-block;
			height:75px;
			width:1px;
			overflow:hidden;
			margin:0 0 0 -5px;
			vertical-align:middle;
		}
		span{
			vertical-align:middle;
			display:inline-block;
			white-space:normal;
			font-weight: 300;
		}
		&:hover{
			text-decoration:none;
			color:$base-white;
			background:$base-green;
		}
	}
	.info{
		overflow:hidden;
		font-weight: 300;
		margin:0 0 50px;
		line-height:33px;
		@include mq($until: mobile){
			margin:0;
		}
		h2{
			margin:0 0 7px;
		}
		p{
			margin:0 0 50px;
		}
		.btn{
			width:464px;
			font-size:$font-size-base + 4;
			color:$base-white;
			text-align:center;
			text-transform:uppercase;
			font-weight: 700;
			padding:15px 5px;
			&:focus,
			&:hover{
				color:$base-green;
			}
			@include mq($until: mobile){
				width:100%;
			}
		}
	}
	.link{
		overflow:hidden;
		text-align:right;
		margin:0 0 15px;
		line-height:22px;
		a{
			color:$base-black;
			text-decoration:underline;
			&:hover{
				text-decoration:none;
			}
		}
	}
}
/* form standard styles */
.form-standard{
	width:100%;
	overflow:hidden;
}
.block-upload{
	overflow:hidden;
	margin:0 0 40px;
	.block-inf{
		overflow:hidden;
	}
	.wrapp{
		overflow:hidden;
		margin:0 0 54px;
		@include mq($until: mobile){
			margin:0 0 30px;
		}
	}
	.block{
		width:100%;
		@extend %clearfix;
		position:relative;
		background:$base-brown;
		border-radius: $badge-border-radius;
		padding:45px 28px 76px;
		@include mq($until: tablet){
			padding:45px 20px 60px;
		}
		@include mq($until: mobile){
			height:auto !important;
		}
	}
	.btn-list{
		overflow:hidden;
		margin:-35px auto 0;
		position:relative;
		width:206px;
	}
	.btn{
		display:block;
		padding:8px 5px;
		font-weight: 700;
		text-transform:uppercase;
		transition: background 0.3s ease;
		width:100%;
		span{
			display:none;
		}
		&.active{
			span{
				display:inline-block;
			}
		}
	}
	.ico-list{
		@extend %listreset;
		overflow:hidden;
		position:absolute;
		top:16px;
		left:30px;
		padding:0 30px 0 0;
		li{
			float:left;
			padding:0 10px 0 0;
		}
		a{
			color:$base-black;
			&:hover{
				text-decoration:none;
				opacity: .6;
			}
		}
	}
	.ico{
		position:absolute;
		top:14px;
		right:16px;
		font-size:$font-size-base + 4;
		color:$base-light-green;
		&:active,
		&:focus,
		&:hover{
			text-decoration:none;
			opacity: .6;
		}
		i{
			&.icon-file{
				font-size:$font-size-base + 8;
				color:$base-green;
			}
		}
		&.ico-1{
			i{
				&.icon-file{
					color:$base-light-green;
				}
			}
		}
	}
	h2{
		font-size:$font-size-h3;
		line-height:33px;
		color:$base-black;
		margin:0 0 23px;
		font-weight: 400;
		overflow:hidden;
		font-family: $font-family-base-roboto;
		@include mq($until: tablet){
			font-size:$font-size-base + 6;
			line-height:26px;
		}
		a{
			color:$base-black;
			&:hover{
				text-decoration:none;
				opacity: .6;
			}
		}
	}
	.txt{
		font-weight:800;
		display:block;
		font-size:$font-size-base - 4;
		line-height:14px;
		text-transform:uppercase;
		color:$base-grey-4;
		word-wrap: break-word;
		a{
			color:$base-grey-4;
			transition: color 0.3s ease;
			&:focus,
			&:hover{
				text-decoration:none;
				opacity: .6;
			}
		}
	}
	.rating-holder{
		margin:22px 0 0;
		span{
			font-size:$font-size-base;
			line-height:18px;
			font-weight: 300;
		}
	}
	.star-rating{
		a{
			color:$base-grey-5;
		}
	}
	.block-upload-1 {
		.wrapp {
			margin-bottom:58px;
		}
	}
}
/* form sort styles */
.form-sort{
	overflow:hidden;
	font-weight:500;
	font-style:italic;
}
.pagination-hold{
	border-top:1px solid $base-border-color;
	margin:0 -320px -12px;
	padding:40px 320px 0;
}
/* pagination styles */
.pagination{
	margin:15px 0 0;
	@include mq($until: mobile){
		letter-spacing: -4px;
		font-size:0;
		line-height:0;
		text-align:center;
		display:block;
		margin:15px 0;
	}
	li{
		@include mq($until: mobile){
			display:inline-block;
			vertical-align:top;
		}
		&:first-child{
			a{
				margin:0 22px 0 0;
				@include mq($until: mobile){
					margin:0 10px 0 0;
				}
			}
		}
		&.done{
			opacity:0.5;
		}
		&:last-child{
			a{
				margin:0 0 0 26px;
				@include mq($until: mobile){
					margin:0 0 0 10px;
				}
			}
		}
		&.active{
			a{
				color:$pagination-hover-color;
				font-weight: 700;
			}
		}
		a{
			border:none;
			margin:0 13px;
			padding:0;
			font-size:$font-size-base + 2;
			font-weight: 300;
			@include mq($until: tablet){
				margin:0 9px;
			}
			@include mq($until: mobile){
				margin:0 6px;
				letter-spacing: normal;
				font-size:$font-size-base + 2;
				line-height:20px;
			}
		}
		i{
			font-size:$font-size-base;
		}
	}
	&.style-2{
		margin-top:16px;
		> li{
			&:first-child{
				> a{
					margin:0 5px 0 0;
				}
			}
			&:last-child{
				> a{
					margin:0 0 0 5px;
				}
			}
			&.active{
				a{
					background:$base-lilac;
					color:$base-white;
				}
			}
			a{
				font-size:14px;
				line-height:18px;
				font-weight:900;
				display:block;
				width:25px;
				padding:3px 5px;
				text-align:center;
				color:$base-white;
				background:$base-lilac-2;
				border-radius:5px;
				margin:0 5px;
				&:hover{
					background:$base-lilac;
				}
			}
		}
	}
}
.hold-upload{
	overflow:hidden;
	padding:37px 0;
	font-size:$font-size-base - 4;
	line-height:14px;
	color:$base-grey;
	@include mq($until: mobile){
		padding:20px 0;
	}
	p{
		margin:24px 0 0;
		font-weight:300;
	}
}
.nav-page{
	&.green{
		background:$base-green;
		font-size:$font-size-base - 4;
		line-height:14px;
		.hold{
			max-width: 
		}
		a{
			color:$base-white;
			text-transform:none;
			font-weight: 300;
		}
	}
	&.back{
		padding:19px 117px;
		overflow:hidden;
		@include mq($until: tablet){
			padding:19px 15px;
		}
	}
}
/* section rating styles */
.section-rating{
	border-bottom:1px solid $base-border-color;
	padding:60px 320px 26px;
	margin:0 -320px 50px;
	font-size:$font-size-base - 4;
	line-height:14px;
	color:$base-grey-6;
	font-weight: 300;
	@include mq($until: mobile){
		margin:0 -320px 30px;
		padding:30px 320px 26px;
	}
	.icon-file{
		float:left;
		width:70px;
		font-size:64px;
		line-height:66px;
		color:$base-green;
		margin:0 7px 0 0;
		@include mq($until: mobile){
			width:50px;
		}
	}
	.txt{
		overflow:hidden;
		font-family: $font-family-base-roboto;
	}
	h1{
		font-size:$font-size-h3;
		line-height:32px;
		margin:2px 0 12px;
		color:$base-black;
		@include mq($until: mobile){
			font-size:$font-size-h4;
			line-height:28px;
		}
		a{
			color:$base-black;
			outline: none;
			&:focus,
			&:hover{
				text-decoration:none;
				opacity: .6;
			}
		}
	}
	h2{
		font-size:$font-size-base + 2;
		line-height:20px;
		color:$base-grey-5;
		margin:0 0 16px;
		text-transform:uppercase;
		a{
			color:$base-grey-5;
			&:focus,
			&:hover{
				text-decoration:none;
				opacity: .6;
			}
		}
	}
	.rating-holder{
		overflow:hidden;
		margin:2px 0 14px;
		font-size:$font-size-base + 4;
		line-height:22px;
		font-weight: 300;
		span{
			font-size:$font-size-base;
			line-height:18px;
			opacity: 1;
		}
	}
	.star-rating{
		li{
			margin:0 0 0 5px;
		}
		a{
			color:$base-grey-5;
		}
	}
	p{
		margin:0;
		@include mq($until: mobile){
			margin:0 0 15px;
		}
		a{
			color:$base-grey-6;
			text-decoration:underline;
			&:hover{
				text-decoration:none;
			}
		}
	}
	.btn{
		width:205px;
		padding:10px 5px;
		float:right;
		font-size:$font-size-base + 2;
		line-height:20px;
		@include mq($until: mobile){
			width:100%;
		}
	}
}
.section-rating-1 {
	padding-bottom:22px;
	margin-bottom:32px;
}
/* select rating styles */
.select-rating{
	overflow:hidden;
	padding:0 0 66px;
	@include mq($until: mobile){
		padding:0 0 30px;
	}
	.rating-holder{
		overflow:hidden;
		margin:0 0 27px;
		font-size:$font-size-base;
		line-height:18px;
		font-weight: 300;
		color:$base-black;
		span{
			opacity: 1;
		}
		.text{
			font-size:$font-size-base - 4;
			line-height:14px;
			color:$base-grey;
		}
	}
	.star-rating{
		font-size:$font-size-base + 4;
		line-height:22px;
		margin:0 8px 0 0;
		li{
			margin:0 0 0 5px;
		}
		a{
			color:$base-grey-5;
		}
	}
	.form-control{
		font-weight: 300;
		max-width: 100%;
		height:212px;
		max-height: 212px;
		overflow: auto;
		line-height:20px;
		padding:25px 22px;
		&:focus{
			border-color:$base-green;
		}
	}
	.button-holder{
		.btn{
			float:right;
			display: block;
			font-size: 18px;
			font-weight: 700;
			height: 50px;
			line-height: 22px;
			margin: 0 0 0 auto;
			text-transform: uppercase;
			width: 205px;
			@include mq($until: mobile){
				width:100%;
			}
		}
	}
}
/* user ratings styles */
.user-ratings{
	overflow:hidden;
	background:$base-brown;
	.title{
		border-bottom:1px solid $base-border-color;
		padding:46px 320px 34px;
		margin:0 -320px -1px;
		font-size:$font-size-base;
		line-height:18px;
		color:$base-black;
		font-weight: 300;
		@include mq($until: mobile){
			padding:30px 320px;
		}
	}
	p{
		opacity: .5;
		margin:0;
	}
	h1{
		font-size:$font-size-h3;
		line-height:32px;
		margin:0 0 3px;
		font-family: $font-family-base-roboto;
	}
	.block{
		overflow:hidden;
		padding:54px 160px 50px;
		margin:0 -160px;
		border-top:1px solid $base-border-color;
		@include mq($until: mobile){
			padding:20px 160px;
		}
		h2{
			font-family: $font-family-base-roboto;
			font-size:$font-size-h5;
			line-height:20px;
			margin:0 0 8px;
			color:$base-black;
			a{
				color:$base-black;
				outline:none;
				&:focus,
				&:hover{
					text-decoration:none;
					opacity: .6;
				}
			}
		}
	}
	.rating-holder{
		margin:0;
		.text{
			max-width: 100%;
			font-size:$font-size-base;
			line-height:18px;
			font-weight: 300;
			display:block;
			@include mq($until: mobile){
				margin:0 0 20px;
			}
		}
	}
	.star-rating{
		max-width: 100%;
		margin:0 0 8px;
		li{
			margin:0 0 0 6px;
		}
		a{
			color:$base-grey-5;
			position:relative;
			text-align:center;
			&:hover{
				.path1:before{
					color:$base-yellow;
				}
			}
		}
		.icon-star-half {
			width:19px;
			height:19px;
			font-size:19px;
			display:inline-block;
			vertical-align:top;
			position:relative;
			&:before{
				content:"";
				margin-left:100%;
			}
			span {
				right:0;
				top:0;
				opacity:1;
				display:block;
				vertical-align:top;
				max-width:none;
				position:absolute;
			}
		}
	}
	.text-block{
		overflow:hidden;
		font-weight: 300;
		font-size:$font-size-base - 2;
		line-height:26px;
		color:$base-black;
		p{
			margin:0;
			opacity: 1;
		}
	}
}
.block-search{
	@extend %clearfix;
	padding:24px 200px 7px;
	margin:18px -200px 0;
	border-top:1px solid $base-border-color;
	.btn{
		width:193px;
		height:40px;
		padding:5px;
		border-radius:$badge-border-radius;
		font-weight:300;
		font-size:$font-size-base - 2;
		text-transform:uppercase;
		margin:5px 20px 0 0;
		text-align:left;
		@include mq($until: mobile){
			width:100%;
		}
		i{
			margin:3px 13px 0 0;
			display:inline-block;
			vertical-align:top;
		}
		&.btn-primary{
			border-radius:0;
			float:right;
			margin:0;
			height:50px;
			text-align:center;
			font-size:$font-size-base;
			line-height:18px;
			width:204px;
			@include mq($until: mobile){
				float:none;
				width:100%;
				margin:20px 0 0;
			}
		}
	}
	.btn-hold{
		float:left;
		margin:0 23px 0 0;
		@include mq($until: mobile){
			margin:0 15px 0 0;
			float:none;
		}
	}
}
/* block-profile */
.block-profile{
	overflow:hidden;
	margin:-11px 0 0;
	position:relative;
	h2{
		font-size:$font-size-h3;
		line-height:32px;
		color:$base-black;
		font-weight: 300;
		margin:0 0 26px;
		max-width: 660px;
		padding:0 0 25px;
		border-bottom:1px solid $base-border-color;
		font-family: $font-family-base-roboto;
	}
	h3{
		font-size:$font-size-h5;
		line-height:20px;
		color:$base-black;
		font-weight:300;
		margin:0 0 12px;
	}
}
/* form-profile */
.form-profile{
	overflow:hidden;
	color:#000;
	margin-bottom:90px;
	input{
		font-weight: 300;
	}
	label{
		font-weight: 300;
		font-size:$font-size-base + 2;
		line-height:20px;
		margin:0 0 18px;
		color:$base-black;
	}
	.hold{
		overflow:hidden;
		padding:33px 0 0;
	}
	.btn{
		float:right;
		width:205px;
		height:50px;
		text-transform:uppercase;
		font-weight:700;
		@include mq($until: mobile){
			width:100%;
		}
	}
	.btn-hold{
		overflow:hidden;
		padding:8px 0 0;
	}
	.form-group{
		margin:0 0 20px;
	}
}
/* about form */
.about-form {
	background:$base-green;
	margin-bottom:10px;
	height:56px;
	position:relative;
	input {
		float:left;
		text-align:left;
		margin:0;
		padding:0 50px 0 20px;
		width:100%;
		height:56px;
		color:$base-white;
		font-size: 16px;
		line-height:56px;
		border:0;
		background:none;
		outline:none;
		@include set-placeholder-color ($base-white);
	}
	[type="submit"] {
		position:absolute;
		border:none;
		right:19px;
		top:50%;
		margin-top:-19px;
		background:none;
		font-size:26px;
		color:$base-white;
		padding:0;
	}
}