/* page styles */
.lilac{
	.nav-page{
		background:$base-lilac;
	}
	.block-standard{
		.list-content{
			padding:0;
			border-bottom:0;
			margin-bottom:7px;
			ul{
				li{
					&.active{
						.box{
							background:$base-lilac;
						}
					}
				}
			}
			.ol-item-index{
				background:$base-lilac-2;
			}
		}
		.box{
			cursor:pointer;
			&:hover{
				background:$base-lilac;
				color:$base-white;
			}
		}
		.btn-box{
			.btn{
				padding:5px;
			}
		}
		.post-box{
			p{
				margin-bottom:0;
			}
		}
		.steps-form{
			.btn{
				padding:11px 12px 9px;
			}
		}
	}
	.form-control{
		&:focus{
			border-color:$base-lilac;
		}
	}
}
/* page nav styles */
.nav-page{
	padding:38px 0 36px;
	text-transform:uppercase;
	font:20px/24px $font-family-base;
	a{
		color:$base-white;
		transition:all 0.3s ease;
		&:hover{
			opacity:0.6;
			text-decoration:none;
		}
	}
	.nav{
		margin:0 -2px;
		ul{
			@extend %listreset;
			@extend %clearfix;
			margin-left:-103px;
		}
		li{
			float:left;
			margin:0 0 0 103px;
			&.active{
				font-weight:900;
			}
		}
	}
	.btn-holder{
		text-align:right;
		margin:-38px 0 -36px;
		padding:38px 0 36px;
		position:relative;
		&.open{
			.btn-logout{
				opacity:0.6;
			}
		}
	}
	.btn-logout{
		font-weight:700;
		&:focus{
			text-decoration:none;
		}
	}
	.dropdown-menu{
		font:300 24px/24px $font-family-base-roboto;
		text-transform:uppercase;
		right:-3px;
		left:20px;
		text-align:center;
		box-shadow:none;
		border:0;
		margin-top:0;
		padding:34px 19px 4px;
		color:$base-lilac;
		.text{
			display:block;
			margin:0 15px 24px;
		}
		.btn{
			display:block;
			margin:0 0 10px;
			font:700 18px/22px $font-family-base;
			transition:all 0.3s ease;
			text-transform:uppercase;
			width:100%;
			padding:14px 15px 12px;
			&:hover{
				opacity:1;
			}
		}
	}
	@include mq($until: tablet){
		padding:30px 0;
		.nav{
			margin:0;
			ul{
				margin-left:0;
			}
			li{
				margin:0 0 5px 30px;
			}
		}
		.btn-holder{
			margin:0 0 -30px;
			padding:0 0 30px;
		}
		.dropdown-menu{
			left:0;
			right:0;
		}
	}
	@include mq($until: mobile){
		.nav{
			li{
				float:none;
				margin:0 0 5px;
			}
		}
		.btn-holder{
			text-align:left;
		}
	}
}
.nav-page-1{
	background:$base-light-green;
}
/* dashboard content styles */
.dashboard-content{
	.jcf-scrollable{
		overflow:auto;
		height:1168px;
		width:100% !important;
	}
	.col{
		color:$base-white;
		&:last-child{
			.btn-info{
				&:active,
				&:focus,
				&:hover{
					background:$base-lilac-2;
				}
			}
		}
		&:first-child{
			color:$base-black;
			position:relative;
			&:before{
				position:absolute;
				content:'';
				top:0;
				left:-9999px;
				padding-left:9999px;
				right:-25px;
				background:$base-brown;
				bottom:0;
				z-index:-1;
			}
			.btn-more{
				color:$base-black;
			}
			.btn-details{
				a{
					color:$base-black;
				}
				span{
					color:$base-grey-5;
				}
			}
			.btn{
				width:50px;
				font-size:22px;
				line-height:24px;
			}
			.division{
				height:auto;
				&:nth-child(even){
					&:before{
						display:none;
					}
					.btn{
						&:active,
						&:focus,
						&:hover{
							background:$base-brown;
						}
					}
				}
				&:nth-child(odd){
					&:before{
						position:absolute;
						content:'';
						top:0;
						left:-9999px;
						padding-left:9999px;
						right:-25px;
						background:$base-white;
						bottom:0;
						z-index:-1;
					}
				}
				&:first-child{
					.btn-details{
						font-size:25px;
						line-height:28px;
						font-weight:300;
					}
				}
			}
			.title-holder{
				&:before{
					left:-362px;
					right:0;
					background:$base-border-color;
				}
			}
			.star-rating{
				li{
					&.active{
						a{
							color:$base-yellow;
						}
					}
				}
				a{
					color:#b9b9b9;
					&:hover{
						color:$base-yellow;
					}
				}
			}
			.division-box{
				border-color:$base-border-color;
			}
		}
	}
	.division{
		padding:74px 15px 61px 0;
		font:300 14px/26px $font-family-base;
		position:relative;
		height:100%;
		&:before{
			position:absolute;
			content:'';
			top:0;
			right:-9999px;
			padding-right:9999px;
			left:-25px;
			background:$base-lilac-2;
			bottom:0;
			z-index:-1;
		}
		p{
			margin:0;
		}
	}
	.title-holder{
		padding:0 10px 50px 0;
		position:relative;
		@extend %clearfix;
		margin:0 0 35px;
		text-transform:uppercase;
		&:before{
			position:absolute;
			content:'';
			left:0;
			right:-200px;
			height:1px;
			background:#a994c1;
			bottom:0;
		}
		+ .division-box{
			padding-top:0;
			border-top:0;
		}
	}
	.title{
		float:left;
		font:300 40px/48px $font-family-base-roboto;
		max-width:68%;
	}
	.btn-info{
		width:208px;
		font:700 18px/22px $font-family-base;
		padding:12px;
		text-transform:uppercase;
		[class^="icon-"]{
			font-size:25px;
			line-height:29px;
			display:inline-block;
			vertical-align:middle;
			margin-bottom:-4px;
		}
	}
	.division-box{
		padding:35px 45px 0 0;
		margin:0 0 35px;
		border-top:1px solid #a994c1;
		&:first-child{
			padding-top:0;
			border-top:0;
		}
	}
	.btn-details{
		font:18px/28px $font-family-base-roboto;
		display:block;
		position:relative;
		margin:0 0 5px;
		&:before{
			content:"\e60c";
			font-family:'icomoon';
			position:absolute;
			top:3px;
			font-size:16px;
			line-height:24px;
			right:-25px;
		}
		a{
			transition:all 0.3s ease;
			color:$base-white;
			&:hover{
				text-decoration:none;
				opacity:0.7;
			}
		}
		span{
			display:block;
			text-transform:uppercase;
		}
	}
	.btn-more{
		color:$base-white;
		font:12px/16px $font-family-base;
		transition:all 0.3s ease;
		&:hover{
			text-decoration:none;
			color:$base-lilac;
		}
	}
	@include mq($until: tablet){
		.btn-info{
			width:125px;
		}
		.division{
			padding-right:0;
		}
		.title{
			max-width:80%;
		}
		.jcf-scrollable{
			height:1380px;
		}
	}
	@include mq($until: mobile){
		.col{
			height:auto !important;
			&:first-child{
				.title-holder{
					&:before{
						left:0;
					}
				}
			}
		}
		.title{
			font-size:30px;
			line-height:38px;
			max-width:72%;
		}
		.division{
			padding:30px 0;
		}
		.division-box{
			margin-bottom:20px;
			padding:20px 15px 0 0;
		}
		.title-holder{
			padding:0 0 20px;
			margin-bottom:20px;
			&:before{
				right:0;
			}
		}
		.btn-info{
			padding:5px;
		}
		.btn-details{
			&:before{
				right:-13px;
			}
		}
		.jcf-scrollable{
			height:auto !important;
		}
	}
}
.rating-holder{
	margin:16px 0 7px;
	font:18px/22px $font-family-base;
	span{
		opacity:0.5;
		max-width:68%;
		font-weight:300;
		display:inline-block;
		vertical-align:middle;
	}
	@include mq($until: mobile){
		span{
			display:block;
			max-width:100%;
		}
	}
}
/* star rating */
.star-rating{
	@extend %clearfix;
	@extend %listreset;
	margin:0 19px 0 0;
	display:inline-block;
	vertical-align:middle;
	max-width:50%;
	@include mq($until: tablet){
		max-width:100%;
	}
	li{
		float:left;
		margin:0 0 0 7px;
		&:first-child{
			margin-left:0;
		}
		&.active{
			a{
				color:$base-yellow;
			}
		}
	}
	a{
		color:$base-white;
		transition:all 0.3s ease;
		&:focus,
		&:hover{
			text-decoration:none;
			color:$base-yellow;
		}
	}
	@include mq($until: mobile){
		display:block;
		margin:0 0 5px;
	}
}
/* styles form */
.form-group{
	margin-bottom:30px;
	@extend %clearfix;
	@include mq($until: mobile){
		margin-bottom:20px;
	}
}
.form-control{
	@include box-shadow(none);
	font-size:18px;
	line-height:22px;
	padding:8px 15px 8px 22px;
	outline:none;
	&:focus{
		border-color:$base-light-green-1;
		@include box-shadow(none);
	}
	@include mq($until: mobile){
		font-size:14px;
		line-height:49px;
		height:49px;
	}
}
/* collection form */
.collection-form{
	textarea{
		width:100% !important;
		min-height:220px;
		max-height:350px;
	}
	.btn{
		display:block;
		transition:all 0.3s ease;
		width:200px;
		margin:0 0 0 auto;
		padding:14px 12px;
		text-transform:uppercase;
		font:700 18px/22px $font-family-base;
	}
	@include mq($until: mobile){
		textarea{
			min-height:150px;
		}
		.btn{
			font-size:16px;
			line-height:20px;
			padding:10px 5px;
		}
	}
}
/* setting form */
.setting-form{
	margin:0 -30px -30px 0;
	padding:0 30px 0 0;
	.btn{
		float:right;
		transition:all 0.3s ease;
		padding:14px 12px;
		text-transform:uppercase;
		font:700 18px/22px $font-family-base;
		width:203px;
		margin:12px 0 0;
	}
	.columns{
		overflow:hidden;
		padding:35px 0 0;
		.col{
			float:right;
			width:44%;
			position:relative;
			padding:0 6px;
			z-index:1;
			&:first-child{
				float:left;
				width:55.7%;
			}
			&:last-child{
				padding-left:29px;
				&:before{
					position:absolute;
					content:'';
					left:0;
					right:-9999px;
					background:$base-brown;
					top:-35px;
					bottom:-9999px;
					z-index:-1;
				}
				.jcf-checkbox{
					background:$base-white;
					border-color:$base-white;
				}
			}
		}
	}
	label{
		display:inline-block;
		vertical-align:middle;
		max-width:78%;
		font:300 18px/23px $font-family-base;
		margin:0;
	}
	.input-row{
		margin:0 0 23px;
		min-height:46px;
	}
	@include mq($until: mobile){
		margin:0;
		padding:0;
		.columns{
			.col{
				float:none;
				width:100%;
				padding:0;
				&:first-child{
					float:none;
					width:100%;
				}
				&:last-child{
					padding-left:0;
					.jcf-checkbox{
						background:$base-brown;
						border-color:$base-brown;
					}
				}
				&:before{
					display:none;
				}
			}
		}
		h1{
			display:table-header-group;
		}
		.btn{
			float:none;
			display:table-footer-group;
			font-size:16px;
			line-height:20px;
			padding:10px 5px;
		}
	}
}
/* collection content styles */
.collection-content{
	padding:76px 0 0;
	&.collection{
		padding:34px 0 0;
	}
	.hold-upload{
		padding:0;
		margin:0 0 37px; 
	}
	.pagination-hold{
		padding:0;
		margin:-10px 0 0;
		border-top:0;
	}
	@include mq($until: mobile){
		padding-top:35px;
		.hold-upload{
			margin-bottom:20px;
		}
	}
}
/* heading page */
.heading-page{
	max-width:1604px;
	margin:0 auto 36px;
	padding:0 0 23px;
	border-bottom:1px solid $base-border-color;
	color:$base-black;
	.btn{
		transition:all 0.3s ease;
		padding:11px 12px 9px;
		font:700 18px/22px $font-family-base;
		display:block;
		width:100%;
		text-transform:uppercase;
		text-align:center;
		&.btn-info{
			float:right;
			width:205px;
			@include mq($until: mobile){
				float:none;
				width:100%;
			}
		}
	}
	h1{
		overflow:hidden;
		margin:0;
		font:300 40px/45px $font-family-base-roboto;
		text-transform:uppercase;
		span{
			display:block;
			font:300 18px/29px $font-family-base;
		}
	}
	@include mq($until: mobile){
		margin-bottom:10px;
		h1{
			margin-bottom:15px;
		}
	}
}
/* result box */
.result-box{
	max-width:1604px;
	margin:0 auto 60px;
	padding:0 0 52px;
	border-bottom:1px solid $base-border-color;
	font-weight:300;
	font-size:14px;
	line-height:26px;
	color:$base-black;
	h2{
		margin:11px 0 14px;
		font:30px/33px $font-family-base-roboto;
		a{
			color:$base-black;
			transition:all 0.3s ease;
			&:hover{
				opacity:0.6;
				text-decoration:none;
			}
			&:focus{
				outline:none;
				text-decoration:none;
			}
		}
		span{
			color:$base-grey-5;
			font-size:18px;
			line-height:23px;
			text-transform:uppercase;
		}
	}
	.panel{
		overflow:hidden;
		margin:0 0 5px;
	}
	.rating-holder{
		float:left;
		width:72%;
		padding:0 10px 0 0;
		margin:0;
		font-size:16px;
		line-height:20px;
	}
	.star-rating{
		font-size:17px;
		a{
			color:$base-grey-5;
			&:hover{
				color:$base-yellow;
			}
		}
	}
	.settings{
		float:right;
		width:28%;
		@extend %listreset;
		text-align:right;
		font-size:19px;
		line-height:24px;
		li{
			display:inline-block;
			vertical-align:top;
			margin:0 0 0 2px;
		}
		a{
			color:$base-black;
			transition:all 0.3s ease;
			&:hover{
				color:$base-lilac;
				text-decoration:none;
			}
		}
	}
	p{
		margin-bottom:12px;
	}
	.signature{
		opacity:0.5;
		font-size:12px;
		line-height:16px;
		font-weight:400;
		a{
			color:$base-black;
			text-decoration:underline;
			&:focus,
			&:hover{
				color:$base-black;
				text-decoration:none;
			}
		}
	}
	.btn-list{
		@extend %listreset;
		li{
			margin:0 0 10px;
		}
		.btn{
			width:100%;
			display:block;
			transition:all 0.3s ease;
			text-transform:uppercase;
			font-size:18px;
			line-height:22px;
			font-weight:700;
			padding:10px 12px;
			@include mq($until: tablet){
				font-size:$font-size-base;
			}
			span{
				display:none;
			}
			&.active{
				span{
					display:inline-block;
					vertical-align:bottom;
				}
			}
		}
	}
	@include mq($until: mobile){
		padding-bottom:25px;
		margin-bottom:30px;
		h2{
			font-size:25px;
			line-height:28px;
		}
		.settings{
			text-align:left;
			float:none;
			width:100%
		}
		.rating-holder{
			float:none;
			width:100%;
			padding:0;
			margin-bottom:5px;
		}
		.signature{
			display:block;
			margin:0 0 15px;
		}
	}
}
/* category box */
.category-box{
	width:112px;
	margin:0 0 0 auto;
	text-align:right;
	color:#5d5d5d;
	font-size:10px;
	line-height:14px;
	padding:18px 0 0;
	font-style:italic;
	[class^="icon-"]{
		text-align:center;
		display:block;
		font-size:64px;
		line-height:64px;
		margin:0 0 12px;
		&.icon-file{
			color:$base-green;
		}
		&.icon-camera{
			font-size:52px;
			line-height:52px;
			color:$base-light-green;
		}
		&.icon-clip{
			color:$base-yellow;
			font-size:54px;
			line-height:54px;
		}
	}
	.name{
		display:block;
		text-transform:uppercase;
		color:#1b5aa4;
		letter-spacing:2px;
		font-weight:700;
		font-style:normal;
	}
	.text{
		display:block;
	}
	@include mq($until: mobile){
		display:none;
	}
}
.delete-holder{
	text-align:center;
	padding-top:66px;
	font-size:14px;
	line-height:22px;
	text-transform:uppercase;
	font-weight:700;
	@include mq($until: mobile){
		padding-top:10px;
		margin-bottom:10px;
	}
}
.delete-btn{
	display:inline-block;
	vertical-align:top;
	color:$base-lilac;
	position:relative;
	transition:all 0.3s ease;
	padding:53px 0 0;
	&:before{
		position:absolute;
		content:"\e613";
		font-family:'icomoon';
		font-size:48px;
		line-height:50px;
		left:50%;
		transform:translateX(-50%);
		top:0;
	}
	&.delete-style{
		opacity:0.5;
		.default{
			display:none;
		}
		.delete{
			display:block;
		}
	}
	.delete{
		display:none;
	}
	.default{
		span{
			display:block;
		}
	}
	&:hover{
		text-decoration:none;
		opacity:0.5;
		color:$base-lilac;
	}
}
/* title page styles */
.title-page{
	padding:72px 0 53px;
	h1{
		font:300 40px/44px $font-family-base-roboto;
		margin:0;
		text-transform:uppercase;
	}
	@include mq($until: mobile){
		padding:30px 0;
	}
}
/* step list styles */
.step-list{
	overflow:hidden;
	counter-reset:item;
	width:100%;
	padding:0;
	margin:-10px 0 0;
	font:300 25px/51px $font-family-base-roboto;
	li{
		padding:0 0 0 70px;
		margin:0 0 29px;
		.ol-item-index{
			float:left;
			width:50px;
			margin:0 0 0 -70px;
			color:$base-white;
			background:$base-lilac-2;
			content:counters(item, ".") " ";
			counter-increment:item;
			text-align:center;
			padding:11px 7px 6px;
			border-radius:8px;
			font:900 28px/33px $font-family-base;
		}
		&.active{
			.ol-item-index{
				background:$base-lilac;
			}
		}
		&.done{
			opacity:0.5;
		}
	}
	a{
		color:$base-black;
		transition:all 0.3s ease;
		&:hover{
			text-decoration:none;
			opacity:0.6;
		}
	}
	@include mq($until: tablet){
		font-size:21px;
		line-height:39px;
		li{
			padding-left:50px;
			.ol-item-index{
				font-size:22px;
				line-height:27px;
				padding:8px 7px 6px;
				width:42px;
				margin-left:-50px;
			}
		}
	}
}
.block-standard{
	.steps-form{
		p{
			margin-bottom:12px;
		}
	}
	.alignright{
		text-align:right;
		color:$base-black;
		margin:-8px 0 0;
		.text{
			display:inline-block;
			vertical-align:middle;
			max-width:70%;
		}
		.btn-info{
			display:inline-block;
			vertical-align:middle;
			font-size:22px;
			line-height:26px;
			font-weight:700;
			width:50px;
			text-align:center;
			margin:0 0 0 5px;
			padding:8px 12px;
		}
	}
	@include mq($until: mobile){
		.alignright{
			text-align:left;
			margin-bottom:10px;
		}
	}
}
/* step form styles */
.steps-form{
	font-size:18px;
	line-height:26px;
	font-weight:300;
	color:$base-black;
	border-top:1px solid $base-border-color;
	padding:35px 0 0;
	.form-group{
		margin-bottom:19px;
	}
	textarea{
		width:100% !important;
		min-height:232px;
		max-height:232px;
	}
	.btn{
		transition:all 0.3s ease;
		padding:11px 12px 9px;
		font:700 18px/22px $font-family-base;
		display:block;
		width:100%;
		text-transform:uppercase;
		text-align:center;
		margin:13px 0 0;
		&.btn-primary{
			background:$base-dark-green-2;
			border-color:$base-dark-green-2;
			&:hover,
			&:focus,
			&:active{
				background:$base-white;
				color:$base-dark-green-2;
			}
		}
	}
	.text-box{
		text-align:center;
		font-size:14px;
		line-height:18px;
		margin-bottom:34px;
		padding-top:18px;
		h3{
			margin-bottom:10px;
		}
	}
	h3{
		font-family:$font-family-base-roboto;
		margin:0 0 25px;
		font-weight:300;
	}
	.item-list{
		@extend %clearfix;
		margin:0 0 17px;
		.btn{
			font-size:14px;
			line-height:18px;
			font-weight:300;
			margin:0 0 30px;
			padding:3px 5px;
			white-space:nowrap;
			min-height:36px;
			background:$base-lilac-3;
			border-color:$base-lilac-3;
			text-transform:none;
			&:after{
				content:'';
				display:inline-block;
				height:36px;
				width:1px;
				overflow:hidden;
				margin:0 0 0 -5px;
				vertical-align:middle;
			}
			&.active,
			&:focus,
			&:active,
			&:hover{
				background:$base-lilac;
				border-color:$base-lilac;
				color:$base-white;
			}
			span{
				vertical-align:middle;
				display:inline-block;
				white-space:normal;
			}
		}
	}
	.form-holder{
		margin-bottom:48px;
		@extend %clearfix;
		label{
			font-weight:300;
			margin-bottom:15px;
		}
		textarea{
			line-height:26px;
			padding:18px 22px;
			min-height:140px;
			max-height:240px;
		}
		.form-control{
			margin-bottom:8px;
		}
	}
	.note{
		display:block;
		font-size:12px;
		line-height:14px;
	}
	.block{
		padding:0 0 27px;
		margin:0 0 60px;
		font-size:18px;
		line-height:22px;
		border-bottom:1px solid $base-border-color;
		.form-group{
			margin-bottom:31px;
		}
		.align{
			margin-top:-4px;
		}
		p{
			margin-bottom:12px;
		}
	}
	.btn-box{
		.btn{
			min-height:32px;
			white-space:nowrap;
			margin:0 0 10px;
			font-weight:400;
			&:after{
				content:'';
				display:inline-block;
				height:32px;
				width:1px;
				overflow:hidden;
				margin:0 0 0 -5px;
				vertical-align:middle;
			}
			.align{
				white-space:normal;
				display:inline-block;
				vertical-align:middle;
			}
			.style{
				font-size:12px;
				line-height:14px;
				font-weight:300;
				display:block;
			}
		}
	}
	@include mq($until: tablet){
		font-size:16px;
		line-height:24px;
		.btn-box{
			.btn{
				font-size:14px;
				line-height:18px;
			}
		}
	}
	@include mq($until: mobile){
		.block{
			padding-bottom:10px;
			margin-bottom:35px;
		}
	}
}
.label-holder{
	display:inline-block;
	vertical-align:middle;
	width:50%;
	text-transform:capitalize;
	font-weight:500;
	label{
		margin-bottom:0;
		font-weight:500;
	}
}
/* post block styles */
.post-block{
	font-size:14px;
	line-height:26px;
	font-weight:300;
	background:$base-brown;
	border-radius:8px;
	padding:27px 30px 40px;
	margin:0 0 61px;
	a{
		color:$base-black;
	}
	h4{
		font:18px/22px $font-family-base-roboto;
		margin:0 0 15px;
		span{
			display:block;
			text-transform:uppercase;
			color:$base-grey-5;
			margin-top:4px;
		}
	}
	.title{
		display:block;
		text-transform:uppercase;
		color:$base-grey;
		font-size:12px;
		line-height:16px;
		margin:0 0 16px;
	}
	.tag-box{
		text-align:left;
		margin:0 -10px 13px 1px;
		padding-bottom:0;
		li{
			text-align:center;
			margin-bottom:7px;
		}
	}
	.btn-group{
		@extend %listreset;
		display:block;
		@extend %clearfix;
		margin:0 0 6px -10px;
		&.style{
			margin-left:-25px;
			li{
				width:34%;
				margin-left:25px;
			}
			.btn{
				text-align:left;
				padding:5px 17px;
			}
		}
		li{
			float:left;
			width:37.2%;
			margin:0 0 10px 10px;
		}
		.btn{
			font-size:12px;
			line-height:16px;
			font-weight:300;
			padding:16px 5px 11px;
			text-transform:none;
			margin:0;
			&:hover,
			&:focus,
			&:active{
				background:$base-brown;
				&:before{
					border-left: 16px solid $base-brown;
				}
			}
		}
		.btn-default{
			font-size:14px;
			line-height:15px;
		}
	}
	@include mq($until: tablet){
		.btn-group{
			&.style{
				li{
					width:45%;
				}
			}
			li{
				width:48%;
			}
		}
	}
	@include mq($until: mobile){
		padding:27px 15px;
		.btn-group{
			margin-left:0;
			&.style{
				margin-left:0;
				margin-right:15px;
				li{
					width:100%;
					margin:0 0 5px;
				}
			}
			li{
				margin:0 0 5px;
				width:100%;
			}
		}
	}
}
/* post box styles */
.post-box{
	padding:0 0 16px;
	margin:0 0 16px;
	position:relative;
	&:before{
		position:absolute;
		content:'';
		background:$base-grey-7;
		height:1px;
		left:0;
		bottom:0;
		width:206px;
	}
	&:last-child{
		padding-bottom:0;
		margin-bottom:0;
		&:before{
			display:none;
		}
	}
}
/* checkbox block styles */
.checkbox-block{
	padding-top:61px;
	border-top:1px solid $base-border-color;
	margin-bottom:23px;
	.input-row{
		margin-bottom:15px;
	}
	label{
		font-weight:300;
		width:89%;
		vertical-align:top;
		margin:2px 0 0;
		span{
			font-weight:500;
		}
	}
	@include mq($until: tablet){
		label{
			width:86%;
		}
	}
	@include mq($until: tablet){
		label{
			width:80%;
		}
	}
}
.form-iframe{
	display:none;
}