$mq-breakpoints: (
    // Base device classes
    mobile:      768px,
    tablet:      979px,
    desktop:    1024px,
    widescreen: 1200px,
    //tvscreen:   1920px,

    // Tweakpoints
    mobileLandscape: 480px
);

// Show active breakpoint in top right corner of viewport
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, widescreen, tvscreen);

@import "mq";
@import "bootstrap-custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "base/markup-mixins";
@import "base/fonts-ico";
@import "base/fonts";
@import "header";
@import "main";
@import "main-1";
@import "main-2";
@import "custom-form";
@import "gallery";
@import "modal";
@import "footer";