// custom variables and override bootstrap variables
$base-black: #000;
$base-white: #fff;
$base-grey:#7b7b7b;
$base-grey-1:#9d9d9d;
$base-grey-2:#232323;
$base-grey-3:#e2e0dd;
$base-grey-4:#c4c4c4;
$base-grey-5:#bdbdbd;
$base-grey-6:#a3a3a3;
$base-grey-7:#dedede;
$base-grey-8:#bfbfbf;
$base-orange:#ffca4a;
$base-yellow:#ffcc00;
$base-green:#24a698;
$base-light-green:#b3cd4c;
$base-light-green-1:#b3cd4b;
$base-light-green-2:#cadc82;
$base-dark-green:#1d7a70;
$base-dark-green-2:#23a697;
$base-lilac:#76559d;
$base-lilac-2:#9f88ba;
$base-lilac-3:#cfc3dc;
$base-brown:#f7f7f7;
$base-border-color:#e5e5e5;
$base-border-color-light-green:#50b8ad;
$base-red-color:#fa1f1f;

$base-min-width:320px;
$base-max-width:990px;
$body-bg: $base-white;
$text-color: $base-grey-2;
$link-color: $base-grey-1;
$font-size-base:16px;
$line-height-base:1.625;
$font-family-base:'montserrat', Arial, Helvetica, sans-serif; //Gotham Light, Gotham Book, Gotham Bold, HTF Black, HTF Bold, HTF Book, HTF Light, HTF Medium
$font-family-base-nimbus : 'nimbus_sans', Arial, Helvetica, sans-serif; //HelveticaNeue Bold
$font-family-base-roboto: 'roboto_condensed', Arial, Helvetica, sans-serif; //Univers Condensed, Univers Condensed Light 
$font-family-base-arial: Arial, Helvetica, sans-serif; 
$font-family-base-lucida: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
$font-size-h1:46px;
$font-size-h2:38px;
$font-size-h3:30px;
$font-size-h4:25px;
$font-size-h5:18px;
$font-size-h6:16px;
$border-radius-base:0px;
$btn-default-color:$base-white;
$btn-default-bg:$base-grey;
$btn-default-border:$base-grey;
$btn-primary-bg:$base-green;
$btn-primary-border:$base-green;
$btn-success-bg:$base-light-green;
$btn-success-border:$base-light-green;
$btn-danger-bg:$base-light-green-1;
$btn-danger-border:$base-light-green-1;
$btn-info-bg:$base-lilac;
$btn-info-border:$base-lilac;
$btn-warning-bg:$base-orange;
$btn-warning-border:$base-orange;
$badge-bg:$base-dark-green;
$badge-border-radius:$border-radius-base + 8;
$badge-font-weight:normal;
$pagination-color:$base-black;
$pagination-disabled-color:$base-black;
$pagination-hover-color:$base-orange;
$pagination-active-color:$base-orange;
$pagination-hover-bg:none;
$pagination-active-bg:none;
$pager-border-radius:$border-radius-base;
$input-color:$base-grey-1;
$input-border-radius:$border-radius-base + 8;
$input-border:none;
$input-color-placeholder:$base-grey-1;
$navbar-height:1px;
$navbar-margin-bottom:0;
$navbar-border-radius:$border-radius-base;
$navbar-default-color: $base-grey-2;
$navbar-default-link-color: $base-grey-2;
$navbar-default-link-hover-color:$base-green;
$navbar-default-link-active-color:$navbar-default-link-hover-color;
$navbar-default-link-active-bg:transparent;
$navbar-default-bg:$base-white;
$navbar-default-border:none;
$grid-float-breakpoint:979px;
$modal-backdrop-opacity:0.6;
$modal-md:650px;
$modal-lg:960px;
$border-radius-large:0;
$modal-title-padding:0 0 23px;
$close-color:$base-white;
$close-text-shadow:none;
$modal-inner-padding:31px 0 0;
$input-bg:$base-brown;
$input-border:$base-brown;
$progress-bg:$base-orange;
$progress-bar-bg:$base-light-green;
$input-height-base:61px;
$popover-bg:$base-grey;