/* custom checkbox styles */
.jcf-checkbox{
	vertical-align:middle;
	display:inline-block;
	position:relative;
	@extend %clearfix;
	cursor:pointer;
	background:$base-brown;
	border:1px solid $base-brown;
	margin:0 21px 0 0;
	height:30px;
	width:30px;
	border-radius:5px;
	&.jcf-checked{
		span{
			display:block;
		}
	}
	span{
		position:absolute;
		display:none;
		top:50%;
		left:50%;
		font-family:'icomoon';
		margin:-15px 0 0 -15px;
		font-size:20px;
		line-height:30px;
		&:before{
			content:"\e61a";
		}
	}
	input[type="checkbox"]{
		position:absolute;
		width:100%;
		height:100%;
		border:0;
		margin:0;
		left:0;
		top:0;
		outline:none;
	}
}
.checked-form {
	.jcf-checkbox {
		width:32px;
		height:32px;
		margin-right:8px;
		span {
			font-size: 32px;
			&:before {
				color:$base-black;
			}	
		}
	}
}
:root .checked-form .jcf-checkbox span {
	margin:-15px 0 0 -10px; 
}
.checkbox-block,
.register-form{
	.jcf-checkbox{
		span{
			font-size:31px;
		}
	}
}
:root{
	.jcf-checkbox{
		span{
			margin:-15px 0 0 -7px;
		}
	}
	.checkbox-block,
	.register-form{
		.jcf-checkbox{
			span{
				margin-left:-11px;
			}
		}
	}
}
/* custom radio styles */
.jcf-radio{
	position:absolute;
	right:0;
	background:$base-lilac-2;
	border-radius:50%;
	height:21px;
	width:21px;
	&:first-child{
		left:0;
	}
	&.jcf-checked{
		span{
			display:block;
			z-index:2;
		}
	}
	span{
		display:none;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:$base-lilac;
		border-radius:50%;
	}
	input[type="radio"]{
		position:absolute;
		height:100%;
		width:100%;
		border:0;
		margin:0;
		left:0;
		top:0;
	}
}
.radio-box{
	display:inline-block;
	vertical-align:middle;
	background:$base-lilac-2;
	width:38px;
	margin:0 5px 0 0;
	border-radius:50%;
	position:relative;
	height:21px;
	width:38px;
}
/* custom select styles */
.jcf-select{
	display:block;
	position:relative;
	border:0;
	background:$base-brown;
	margin:0;
	min-width:100%;
	width:100%;
	height:62px;
	border-radius:$border-radius-base + 8;
	&.jcf-select-unit-select{
		margin-bottom:18px;
	}
	select{
		z-index:1;
		left:0;
		top:0;
	}
	.jcf-select-text{
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		cursor:default;
		display:block;
		color:$base-black;
		font-weight:300;
		font-size:18px;
		line-height:62px;
		margin:0 35px 0 21px;
	}
	.jcf-select-opener{
		position:absolute;
		text-align:center;
		background:none;
		width:35px;
		bottom:0;
		right:0;
		top:0;
		cursor: default;
		&:after{
			position:absolute;
			content:"\e603";
			left:0;
			top:50%;
			margin-top:-3px;
			font-family:'icomoon';
			font-size:10px;
			line-height:1;
			color:$base-black;
			z-index:2;
		}
	}
	.jcf-select-drop{
		position:absolute;
		margin-top:0px;
		z-index:9999;
		top:100%;
		left:-1px;
		right:-1px;
	}
	.jcf-drop-flipped{
		bottom:100%;
		top:auto;
	}
	@include mq($until: mobile){
		height:49px;
		.jcf-select-text{
			font-size:14px;
			line-height:49px;
		}
	}
}
/* search bar styles */
.top-panel{
	.search-bar{
		.jcf-select{
			background:none;
			border-radius: 0;
			float:right;
			width:175px;
			min-width: inherit;
			height:26px;
			@include mq($until: tablet){
				width:120px;
			}
			@include mq($until: mobile){
				margin:0 10px 0 0;
			}
			.jcf-select-text{
				line-height:26px;
				margin:0 20px 0 5px;
				font-size:$font-size-base + 6;
				font-weight: 700;
				color:#fff;
				@include mq($until: tablet){
					font-size:$font-size-base;
					line-height:26px;
				}
			}
			.jcf-select-opener{
				width:15px;
				&:after{
					color:$base-white;
					margin-top:-5px;
				}
			}
			&.jcf-select-sel-interested{
				width:90px;
				@include mq($until: tablet){
					width:80px;
				}
				@include mq($until: mobile){
					width:120px;
				}
			}
			&.jcf-select-sel-viewing{
				width:127px;
				@include mq($until: tablet){
					width:100px;
				}
				@include mq($until: mobile){
					width:120px;
				}
			}
		}
	}
}
/* information form */
.information-form {
	.jcf-select {
		background:$base-white;
	}
	.jcf-checkbox {
		background:$base-white;
		width:32px;
		height:32px;
		@include mq($until: mobile){
			margin:0 10px 0 0;
		}
		span {
			font-size:30px;
		}
	}
}
:root .information-form .jcf-checkbox span {
	margin-left:-10px;
}
/* form standard styles */
.form-standard{
	.jcf-select{
		width:100%;
		border:none;
		height:52px;
		background:none;
		margin:0;
		background: $base-green;
		border-radius: 0;
		&.jcf-drop-active{
			.jcf-select-opener {
				&:after {
					transform: rotate(180deg);
					color:$base-white;
				}
			}
		}
		.jcf-select-text{
			font-family:$font-family-base;
			font-weight:300;
			color:$base-white;
			font-size:$font-size-base;
			line-height:52px;
			margin:0 50px 0 72px;
			@include mq($until:tablet){
				font-size:12px;
				margin:0 50px 0 60px;
			}
			@include mq($until:mobile){
				font-size:16px;
				margin:0 50px 0 72px;
			}
		}
		.jcf-select-opener{
			position:absolute;
			text-align:center;
			background:none;
			width:40px;
			&:after{
				position:absolute;
				content:"\e603";
				right:28px;
				top:24px;
				font-family:'icomoon';
				font-size:10px;
				line-height:1;
				color:$base-white;
				z-index:2;
				width:15px;
			}
		}
	}
	.list{
		li{
			&.active{
				.jcf-select{
					.jcf-select-text{
						font-weight:700;
						line-height:52px;
					}
				}
			}
		}
	}
}
.jcf-select-sel{
	position:relative;
	&.jcf-select-drop{
		.jcf-select-drop-content{
			border:none;
			border-radius: 0;
		}
	}
	.jcf-list{
		font-size:$font-size-base;
		line-height:18px;
		background:$base-green;
		border-radius:0 0 8px 8px;
		font-weight:300;
		@include mq($until:tablet){
			font-size:12px;
		}
		@include mq($until:mobile){
			font-size:16px;
		}
		.jcf-option{
			color:$base-white;
			opacity: .8;
			padding:10px 50px 10px 72px;
			@include mq($until:tablet){
				padding:10px 50px 10px 60px;
			}
			@include mq($until:mobile){
				padding:10px 50px 10px 72px;
			}
		}
		.jcf-list-content{
			border:none;
			border-radius: 0 0 8px 8px;
		}
	}
	&.jcf-select-drop{
		.jcf-hover{
			color:$base-white;
			opacity: 1;
			background:none;
			border-radius: 0;
		}
	}
}
.form-sort{
	.jcf-select{
		float:right;
		width:180px;
		min-width:inherit;
		background:none;
		height:58px;
		@include mq($until: mobile){
			float:left;
		}
		.jcf-select-text{
			font-weight:500;
			color:$base-grey;
			margin:0 30px 0 21px;
			font-size:$font-size-base;
			line-height:58px;
			@include mq($until: mobile){
				font-size:$font-size-base - 4;
			}
		}
		.jcf-select-opener{
			font-style:normal;
			&:after{
				right:-2px;
				margin-top:-5px;
				color:$base-grey;
			}
		}
	}
}
.filter-form{
	.jcf-select{
		height:52px;
		background:$base-white;
		.jcf-select-text{
			font-family:$font-family-base;
			font-size:$font-size-base + 4;
			line-height:50px;
			margin:2px 35px 0 21px;
			@include mq($until:1400px){
				font-size:$font-size-base;
				margin-left:10px;
				margin-top:0;
				padding-top:2px;
			}
		}
		.jcf-select-opener{
			position:absolute;
			text-align:center;
			background:none;
			width:35px;
			&:after{
				position:absolute;
				content:"\e603";
				left:0;
				top:50%;
				margin-top:-3px;
				font-family:'icomoon';
				font-size:10px;
				line-height:1;
				color:$base-black;
				z-index:2;
			}
		}
	}
}
body{
	> .jcf-select-drop{
		position:absolute;
		margin:-1px 0 0;
		z-index:9999;
		&.jcf-drop-flipped{
			margin:1px 0 0;
		}
	}
}
.jcf-select-drop{
	.jcf-select-drop-content{
		border:none;
		border-radius:$badge-border-radius;
		overflow:hidden;
	}
	.jcf-hover{
		background:#e6e6e6;
		color:#000;
	}
}
.jcf-select.jcf-select-sel-1.jcf-drop-active {
	border-radius:$border-radius-base + 8 $border-radius-base + 8 0 0;
	border-color:$base-light-green;
	background:$base-light-green;
	border:none;
	.jcf-select-text {
		color:$base-white;
	}
	.jcf-select-opener {
		&:after {
			transform: rotate(180deg);
			color:$base-white;
		}
	}
}
.jcf-select-drop.jcf-select-sel-1{
	.jcf-select-drop-content{
		border:0;
		border-radius:0 0 $border-radius-base + 8 $border-radius-base + 8;
		overflow:hidden;
	}
	.jcf-list {
		background:$base-light-green;
		li {
			overflow:visible;
			&:first-child {
				.jcf-option {
					&:after {
						top:0;
					}
				}
			}
		}
		.jcf-list-content {
			max-height:none !important;
			border-color:$base-light-green;
			border:none;
		}
		.jcf-option {
			border-radius:$border-radius-base + 8;
			padding:27px 50px 27px 22px;
			font-size:18px;
			line-height:19px;
			color:$base-white;
			white-space:normal;
			position:relative;
			font-weight:300;
			overflow:visible;
			&:after {
				content:'';
				position:absolute;
				top:-1px;
				left:20px;
				right:20px;
				height:1px;
				background:$base-light-green-2;
			}
			&.jcf-hover,
			&.jcf-selected {
				background:$base-green;
				z-index:1;
				&:after {
					display:none;
				}
			}
			&.jcf-selected {
				&:before {
					content:'\e61a';
					position:absolute;
					top:50%;
					font-size: 30px;
					right:26px;
					margin-top:-15px;
				}
			}
		}
	}
	&.jcf-select-sel-2 {
		.jcf-list .jcf-option {
			&.jcf-hover,
			&.jcf-selected {
				background:none;
				font-weight:700;			
			}
			&:after {
				display:block;
			}
			&:before {
				display:none;
			}
		}
	} 
}
/* multiple select styles */
.jcf-list-box{
	overflow:hidden;
	display:inline-block;
	border:1px solid #b8c3c9;
	min-width:200px;
	margin:0 15px;
	.jcf-selected{
		background:#e6e6e6;
		color:#000;
	}
}
/* select options styles */
.jcf-list{
	display:inline-block;
	vertical-align:top;
	position:relative;
	background:#fff;
	line-height:14px;
	font-size:12px;
	width:100%;
	.jcf-list-content{
		vertical-align:top;
		display:inline-block;
		overflow:auto;
		width:100%;
		border:1px solid $base-grey-3;
		border-radius:$border-radius-base + 8;
		overflow:hidden;
	}
	ul{
		@extend %listreset;
	}
	li{
		overflow:hidden;
		display:block;
	}
	.jcf-overflow{
		overflow:auto;
	}
	.jcf-option{
		white-space:nowrap;
		overflow:hidden;
		cursor:default;
		display:block;
		padding:5px 9px 5px 21px;
		color:#656565;
		height:1%;
	}
	.jcf-disabled{
		background:#fff !important;
		color:#aaa !important;
	}
	.jcf-optgroup-caption{
		white-space:nowrap;
		font-weight:bold;
		display:block;
		padding:5px 9px;
		cursor:default;
		color:#000;
	}
	.jcf-optgroup{
		.jcf-option{
			padding-left:30px;
		}
	}
}
/* custom scrollbars styles */
.jcf-scrollable-wrapper{
	box-sizing:content-box;
	position:relative;
}
.jcf-scrollable{
	overflow:auto;
	height:860px;
	width:621px !important;
}
.jcf-scrollbar-vertical{
	position:absolute;
	cursor:default;
	width:8px;
	bottom:0;
	right:-2px;
	top:0;
	z-index:2;
	.jcf-scrollbar-dec,
	.jcf-scrollbar-inc{
		background:$base-brown;
		height:0;
		width:0;
		left:0;
		top:0;
	}
	.jcf-scrollbar-inc{
		top:auto;
		bottom:0;
	}
	.jcf-scrollbar-handle{
		background:$base-light-green;
		height:1px;
		width:8px;
		border-radius:5px;
	}
}
.setting-form{
	.jcf-scrollbar-vertical{
		right:29px;
	}
	.jcf-scrollbar-inc,
	.jcf-scrollbar-dec{
		height:30px;
		width:8px;
		opacity:0;
	}
	@include mq($until: mobile){
		.jcf-scrollbar-vertical{
			right:-5px;
		}
		.jcf-scrollable{
			width:100% !important;
		}
	}
}
.dashboard-content{
	.jcf-scrollbar-vertical{
		.jcf-scrollbar-handle{
			background:$base-lilac;
		}
	}
}
.jcf-scrollbar-horizontal{
	position:absolute;
	background:#e3e3e3;
	right:auto;
	top:auto;
	left:0;
	bottom:0;
	width:1px;
	height:14px;
	.jcf-scrollbar-dec,
	.jcf-scrollbar-inc{
		display:inline-block;
		vertical-align:top;
		overflow:hidden;
		background:#bbb;
		height:14px;
		width:14px;
	}
	.jcf-scrollbar-inc{
		left:auto;
		right:0;
	}
	.jcf-scrollbar-slider{
		display:inline-block;
		position:relative;
		height:14px;
	}
	.jcf-scrollbar-handle{
		position:absolute;
		background:#888;
		height:14px;
	}
}
.jcf-scrollbar{
	&.jcf-inactive{
		.jcf-scrollbar-handle{
			visibility:hidden;
		}
		.jcf-scrollbar-dec,
		.jcf-scrollbar-inc{
			background:#e3e3e3;
		}
	}
}
/* custom file input styles */
.jcf-file{
	white-space:nowrap;
	position:relative;
	overflow:hidden;
	width:100%;
	text-align:center;
	.jcf-real-element{
		position:absolute;
		font-size:200px;
		height:200px;
		margin:0;
		right:0;
		top:0;
	}
	.jcf-fake-input{
		float:left;
		text-align:left;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		background:$base-brown;
		border:1px solid $base-brown;
		border-radius:8px;
		color:$base-grey-1;
		height:61px;
		padding:8px 15px 8px 22px;
		box-shadow:none;
		font-size:18px;
		line-height:39px;
		width:48%;
		margin:0 30px 0 0;
	}
	.jcf-upload-button{
		float:left;
		white-space:nowrap;
		overflow:hidden;
		padding:0 8px;
		text-transform:uppercase;
		height:50px;
		width:47%;
		font-size:18px;
		line-height:50px;
		font-weight:700;
		color:$base-white;
		background:$base-lilac;
		margin:5px 0 0;
	}
	@include mq($until: tablet){
		.jcf-fake-input{
			width:46.5%;
		}
		.jcf-upload-button{
			width:46.9%;
		}
	}
	@include mq($until: mobile){
		.jcf-fake-input{
			width:100%;
			margin:0 0 19px;
			float:none;
			display:block;
		}
		.jcf-upload-button{
			width:100%;
			float:none;
			display:block;
			margin-top:0;
		}
	}
}
/* common custom form elements styles */
.jcf-disabled{background:#ddd !important;}
.jcf-focus, .jcf-focus *{border-color:$base-light-green-1 !important;}
.lilac{
	.jcf-focus,
	.jcf-focus *{
		border-color:$base-lilac !important;
	}
}