/* cycle carousel styles */
.gallery-hold {
	width:100%;
	position:relative;
	overflow:hidden;
}
.cycle-gallery {
	position: relative;
	img {
		width:100%;
	}
	.visual {
		display:block;
		max-height:865px;
		overflow:hidden;
		position:relative;
		&:hover {
			&:after,
			&:before {
				opacity: .8;
			}
		}
		&:after {
			content:'';
			position:absolute;
			top:235px;
			left:50%;
			margin-left:-57px;
			border-radius:50%;
			width:114px;	
			height:114px;
			border:3px solid $base-white;
			background:rgba($base-white,.2);
			@include mq($until: 1400px) {
				top:80px;
			}
			@include mq($until: widescreen) {
				top:50%;
				margin-top:-57px;
			}
			@include mq($until: mobile) {
				width:50px;	
				height:50px;
				margin-left:-25px;
				margin-top:-25px;
			}
		}
		&:before {
			content:'';
			position:absolute;
			top:267px;
			left:50%;
			margin:0 0 0 -15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 26px 0 26px 42px;
			border-color: transparent transparent transparent $base-white;
			@include mq($until: 1400px) {
				top:111px;
			}
			@include mq($until: widescreen) {
				top:50%;
				margin-top:-26px;
			}
			@include mq($until: mobile) {
				margin-top:-10px;
				margin-left:-5px;
				border-width: 10px 0 10px 10px;
			}
		}
	}
	.mask {
		position: relative;
		overflow: hidden;
		width:100%;
		.slideset {
			width: 99999px;
			float: left;
		}
		.slide {
			float: left;
			&.active {
				z-index: 1;
			}
		}
	}
}
// cycle-gallery-1
.cycle-gallery-1 {
	position: relative;
	padding: 36px 56px 15px;
	color:$base-white;
	@include mq($until: 1400px) {
		padding: 36px 30px 15px;
	}
	@include mq($until: tablet) {
		padding-bottom:36px;
	}
	.btn-next,
	.btn-prev {
		text-indent:-9999px;
		overflow:hidden;
		position:absolute;
		top:128px;
		left:0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 13px 12px 13px 0;
		border-color: transparent $base-white transparent transparent;
		@include mq($until: tablet) {
			top:50%;
			margin-top:-13px;
		}
	}
	.btn-next {
		left:auto;
		right:0;
		border-width: 13px 0 13px 12px;
		border-color: transparent transparent transparent $base-white;		
	}
	h1 {
		margin:0 0 36px;
		font-weight:300;
		font-family:$font-family-base-roboto;
		@include mq($until: 1400px) {
			font-size:35px;
			margin-bottom:15px;
		}
		@include mq($until: tablet){
			text-align:center;
		}
	}
	.box {
		overflow:hidden;
		font-size:25px;
		line-height:30px;
		font-weight:300;
		@include mq($until: 1400px) {
			font-size:20px;
		}
		.ico {
			color:$base-white;
			font-size:55px;
			line-height:1;
			float:left;
			margin:0 28px 0 1px;
			@include mq($until: widescreen) {
				font-size:40px;
				margin-top:10px;
				margin-right:15px;
			}
			&:focus,
			&:active,
			&:hover {
				text-decoration:none;
			}
		}
		.text {
			overflow:hidden;
			padding: 5px 0 0;
			>.text-hold {
				height:60px;
				overflow:hidden;
				word-wrap: break-word;
			}
		}
		.box-time {
			padding: 2px 0 0;
			font-size:18px;
			line-height:20px;
			p {
				margin:0;
			}
			a {
				color:$base-white;
				text-decoration:underline;
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
	.mask {
		position: relative;
		overflow: hidden;
		width: 100%;
		.slideset {
			width: 99999px;
			float: left;
		}
		.slide {
			float: left;
			max-height:222px;
			@include mq($until: widescreen) {
				max-height:none;
			}
			&.active {
				z-index: 1;
			}
		}
	}
}
/* cycle-gallery-2 */
.cycle-gallery-2 {
	position: relative;
	img {
		width:100%;
	}
	.mask {
		position: relative;
		overflow: hidden;
		width:100%;
		.slideset {
			width: 99999px;
			float: left;
		}
		.slide {
			float: left;
			&.active {
				z-index: 1;
			}
		}
	}
}