/* header styles */
#header {
	position:relative;
	z-index:100;
}
.navbar-header {
	padding: 30px 20px 20px 30px;
	@include mq($until: tablet){
		padding: 15px;
	}
}
/* page logo styles */
.navbar-brand {
	height:auto;
	padding:0;
	@include mq($until: widescreen){
		width:230px;
		margin-bottom:-1px;
	}
}
.navbar-form {
	float:right !important;
	@include mq($until: tablet){
		float:none !important;
		overflow:hidden;
	}
}
.nav-holder {
	float:right;
	@include mq($until: tablet){
		float:none;
	}
}
.navbar {
	border:none;
}
.navbar-collapse {
	padding:0;
}
.navbar-default .navbar-nav > .orange > a:hover,
.navbar-default .navbar-nav > .orange > a:focus,
.navbar-default .navbar-nav > .open.orange > a {
	color:$base-orange;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background:$base-orange;
}
.navbar-default .navbar-toggle {
	border:none;
	margin:0;
	background:$base-orange;
	margin:31px 0 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: $base-white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color:$base-white;
}
/* additional navigation styles */
.navbar-nav {
	@include mq($until: tablet){
		margin:0;
	}
	> li {
		padding: 69px 69px 68px;
		@include mq($until: 1400px){
			padding-left:30px;
			padding-right:30px;
		}
		@include mq($until: widescreen){
			padding-top:58px;
			padding-bottom:58px;
		}
		@include mq($until: desktop){
			padding-left:15px;
			padding-right:15px;
		}
		@include mq($until: tablet){
			padding:0;
			text-align:center;
		}
		&.active{
			a{
				font-weight:900;
			}
		}
		> a {
			padding: 0;
			font-size:20px;
			line-height:24px;
			text-transform:uppercase;
			font-family:$font-family-base;
			font-weight:400;
			@include mq($until: widescreen){
				font-size:17px;	
			}
			@include mq($until: tablet){
				display:block;
				padding: 3px 15px;
			}
		}
		&.orange {
			> a {
				&:hover {
					color:$base-orange;
				}
			}
		}
	}
	.dropdown-menu {
		background:none;
		width: 283px;
		left:50%;
		margin-left:-132px;
		border:0;
		box-shadow:none;
		padding:0;
		@include mq($until: tablet){
			margin:0;
		}
		> li {
			margin:0 0 1px;
			> a {
				text-align:center;
				font-family:$font-family-base;
				font-weight:400;
				color:$base-white;
				padding: 29px 10px 23px;
				font-size:20px; 
				line-height:24px;
				background:rgba($base-green,.8);
				transition:background .3s;
				&:hover {
					background:rgba($base-green,1);
					text-decoration:none;
				}
			}
		}
	}
	.dropdown-menu-1 {
		margin:0;
		left:auto;
		right:-161px;
		width:444px;
		@include mq($until: widescreen){
			right:-140px;
		}
	}
	.drop-hold {
		text-align:center;
		font-family:$font-family-base;
		text-transform:uppercase;
		.sing {
			background:$base-orange;
			padding: 66px 10px 69px;
			font-weight:900;
			color:$base-white;
			font-size:20px;
			line-height:24px;
			a{
				color:$base-white;
				text-decoration:none;
				&:hover{
					opacity: .8;
				}
			}
			@include mq($until: tablet){
				padding: 30px 10px;
			}
		}
		.account {
			display:block;
			background:rgba($base-orange,.8);
			font-weight:400;
			font-size:15px;
			line-height:20px;
			color:$base-white;
			padding: 30px 10px 26px;
			transition:background .3s;
			cursor:pointer;
			@include mq($until: tablet){
				padding: 5px 15px 5px 25px;
				line-height:26px;
			}
			&:hover {
				background:rgba($base-orange,1);
				text-decoration:none;
			}
		}
	}
}
/* login form styles */
.login-form {
	font-family:$font-family-base;
	background:rgba($base-orange,.8);
	.form-holder {
		background:$base-orange;
		padding: 10px 28px;
	}
	.form-title {
		overflow:hidden;
		padding: 14px 0 23px;
	}
	h3 {
		margin:0;
		text-transform:uppercase;
		line-height:34px;
		font-family:$font-family-base-roboto;
		color:$base-white;
		float:left;
	}
	.more  {
		float:right;
		color:$base-white;
		font-weight:700;
		font-size:18px;
		margin:5px 0 0;
		text-transform:uppercase;
		&:hover {
			color:$base-white;
			opacity: .8;
			text-decoration:none;
		}
	}
	.link {
		color:$base-black;
		font-weight:300;
		font-size:12px; 
		line-height:16px;
		font-family:$font-family-base;
	}
	.form-group {
		margin:0 0 12px;
	}
	input {
		display:block;
		margin:0 0 2px;
		padding:15px 22px 10px;
		width:100%;
		height:62px;
		color:$base-grey-1;
		font-size: 18px;
		line-height:22px;
		border:0;
		background:$base-brown;
		box-shadow:none;
		font-family:$font-family-base;
		font-weight:300;
		outline:none;
		@include set-placeholder-color ($base-grey-1);
	}
	.box-form {
		a {
			display:block;
			padding: 24px 28px 30px;
			text-transform:uppercase;
			text-decoration:underline;
			color:$base-white;
			font-weight:700;
			text-align:center;
			font-size:18px;
			line-height:22px;
			&:hover {
				text-decoration:none;
			}
		}
	}
}
/* search form styles */
.search-form {
	position:relative;
	padding:0;
	margin:0;
	&.open {
		.search-holder {
			display:block;
		}
	}
	[type="text"] {
		display:block;
		margin:0;
		padding:28px 30px;
		width:100%;
		height:76px;
		color:$base-white;
		font-size: 15px;
		line-height:20px;
		text-transform:uppercase;
		border:0;
		box-shadow:none;
		border-radius:$border-radius-base;
		background:none;
		outline:none;
		@include set-placeholder-color ($base-white);
	}
	[type="submit"] {
		width:161px;	
		height:161px;
		font-size:42px;
		text-align:center;
		line-height:149px;
		transition:all .3s;
		@include mq($until: widescreen) {
			width:140px;
			height:140px;
			line-height:132px;
		}
		@include mq($until: tablet) {
			width:24%;
			height:76px;
			line-height:66px;
			font-size:35px;
		}
	}
	.search-holder {
		position:absolute;
		display:none;
		right:0;
		top:100%;
		width: 439px;
		background:rgba($base-orange,.8);
		left:auto;
		margin:0;
		padding:0;
		border:none;
		box-shadow:none;
		@include mq($until: tablet) {
			display:block;
			position:static !important;
			top:0;
			float:left;
			width:76%;
		}
	}
}
.lilac {
	.navbar-default {
		.navbar-nav {
			> li {
				&.active {
					> a{
						&,
						&:hover,
						&:focus {
							color:$base-lilac;
						}
					}
				}
				&.disabled {
					> a{
						&,
						&:hover,
						&:focus {
							color:$base-lilac;
						}
					}
				}
				> a{
					&:hover,
					&:focus {
						color:$base-lilac;
					}
				}
			}
			&.open {
				> a {
					&,
					&:hover,
					&:focus {
						color:$base-lilac;
					}
				}
			}
			.dropdown-menu {
				> li{
					> a{
						background:rgba($base-lilac, 0.8);
					}
				}
			}
		}
	}
}
.header-light-green {
	.navbar-default {
		.navbar-nav {
			> li {
				&.active {
					> a{
						&,
						&:hover,
						&:focus {
							color:$base-light-green;
						}
					}
				}
				&.disabled {
					> a{
						&,
						&:hover,
						&:focus {
							color:$base-light-green;
						}
					}
				}
				> a{
					&:hover,
					&:focus {
						color:$base-light-green;
					}
				}
				&.open {
					> a {
						&,
						&:hover,
						&:focus {
							color:$base-light-green;
						}
					}
				}
			}
			.dropdown-menu {
				> li{
					> a{
						background:rgba($base-light-green, 0.8);
						&:hover {
							background:rgba($base-light-green, 1);
						}
					}
				}
				.drop-hold {
					.sing {
						background:$base-light-green;
					}
					.account {
						background:rgba($base-light-green, 0.8);
					}
				}
			}
		}
	}
}
.header-orange {
	.navbar-default {
		.navbar-nav {
			> li {
				&.active {
					> a{
						&,
						&:hover,
						&:focus {
							color:$base-orange;
						}
					}
				}
				&.disabled {
					> a{
						&,
						&:hover,
						&:focus {
							color:$base-orange;
						}
					}
				}
				> a{
					&:hover,
					&:focus {
						color:$base-orange;
					}
				}
				&.open {
					> a {
						&,
						&:hover,
						&:focus {
							color:$base-orange;
						}
					}
				}
			}
			.dropdown-menu {
				> li{
					> a{
						background:rgba($base-orange, 0.8);
						&:hover {
							background:rgba($base-orange, 1);
						}
					}
				}
				.drop-hold {
					.sing {
						background:$base-orange;
					}
					.account {
						background:rgba($base-orange, 0.8);
					}
				}
			}
		}
	}
}