@-ms-viewport{width:auto;}
html{height:100%;}
body{
	margin:0;
	height:100%;
	min-width:$base-min-width;
}
fieldset {min-width: 0;}
@-moz-document url-prefix() {
	fieldset {
		display: table-cell;
		vertical-align: top;
	}
}
/* main container styles */
#wrapper{
	width:100%;
	height:100%;
	display:table;
	margin:0 auto;
	table-layout: fixed;
	overflow:hidden;
}
.center-holder-2,
.center-holder-1,
.center-holder {
	margin:0 auto;
	@extend %clearfix;
	max-width:1604px;
	padding:0 15px;
}
.center-holder-1 {
	max-width:1316px;
}
.center-holder-2 {
	max-width:1310px;
}
/* container-fluid */
.container-fluid {
	max-width:$base-max-width;
	@extend %clearfix;
}
/* main informative part styles */
#main {
	margin:0 0 50px;
}
img{
	max-width:100%;
	height:auto;
	vertical-align:top;
}
/* btn style */
.btn {
	border-width:$border-radius-base + 4;
	transition:background, color .3s;
	outline:none;
	&.active,
	&:focus,
	&:active,
	&:hover {
		background:$base-white;
		box-shadow:none;
		outline:none !important;
	}
}
.btn-default {
	&.active,
	&:focus,
	&:active,
	&:hover {
		color:$base-grey;
		border-color:$base-grey;
	}
}
.btn-primary {
	&.active,
	&:focus,
	&:active,
	&:hover {
		color:$base-green;
		border-color:$base-green;
	}
}
.btn-success {
	&.active,
	&:focus,
	&:active,
	&:hover {
		color:$base-light-green;
		border-color:$base-light-green;
	}
}
.btn-danger {
	&.active,
	&:focus,
	&:active,
	&:hover {
		color:$base-light-green-1;
		border-color:$base-light-green-1;
	}
}
.btn-info {
	&.active,
	&:focus,
	&:active,
	&:hover {
		color:$base-lilac;
		border-color:$base-lilac;
	}
	&.bg-style{
		background:$base-white;
		color:$base-lilac;
		&.active,
		&:focus,
		&:active,
		&:hover{
			background:$base-lilac;
			color:$base-white;
		}
	}
}
.btn-warning {
	&.active,
	&:focus,
	&:active,
	&:hover {
		color:$base-orange;
		border-color:$base-orange;
	}
}
/* filter box */
.filter-box {
	width:100%;
	overflow:hidden;
	margin:-274px 0 0;
	position:relative;
	z-index:10;
	max-height:274px;
	@include mq($until: widescreen) {
		margin-top:0;
		max-height:none;
	}
	.filter-form {
		padding:0 0 38px;
	}
	.col {
		float:right;
		width:35.4%;
		padding-right:80px;
		padding-left:20px;
		background:rgba($base-light-green,.85);
		@include mq($until: 1400px) {
			padding-right:20px;
		}
		@include mq($until: tablet) {
			float:none;
			width:100%;
			height:auto !important;
		}
		&:first-child {
			float:left;
			width: 64.6%;
			padding-right:59px;
			padding-left:120px;
			background:rgba($base-green,.85);
			@include mq($until: 1400px) {
				padding-right:20px;
				padding-left:20px;
			}
			@include mq($until: tablet) {
				float:none;
				width:100%;
			}
		}
	}
	.row-input {
		padding: 28px 0 22px;
		border-bottom:1px solid rgba($base-white,.3);
		@extend %clearfix;
		.icon-search {
			color:$base-white;
			font-size:64px;
			margin:-12px 25px 0 -2px;
			float:left;
			@include mq($until: 1400px) {
				font-size:50px;
				margin-top:0;
			}
			@include mq($until: mobile) {
				font-size:30px;
				margin: 7px 10px 0 0;
			}
		}
		[type="search"] {
			float:left;
			margin:0;
			padding:6px 0 0;
			width:71%;
			height:52px;
			color:$base-white;
			font-size: 38px;
			line-height:40px;
			font-weight:300;
			text-transform:uppercase;
			font-family:$font-family-base-roboto;
			box-shadow:none;
			border:0;
			background:none;
			outline:none;
			@include set-placeholder-color ($base-white);
			@include mq($until: 1400px) {
				font-size:30px;
			}
			@include mq($until: mobile) {
				width:84%;
				padding:0;
				font-size:18px;
				height:30px;
				margin-bottom:15px;
			}
		}
		[type="submit"] {
			float:right;
			margin:0;
			padding:0;
			width:76px;
			height:52px;
			color:$base-light-green-1;
			font-size: 20px;
			line-height:52px;
			text-align:center;
			font-weight:700;
			text-transform:uppercase;
			font-family:$font-family-base;
			box-shadow:none;
			border-radius:$border-radius-base + 8;
			background:$base-white;
			outline:none;
			cursor:pointer;
			border:none;
			transition:background, color .3s;
			&:hover {
				background:$base-light-green-1;
				color:$base-white;
			}
			@include mq($until: mobile) {
				float:none;
				width:100%;
			}
		}
	}
	.row-select {
		overflow:hidden;
		margin:0 -20px;
		.col-select {
			float:left;
			width:33.333%;
			padding:24px 20px 10px;
			@include mq($until: mobile){
				float:none;
				width:100%;
			}
		}
		label {
			display:block;
			color:$base-white;
			font-weight:400;
			font-size:25px;
			line-height:30px;
			margin:0 0 17px;
			@include mq($until: 1400px){
				font-size:20px;
			}
		}
	}
}
/* explore box */
.explore-box {
	max-width:620px;
	padding: 45px 0 72px;
	margin:102px auto 0;
	position:relative;
	text-align:center;
	font-size:$font-size-base + 2;
	line-height:26px;
	@include mq($until: mobile){
		padding: 30px 0;
		margin:30px auto 0;
	}
	h1 {
		margin:0 0 26px;
		font-weight:300;
		font-family:$font-family-base-roboto;
		@include mq($until: mobile) {
			font-size:34px;
		}
	}
	&:after {
		content:'';
		position:absolute;
		top:0;
		left:50%;
		margin-left:-47px;
		width:94px;
		height:7px;
		background:$base-light-green-1;
	}
}
/* container link */
.container-link {
	max-width:1646px;
	padding: 0 10px;
	margin:0 auto;
	.link-holder {
		margin:0 -27px 0 -28px;
		overflow:hidden;
		@include mq($until: 1400px) {
			margin-left:0;
			margin-right:0;
		}
		.col {
			float:left;
			width:33.333%;
			padding: 0 27px 18px 28px;
			@include mq($until: 1400px) {
				padding-left:10px;
				padding-right:10px;
			}
			@include mq($until: tablet) {
				float:none;
				width:100%;
			}
		} 
		.box-link {
			display:block;
			position:relative;
			overflow:hidden;
			border-radius:$border-radius-base + 8;
			color:$base-white;
			font-family:$font-family-base-roboto;
			font-size:24px;
			line-height:45px;
			text-align:center;
			text-transform:uppercase;
			transition:opacity .3s;
			@include mq($until: tablet) {
				max-width:505px;
				margin:0 auto;
			}
			&:hover {
				opacity: .8;
			}
			img {
				width:100%;
				height:auto;
			}
			.text {
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				padding: 11% 20px 10px;
			}
			.stile-1 {
				margin:0 0 -5px;
			}
			h2 {
				margin:0;
				line-height:45px;
				@include mq($until: 1400px) {
					font-size:28px;
					line-height:30px;
				}
				@include mq($until: tablet) {
					font-size:35px;
					line-height:40px;
				}
				@include mq($until: 479px) {
					font-size:30px;
					line-height: 32px;
				}
			}
			.ico {
				display:inline-block;
				vertical-align:top;
				height:80px;
				font-size:80px;
				margin: 0 0 22px;
				line-height:1;
				@include mq($until: 1400px) {
					height:50px;
					font-size:50px;
					margin: 0 0 15px;
				}
				@include mq($until: desktop) {
					height:30px;
					font-size:30px;
					margin: 0 0 10px;
				}
				@include mq($until: tablet) {
					height:70px;
					font-size:70px;
					margin: 0 0 10px;
				}
				@include mq($until: 479px) {
					height:40px;
					font-size:40px;
					margin: 0;
				}
			}
			.icon-cogwheel {
				font-size: 74px;
				@include mq($until: 1400px) {
					font-size:50px;
				}
				@include mq($until: desktop) {
					font-size:30px;
				}
				@include mq($until: tablet) {
					font-size:64px;
				}
				@include mq($until: 479px) {
					font-size:40px;
				}
			}
		}
	}
}
/* progress bar */
.progress {
	height:7px;
	box-shadow:none;
	width:59%;
	float:left;
	margin: 0 20px 0 0;
	@include mq($until: widescreen) {
		width: 55%;
	}
	@include mq($until: tablet) {
		width:100%;
	}
	.progress-bar {
		box-shadow:none;
		line-height:7px;
	}
}
/* title box */
.gallery-hold {
	.title {
		position:absolute;
		left:0;	
		right:0;
		bottom:0;
		background:rgba($base-orange,.85);
		color:$base-white;
		z-index: 10;
		padding:51px 0 54px;
		@include mq($until: 1400px) {
			padding:20px 0;
		}
		@include mq($until: widescreen) {
			position:static;
		}
		h1 {
			margin:0;
			line-height:50px;
			text-transform:uppercase;
			font-weight:300;
			font-family:$font-family-base-roboto;
			@include mq($until: widescreen) {
				font-size:35px;
			}
			@include mq($until: tablet) {
				text-align:center;
			}
			@include mq($until: mobile) {
				font-size: 20px;
				line-height:24px;
			}
		}
	}
}
/* box register */
.box-register {
	color:$base-grey-2;
	font-size:18px;
	line-height:26px;
	padding: 49px 0 58px;
	background:$base-brown;
	font-weight:300;
	margin-bottom:60px;
	@include mq($until: mobile) {
		padding: 25px 0
	}
	.register-title {
		float:left;
		width:260px;
		font-size:55px;
		line-height:62px;
		padding: 0 10px 0 0;
		@include mq($until: widescreen) {
			font-size:40px;
		}
		@include mq($until: mobile) {
			width:100%;
			font-size:30px;
			padding:0;
		}
	}
	.text{
		overflow:hidden;
		@include mq($until: mobile){
			overflow: visible;
		}
	}
}
/* registration form styles */
.register-form {
	font-weight:300;
	font-size:18px;
	line-height:26px;
	.password-strength {
		font-size:18px;
		line-height:22px;
		font-weight:300;
		padding: 0 0 16px;
		.text {
			position:relative;
			top:-8px;
			font-size:18px;
			line-height:22px;
			margin:0;
			@include mq($until: tablet) {
				top:7px;
			}
		}
	}
	.form-holder {
		border-top:1px solid $base-border-color;
		margin: 0 -362px;
		padding: 60px 362px 31px;
	}
	fieldset {
		.form-holder {
			&:first-child {
				padding-top:0;
				border:none;
			}
		}
	}
	.input-text {
		padding: 10px 0 0;
		margin:0 0 -2px;
		font-weight:300;
		color:$base-black;
		font-size:12px;
		line-height:14px;
		display:block;
	}
	.text-holder {
		margin: -9px 0 0;
		padding: 0 0 17px;

	}
	.text {
		font-size:12px;
		line-height:15px;
		margin: -5px 0 0;
	}
	.captcha {
		display:inline-block;
		vertical-align:top;
		margin: 0 0 30px;
	}
	.jcf-checkbox {
		float:left;
	}
	label {
		font-weight:300;
		font-size: 18px;
		line-height:30px;
		display:block;
		@include mq($until: mobile) {
			font-size:12px;
		}
		strong {
			font-weight:500;
		}
	}
	.box-button {
		padding: 84px 0 0;
		margin-bottom:-9px;
		overflow:hidden;
		.btn {
			text-transform:uppercase;
			font-size:20px;
			line-height:24px;
			font-weight:700;
			text-align:center;
			height:50px;
			float:right;
			width:48.5%;
			&:first-child {
				float:left;
			}
		}
	}
}
/* banner */
.banner {
	width:100%;
	position:relative;
	.title-1 {
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background:rgba($base-light-green,.85);
		color:$base-white;
		font-weight:300;
		padding:44px 0 60px;
		@include mq($until: 1400px) {
			padding:20px 0;
		}
		@include mq($until: desktop) {
			position:static;
		}
		h1 {
			float:left;
			margin:0 0 -12px;
			width:490px;
			padding: 0 10px 0 0;
			line-height:62px;
			text-transform:uppercase;
			font-weight:300;
			font-family:$font-family-base-roboto;
			@include mq($until: 1400px) {
				font-size:35px;
				line-height:40px;
			}
			@include mq($until: desktop) {
				float:none;
				width:100%;
				margin: 0 0 10px;
			}
		}
		.title-content {
			overflow:hidden;
			font-size: 18px;
			line-height:26px;
			padding: 8px 0 0;
			@include mq($until: 1400px) {
				font-size:15px;
				line-height:24px;
			}
			p {
				margin:0;
			}
		}
	}
}
/* search form */
.search-bar {
	padding: 17px 0 18px;
	margin:0;
	background:$base-brown;
	position:relative;
	z-index: 5;
	.search-form-1 {
		@include mq($until: mobile) {
			text-align:left;
		}
		.col-holder {
			overflow:hidden;
		}
	}
	.relative-non {
		position:static;
	}
	[type="submit"] {
		float:left;
		background:none;
		font-size:64px; 
		line-height:1;
		width:62px;
		height:64px;
		color:$base-black;
		padding:0;
		border:none;
		margin: 0 0 0 2px;
		&:hover {
			opacity: .8;
		}
		@include mq($until: tablet) {
			font-size:49px; 
			width:48px;
			height:64px;
		}
		@include mq($until: mobile) {
			width:48px;
			margin:0;
		}
	}
	[type="search"] {
		margin: 9px 0 0;
		float:left;
		padding:0px 22px;
		height:50px;
		color:$base-grey-2;
		font-size:30px;
		line-height:50px;
		font-weight:300;
		width: 80%;
		font-family:$font-family-base-lucida;
		@include set-placeholder-color ($base-grey-2);
		@include mq($until: tablet) {
			font-size:26px;
		}
		@include mq($until: mobile) {
			width:80%;
			padding: 0 5px;
			font-size:16px;
		}
		&:focus {
			border-color:$base-brown;
		}
	}
	.link {
		float:right;
		color:$base-grey;
		font-size:16px;
		line-height:29px;
		font-weight:300;
		margin: 15px 1px 0 0;
		@include mq($until: mobile) {
			float:none;
			display:inline-block;
			margin: 15px 0 0;
			vertical-align:middle;
		}
		&:focus,
		&:active,
		&:hover {
			text-decoration:none;
			opacity: .8;
		}
		i {
			font-size:29px;
			line-height:1;
			position:relative;
			top:6px;
			margin:0 0 0 14px;
		}
	}
}
/* content */
.content-text {
	padding: 72px 0 26px;
	font-size:$font-size-base - 2;
	line-height:26px;
	color:$base-black;
	font-weight:300;
	@include mq($until: mobile) {
		padding-top:40px;
	}
	p {
		margin: 0 0 26px;
	}
	h1 {
		margin: 0 0 42px;
		text-transform:uppercase;
		line-height:50px;
		color:$base-black;
		font-family:$font-family-base-roboto;
		font-weight:400;
		@include mq($until: mobile) {
			font-size:34px;
		}
	}
}
/* item block */
.block-item {
	color:$base-white;
	font-size:$font-size-base - 2;
	line-height:26px;
	font-weight:300;
	margin: 0 0 69px;
	@include mq($until: mobile){
		margin:0 0 40px;
	}
	h2 {
		margin: 0 0 39px;
		text-transform:uppercase;
		font-family:$font-family-base-roboto;
		font-weight:300;
		line-height:50px;
		@include mq($until: tablet) {
			font-size:35px;
			line-height:40px;
		}
		@include mq($until: 479px) {
			font-size:30px;
			line-height: 32px;
		}
	}
	.block-bg-1 {
		margin: 0 -15px 0 -9999px;
		padding: 49px 15px 34px 9999px;
		background:$base-green;
		@include mq($until: mobile) {
			height:auto !important;
		}
	}
	.block-bg-2 {
		margin: 0 -9999px 0 -15px;
		padding: 49px 9999px 34px 15px;
		background:$base-light-green;
		@include mq($until: mobile) {
			height:auto !important;
		}
	}
	.list {
		@extend %listreset;
		padding-left:9px;
		li {
			margin:0 0 41px;
			padding: 0 0 0 66px;
			position:relative;
		}
		.ico {
			position:absolute;
			left:0;
			top:8px;
			width:41px; 
			font-size:35px;
			line-height:1;
			text-align:center;
		}
		.icon-network {
			font-size:38px;
		}
	}
}
/* feedback form */
.feedback-form {
	padding: 0 0 47px;
	@include mq($until: mobile){
		padding:0;
	}
	h2 {
		margin: 0 0 49px;
		font-weight:300;
		font-family:$font-family-base-roboto;
		line-height:50px;
		text-transform:uppercase;
		color:$base-black;
		@include mq($until: tablet) {
			font-size:35px;
			line-height:40px;
		}
		@include mq($until: 479px) {
			font-size:30px;
			line-height: 32px;
		}
	}
	.button-holder {
		padding: 57px 0 0;
		@include mq($until: mobile){
			padding:30px 0 0;
		}
		.btn {
			display:block;
			height:50px;
			text-transform:uppercase;
			width:205px;
			margin:0 0 0 auto;
			font-size:18px;
			line-height:22px;
			font-weight:700;
			@include mq($until: mobile){
				width:100%;
			}
		}
	}
	textarea.form-control {
		line-height:26px;
		padding-top:19px;
		height:222px;
		min-height: 222px;
		max-width:100%;
	}
}
/* accordion */
.title-accordion {
	margin:0 -322px;
	padding: 72px 332px 52px;
	border-bottom:1px solid $base-border-color;
	@include mq($until: mobile) {
		padding-top:30px;
		padding-bottom:30px;
	}
	h1 {
		text-transform:uppercase;
		margin:0;
		font-weight:300;
		font-family:$font-family-base-roboto;
		@include mq($until: mobile) {
			font-size:34px;
		}
	}
}
.accordion-box {
	padding-bottom:50px;
	.panel-group {
		.panel {
			padding:54px 40px 55px 0;
			position:relative;
			border-bottom: 1px solid $base-border-color;
			@include mq($until: mobile) {
				padding-right:20px;
				padding: 20px 20px 20px 0;
			}
		}
		h4 {
			margin:0;
			font-family:$font-family-base-roboto;
			font-weight:300;
			@include mq($until: mobile) {
				font-size:20px;
			}
		}
		.panel-title {
			a {
				color:$base-black;
				&.active,
				&:focus,
				&:active,
				&:hover {
					text-decoration:none;
				}
			}
			.ico {
				position:absolute;
				bottom: 54px;
				transform: rotate(180deg);
				right:20px;
				font-size:10px;
				line-height:1;
				z-index:10;
				@include mq($until: mobile) {
					right:0;
					bottom:20px;
				}
			}
			.collapsed {
				.ico {
					top:50%;
					margin-top:-3px;
					bottom:auto;
					transform: rotate(0deg);
				}
			}
		}
		.panel-collapse {
			.panel-body {
				padding: 17px 0 0;
				font-weight:300;
				font-size:$font-size-base - 2;
				line-height:26px;
				p {
					margin:0;
				}
				.list {
					@extend %listreset;
					padding-left:36px;
					li {
						position:relative;
						padding-left:7px;
						margin-bottom:-1px;
						&:after {
							content:'';
							position:absolute;
							top:11px;
							left:0;
							border-radius:50%;
							width:3px;
							height:3px;
							background:$base-black;
						}
					}
				}
			}
		}
	}
}
/* post */
.result-box.post {
	border:none;
	font-size:16px;
	color:$base-grey-2;
	margin-bottom:15px;
	.rating-holder {
		float:none;
		width:100%;
		padding:0 0 6px;
	}
	.panel {
		margin-bottom:15px;
	}
	.star-rating {
		font-size:18px;
	}
}
.post {
	border:none;
	a {
		color:$base-grey-2;
	}
	.rate-me {
		color:$base-black;
		display:inline-block;
		vertical-align:top;
		margin: 3px 0 0;
		&:active,
		&:hover,
		&:focus {
			text-decoration:none;
			opacity: .8;
		}
	}
	.rating-panel {
		overflow:hidden;
		.signature {
			float:left;
			line-height:26px;
			color:$base-black;
			opacity: .5;
			@include mq($until: mobile){
				float:none;
				display:block;
				margin:0 0 5px;
			}
			a {
				text-decoration:underline;
				color:$base-black;
				&:focus,
				&:hover{
					text-decoration:none;
					color:$base-black;
				}
			}
			.settings {
				float:right;
			}
		}
	}
}
.result-block {
	margin: 0 0 0 -9999px;
	padding:0 60px 0 9999px;
	background:$base-brown;
	@include mq($until: mobile) {
		padding-right:0;
		margin-right:-15px;
	}
	.title {
		@extend %clearfix;
		padding-top:54px;
		padding-bottom:54px;
		@include mq($until: mobile){
			padding:30px 15px 30px 0;
			text-align:left;
		}
		h3 {
			margin:0;
			font-weight:400;
			font-family:$font-family-base-roboto;
			color:$base-black;
			float:left;
			line-height:34px;
			@include mq($until: mobile){
				float:none;
			}
		}
		a {
			float:right;
			font-size:12px;
			color:$base-grey;
			line-height:34px;
			margin:5px 0 -5px;
			&:active,
			&:hover,
			&:focus {
				text-decoration:none;
				opacity: .8;
			}
			@include mq($until: mobile){
				float:none;
			}
		}
	}
	.result-box {
		margin-left:-320px;
		padding-left:320px;
		padding-top:52px;
		padding-bottom:50px;
		margin-bottom:0;
		border-bottom:0;
		border-top:1px solid $base-border-color;
		@include mq($until: mobile) {
			padding:30px 15px 30px 320px;
		}
		.star-rating {
			font-size:18px;
		}
		.btn-list {
			padding: 23px 0 10px;
			@extend %clearfix;
			li  {
				float:left;
				width: 205px;
				margin:0 10px 10px 0;
				@include mq($until: mobile) {
					float:none;
					margin-right:0;
					width:100%;
				}
			}
		}
	}
	.category-box {
		float:left;
		width:29px;
		margin:0 22px 0 3px;
		padding:6px 0 0;
		.icon-file {
			font-size:39px;
			line-height:1;
		}
		[class^="icon-"].icon-camera {
			font-size:24px;
			line-height:1;
		}
		[class^="icon-"].icon-clip {
			font-size:25px;
			line-height:1;
		}
		.visual {
			font-size:5px;
			width: 55px;
			margin-left:-26px;
		}
	}
	.holder-text {
		overflow:hidden;
	}
	h5 {
		margin:8px 0 19px;
		font-weight:400;
		line-height:26px;
		font-family:$font-family-base-roboto;
		a {
			color:$base-black;
			&:active,
			&:hover,
			&:focus {
				text-decoration:none;
				opacity: .8;
			}
			span {
				color:$base-grey-5;
				text-transform:uppercase;
			}
		}
	}
}
/* btn group */
.btn-group {
	.btn {
		width:100%;
		margin:0 0 10px;
		text-transform:uppercase;
		span {
			display:none;
		}
		&.active {
			span {
				display:inline-block;
				vertical-align:top;
			}
		}
	}
}
.btn-group-1 {
	display:block;
	@extend %clearfix;
	.btn {
		text-transform:none;
		font-size:12px;
		line-height:16px;
		white-space:normal;
		@include mq($until: tablet) {
			display:block;
			float:none;
		}
	}
}
.btn-group-2 {
	margin-right:15px;
	float:left;
	@include mq($until: mobile){
		margin:0;
		display:block;
		float:none;
	}
}
.btn-group {
	.btn-2 {
		text-transform:none;
		margin-right:15px;
	}
}
.btn-2 {
	border-radius: $border-radius-base + 8 !important;
	position:relative;
	font-size:14px;
	height:40px;
	line-height:18px;
	font-weight:400;
	text-align:left;
	transition:all .3s;
	&:active,
	&:hover,
	&:focus {
		&:before {
			border-left: 16px solid $base-white;
		}
	}
	&:after {
		content:'';
		position:absolute;
		right:-19px;
		top:-3px;
		width: 0;
		height: 0;
		border-top: 19px solid transparent;
		border-left: 19px solid $btn-default-border;
		border-bottom: 19px solid transparent;
	}
	&:before {
		content:'';
		position:absolute;
		z-index:1;
		right:-14px;
		top:0px;
		width: 0;
		height: 0;
		transition:all .3s;
		border-top: 16px solid transparent;
		border-left: 16px solid $btn-default-bg;
		border-bottom: 16px solid transparent;
	}
}
/* sidebar styles */
#sidebar {
	.btn-group-1 {
		.btn {
			padding-top:15px;
			padding-bottom:11px;
		}
	}
	.btn {
		padding-top:8px;
		padding-bottom:8px;
	}
	/* box sidebar */
	.box {
		border-top:1px solid $base-border-color;
		padding:16px 0 10px;
		&:first-child {
			border:none;
			padding-top:8px;
		}
	}
	h2 {
		margin: 0 0 17px;
		color:$base-grey;
		font-size:12px;
		line-height:16px;
		text-transform:uppercase;
		font-weight:400;
	}
	.link-holder {
		text-align:center;
	}
	.link {
		text-transform:uppercase;
		font-size:12px;
		line-height:16px;
		color:$base-grey;
		&:active,
		&:hover,
		&:focus {
			text-decoration:none;
			opacity:.8;
		}
	}
	.btn-group {
		@include mq($until: mobile) {
			display:block;
			&.btn-group-2{
				padding:0 15px 0 0;
			}
		}
	}
}
/* social networks styles */
.share-box {
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
	margin: -8px -10px 4px -9px;
	text-align:center;
	li {
		vertical-align:top;
		margin: 0 10px 5px 9px;
		padding:0;
		letter-spacing:0;
		@include mq($until: tablet) {
			margin: 0 5px 5px;
		}
		a {
			display:block;
			color:$base-light-green;
			&:active,
			&:hover,
			&:focus {
				text-decoration:none;
				opacity:.8;
			}
			.icon-mail {
				width:30px;
				font-size:19px;
				line-height:22px;
				@include mq($until: mobile) {
					width:26px;
					font-size:17px;
					left:20px;
				}
			}
		}
	}
	.ico {
		font-size:24px;
		display:block;
		width:25px;
		height:25px;
		@include mq($until: tablet) {
			font-size:22px;
			width:22px;
			height:22px;
		}
	}
	.aside &{
		margin: -8px -10px 4px;
	}
}
/* tag-box */
.tag-box {
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
	text-align:center;
	margin: 0 -10px 0 -9px;
	padding:0 0 9px;
	li {
		vertical-align:top;
		font-size:12px;
		font-weight:900;
		letter-spacing:0;
		line-height:24px;
		width:24px;
		height:24px;
		border-radius:50%;
		margin:0 10px 10px 9px;
		padding:0;
		overflow:hidden;
		background:$base-orange;
		&:hover {
			text-decoration:none;
			opacity:.8;
		}
		@include mq($until: tablet) {
			margin:0 4px 10px;
		}
		a {
			line-height:27px;
			display:block;
			color:$base-white;
			&:active,
			&:hover,
			&:focus {
				text-decoration:none;
				opacity:.8;
			}
		}
	}
}
/* box information */
.box-information {
	background:$base-brown;
	padding: 66px 0 80px;
}
/* information form */
.information-form {
	label {
		font-size:18px;
		line-height:22px;
		margin-bottom:15px;
		font-weight:300;
		color:$base-black;
		display:inline-block;
		vertical-align:top;
	}
	.form-control {
		background:$base-white;
		color:$base-black;
		font-weight:300;
		@include set-placeholder-color ($base-black);
	}
	.label {
		line-height:32px;
		padding:0;
		margin:0;
		@include mq($until: mobile){
			font-size:$font-size-base - 4;
		}
	}
	.label-group {
		padding: 28px 0 55px;
	}
	.box-button {
		.btn {
			width:100%;
			margin: 0 0 10px;
		}
	}
}
