/* modal styles */
.modal-open .modal {
	padding: 0 10px !important;
}
.modal-dialog{
	margin:70px auto;
	&.modal-lg{
		.modal-content{
			padding:30px 30px 20px;
			@include mq($until: mobile){
				padding:15px;
			}
		}
		h1{
			font-size:$font-size-h3;
			line-height:33px;
			font-weight: normal;
			text-transform:none;
			float:left;
			margin:0 10px 0 0;
			max-width: 420px;
			@include mq($until: mobile){
				max-width: none;
				float:none;
				font-size:$font-size-base + 6;
				line-height:27px;
				margin:0 0 15px;
			}
		}
		.modal-header{
			overflow:hidden;
			border:none;
			padding:0 0 25px;
			.btn{
				float:right;
				width:205px;
				height:50px;
				font-weight: 700;
				text-transform:uppercase;
				font-size:$font-size-base + 2;
				line-height:20px;
				margin:12px 0 0 30px;
				@include mq($until: mobile){
					width:100%;
					float:right;
				}
				span{
					display:none;
				}
				&.active{
					span{
						display:inline-block;
					}
				}
			}
		}
	}
	.content-inf{
		overflow:hidden;
		.img-hold{
			overflow:hidden;
			padding:0 0 10px;
			img{
				border:1px solid $base-grey-8;
			}
		}
	}
	/* column */
	.column{
		float:left;
		width:625px;
		font-size:$font-size-base;
		line-height:26px;
		color:$base-grey-2;
		font-weight: 300;
		@include mq($until: tablet){
			float:none;
			width:100%;
		}
		@include mq($until: mobile){
			font-size:$font-size-base - 2;
		}
		p{
			margin:0 0 10px;
		}
		.rating-holder{
			font-size:$font-size-base + 3;
			line-height: 22px;
			margin: 0;
			padding: 0 10px 5px 0;
			width: 72%;
			overflow:hidden;
			.text{
				font-size:$font-size-base + 1;
				line-height:19px;
				font-weight: 300;
				vertical-align:top;
				padding:3px 0 0;
			}
		}
		.panel{
			overflow:hidden;
			padding:10px 0 16px;
		}
		.star-rating{
			display:inline-block;
			max-width: none;
			margin:0 15px 0 0;
			li{
				&.active{
					a{
						color:$base-yellow;
					}
				}
			}
			a{
				color:$base-grey-5;
				&:hover{
					color:$base-yellow;
					text-decoration:none;
				}
			}
		}
		.rating-panel{
			overflow:hidden;
			font-size:$font-size-base - 4;
			line-height:14px;
			color:$base-black;
			.signature{
				float:left;
				margin:5px 10px 0 0;
				opacity: .5;
				a{
					color:$base-black;
					text-decoration:underline;
					&:hover{
						text-decoration:none;
					}
				}
			}
		}
		.settings{
			 float: right;
			font-size: 19px;
			line-height: 24px;
			text-align: right;
			width: 28%;
			@extend %listreset;
			li{
				display: inline-block;
				margin: 0 0 0 2px;
				vertical-align: top;
			}
			a{
				color:$base-black;
				transition: all 0.3s ease 0s;
				&:hover{
					text-decoration:none;
					opacity: .8;
				}
			}
		}
	}
	/* aside */
	.aside{
		float:right;
		width:205px;
		@include mq($until: tablet){
			float:none;
			width:100%;
		}
		.box {
			border-top:1px solid $base-border-color;
			padding:16px 0 10px;
			&:first-child {
				border:none;
				padding-top:8px;
			}
		}
		h2 {
			margin: 0 0 17px;
			color:$base-grey;
			font-size:12px;
			line-height:16px;
			text-transform:uppercase;
			font-weight:400;
			@include mq($until: tablet){
				text-align:center;
			}
		}
		.link-holder {
			text-align:center;
		}
		.link {
			text-transform:uppercase;
			font-size:12px;
			line-height:16px;
			color:$base-grey;
			&:active,
			&:hover,
			&:focus {
				text-decoration:none;
				opacity:.8;
			}
		}
		.btn-group {
			@include mq($until: tablet) {
				display:block;
				&.btn-group-2{
					margin:0 15px 0 0;
					float:none;
					.btn{
						text-align:center;
					}
				}
			}
		}
		.btn{
			padding:5px;
			height:50px;
			&.btn-2{
				height:40px;
				margin-right:20px;
				padding:5px 5px 5px 16px;
			}
		}
	}
}
/* modal-content */
.modal-content{
	@include box-shadow(none);
	border-width:0;
	padding:21px 29px 30px;
	position:relative;
	.close{
		position:absolute;
		right:-7px;
		top:-68px;
		font:300 70px/70px $font-family-base;
		@include opacity(1);
		transition:all 0.3s ease;
		&:hover{
			opacity:0.7;
		}
	}
	h1{
		font:300 40px/44px $font-family-base-roboto;
		overflow:hidden;
		text-transform:uppercase;
		span{
			display:block;
			color:$base-grey-5;
			font-size:25px;
			line-height:29px;
		}
	}
	@include mq($until: mobile){
		padding:20px 10px;
		.close{
			right:6px;
		}
		h1{
			font-size:35px;
			line-height:38px;
		}
	}
}
/* styles form */
.form-group{
	margin-bottom:30px;
	@include mq($until: mobile){
		margin-bottom:20px;
	}
}
.setting-form{
	.modal-body{
		padding-top:0;
	}
	.modal-header{
		overflow:hidden;
		padding-right:20px;
	}
	@include mq($until: mobile){
		.modal-header{
			padding-right:0;
			display:table;
			width:100%;
		}
	}
}
/* popover */
.popover {
	border:none;
	box-shadow:none;
	font-size:12px;
	line-height:14px;
	color:$base-white;
	z-index:100;
	.close {
		opacity:1;
		font-size:15px;
		line-height:1;
		width:15px;
		height:15px;
		float:none;
		content:'';
		position:absolute;
		right:10px;
		top:10px;
	}
	.popover-content {
		padding: 19px 41px 17px 15px;
	}
	.link-holder {
		text-align:center;
		text-transform:uppercase;
		margin-right:-26px;
		a {
			color:$base-white;
			&:active,
			&:hover,
			&:focus {
				text-decoration:none;
				opacity: .8;
			}
		}
	}
	&.top {margin-top:-16px;}
	&.right {margin-left:15px; }
	&.left { margin-left:-36px; }
}
/* collection box */
.collection-box {
	.modal-body {
		padding-top:18px;
		&.error {
			.added {
				display:none;
			}
			.error-text {
				display:block;
			}
		}
	}
	.valid-box {
		font-size: 18px;
		line-height:22px;
		font-weight:700;
		padding:0 0 11px;
		@include mq($until: mobile) {
			font-size:16px;
		}
		> span {
			display:block;
		}
		.added {
			color:$base-green;
		}
		.error-text {
			display:none;
			color:$base-red-color;
		}
	}
	.list-collection {
		@extend %listreset;
		padding-bottom:10px;
		li {
			position:relative;
			margin: 0 0 10px;
			a {
				color:$base-black;
				padding: 23px 50px 17px 22px;
				background:$base-brown;
				display:block;
				border-radius:$border-radius-base + 8;
				line-height:22px;
				font-size:18px;
				font-weight:300;
				@include mq($until: mobile) {
					font-size:16px;
					padding-top:20px;
				}
				&:focus,
				&:active,
				&:hover {
					text-decoration:none;
				}
			}
			&.active {
				a {
					background:$base-green;
					font-weight:700;
					color:$base-white;
					&:hover {
						text-decoration:none;
					}
					&:after {
						content:'\e61a';
						position:absolute;
						top:50%;
						right:14px;
						font-size:31px;
						line-height:1;
						margin-top:-16px;
						color:$base-white;
					}
					&:hover {
						a {
							color:$base-white;
						}
						&:after {
							content:'\e605';
							position:absolute;
							top:50%;
							right:15px;
							font-size:27px;
							line-height:1;
							margin-top:-12px;
							color:$base-white;
						}
					}
				}
			}
		}
	}
	.button-holder {
		padding: 53px 0 0;
		overflow:hidden;
		@include mq($until: mobile) {
			text-align:center;
			padding-top:10px;
		}
	}
	.btn {
		float:right;
		min-width:205px;
		padding-top:11px;
		padding-bottom:9px;
		font-size:18px;
		line-height:22px;
		font-weight:700;
		@include mq($until: mobile) {
			float:none;
			display:block;
			margin: 0 0 10px;
			width:100%;
		}
	}
	.btn-create {
		font-weight:700;
		color:$base-orange;
		font-size:18px;
		line-height:22px;
		background:none;
		text-transform:uppercase;
		border:none;
		padding:0;
		vertical-align:middle;
		float:left;
		min-width:auto;
		@include mq($until: mobile) {
			display:inline-block;
			vertical-align:top;
			vertical-align:top;
			width:auto;
			float:none;
		}
		&:hover {
			.ico {
				background:$base-white;
				color:$base-orange;
			}
		}
		.text {
			display:block;
			overflow:hidden;
			padding: 14px  0 0;
			@include mq($until: mobile) {
				display:inline-block;
				vertical-align:top;
			}
		} 
		.ico {
			transition:background, color .3s;
			font-size:22px;
			line-height:42px;
			margin: 0 19px 0 0;
			float:left;
			width:50px;
			height:50px;
			color:$base-white;
			font-weight:700;
			border:4px solid $base-orange;
			background:$base-orange;
			@include mq($until: mobile) {
				float:none;
				display:inline-block;
				vertical-align:top;
			}
		}
	}
}
.video-holder{
	width:100%;
	overflow:hidden;
	margin:0 0 20px;
}
/* filter box */
.filter-coapse-holder {
	@extend %clearfix;
	position:static;
	.btn.btn-primary {
		padding-top:12px;
		height:auto;
		padding-bottom:37px;
		margin-bottom:-25px;
		background:$base-green;
		color:$base-white;
		&.collapsed {
			padding-bottom:12px;
			margin-bottom:0;
		}
	}
}
.filter-colapse {
	right:0;
	left:0;
	border:none;
	background:none;
	box-shadow:none;
	padding:0;
	margin:0;
	position:absolute;
	top:100%;
	.well {
		background:$base-green;
	}
	.accordion-box {
		padding:0px 30px;
		.panel {
			border-color:$base-border-color-light-green;
			padding:50px 40px 26px 30px;
			@include mq($until: mobile) {
				padding-top:20px;
				padding-right:10px;
				padding-left:0;
			}
		}
		.panel-group {
			.panel-heading {
				padding-bottom:24px;
				@include mq($until: mobile){
					padding-bottom:0;
				}
			}
			.panel-title a {
				color:$base-white;
			}	
			.panel-title .ico { 
				right:28px;
				bottom:30px;
				@include mq($until: mobile) {
					right:-10px;
				}
			}
			.panel-collapse .panel-body {
				padding-top:0;
				margin-top:-24px;
			}
		}
	}
}
.checked-form {
	padding: 37px 0 0;
}
/* list check */
.list-check {
	@extend %listreset;
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
	margin-right:-8.7%;
	@include mq($until: 1400px) {
		margin-right:-10px;
	}
	@include mq($until: tablet) {
		margin-right:0;
	}
	li {
		@extend %clearfix;
		width:25%;
		letter-spacing:0;
		vertical-align:top;
		font-size:18px;
		line-height:32px;
		padding: 0 8.5% 43px 0;
		color:$base-white;
		display:inline-block;
		vertical-align:top;
		@include mq($until: 1400px) {
			padding-right:10px;
		}
		@include mq($until: widescreen) {
			font-size:16px;
		}
		@include mq($until: tablet) {
			width:50%;
		}
		@include mq($until: mobile) {
			width:100%;
			padding-bottom:15px;
		}
	}
	label {
		font-weight:300;
	}
}