//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;
//
// To declare a SASS Silent Class in this file type the followin:
//   %silent-class-name {
//     ...
//   }
// Then to use a SASS Silent Class for a particular rule, add this inside the ruleset's
// curly brackets:
//   @extend %silent-class-name;
//
// To know more about SASS Silent Classes go to: https://portland2013.drupal.org/content/sass-ooscss-wextends-and-silent-placeholders

@import "../sass-extensions/font-awesome/font-awesome/scss/variables";
@import "../sass-extensions/font-awesome/font-awesome/scss/mixins";

/* ----------------------------------------------------
 *                       MIXINS
/* ---------------------------------------------------- */


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

// If the font size is smaller than 90% of the line-height then we don't increase the line-height
@mixin set-font-size-to($to-size, $lines: lines-for-font-size($to-size), $from-size: $base-font-size) {

  @if ($to-size < $base-line-height) {
    @include adjust-font-size-to($to-size, 1);
  } @else {
    @include adjust-font-size-to($to-size, $lines, $from-size);
  }
}

// Add a circle background with background color $background-color, text color $text-color, and radius $radius
@mixin add-circle-bg($background-color: $bg-color, $text-color: $color-text-clear, $radius: 12px) {
  background-color: $background-color;
  border-radius: $radius;
  color: $text-color;
  display: inline-block;
  font-weight: bold;
  height: $radius * 2;
  line-height: $radius * 2;
  text-align: center;
  width: $radius * 2;
}

// Add a rectangle background with background color $background-color, text color $text-color, and min-width $min-width
@mixin add-rectangle-bg($background-color: $bg-color, $text-color: $color-text-clear, $min-width: 100px, $padding: 2px 10px 2px 5px, $border-radius: 0) {
  @include box-sizing(border-box);
  background-color: $background-color;
  color: $text-color;
  display: inline-block;
  min-width: $min-width;
  padding: $padding;
  border-radius: $border-radius;
}

// Add a rectangle background with background color $background-color, border-color $border-color, border-width $border-width, text color $text-color
@mixin add-rectangle-bg-border($background-color: $bg-color, $border-color: $bd-color, $border-width: $bd-with, $text-color: $color-text-clear) {
  @include box-sizing(border-box);
  background-color: $background-color;
  border-left-color: $border-color;
  border-left-width: $border-width;
  border-left-style: solid;
  color: $text-color;
  padding: 5px 10px;
}

// Add a rectangle background with background color $background-color, text color $text-color, and a pointing side to left or right ($direction)
@mixin add-directional-bg($background-color: $bg-color-tag, $text-color: $color-text-medium, $direction: 'left', $font-size: 11px) {
  @include set-font-size-to($font-size);
  background-color: $background-color;
  border-radius: 2px;
  color: $text-color;
  display: inline-block;
  padding: 0px 6px;
	position: relative;

  &:before {
  	right: 100%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  &:before {
  	border-color: rgba(136, 183, 213, 0);
  	border-right-color: $background-color;
  	border-width: 10px;
  	top: 50%;
  	margin-top: -10px;
  }
}

@mixin dotted-pager($background-color: $bg-color-container, $active-color: $bg-color-footer) {
  float: left;
  position: relative;
  left: 50%;
  width: 100%;
  line-height: 1.5em;
  margin: 0 0 0 -50%;
  background-color: transparent;
  padding-top: 7px;
  text-align: center;
  a,
  .pager-current {
    width: 13px;
    height: 13px;
    border-radius: 10px;
    display: inline-block;
    @include replace-image();
    padding: 0;
    margin: 0 2px 0 0;
  }
  a {
    border-left: none;
    &:link,
    &:visited {
      background-color: $background-color;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: $active-color;
    }
  }
  .pager-current {
    background-color: $active-color;
    border-left: 0;
  }
  .pager-first,
  .pager-previous,
  .pager-next,
  .pager-last {
    display: none;
  }
}

@mixin background-with-box-shadow($background-color: $bg-color-clear, $text-color: $color-text) {
  @include leader();
  @include trailer();
  background-color: $background-color;
  box-shadow: 2px 2px 0px 0px $bg-color-block;
  padding: rhythm($offset: 1);
  color: $text-color;
}

// Image/text replacement
@mixin replace-image() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Active facet link
@mixin active-facet-link($close-icon: true, $background-color: $bg-color-first-sidebar, $text-color: $color-text-light) {
  display: inline-block;
  padding-right: 6px;
  @if $close-icon == false {
    padding-left: 6px;
  }
  background-color: $background-color;
  color: $text-color;
  @include set-font-size-to(12px);
  @if $close-icon == true {
    &:before {
      @include icon($remove);
      display: inline-block;
      margin-right: 6px;
      padding: 2px 6px;
      border-right: 1px solid lighten($background-color, 76%);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: lighten($background-color, 20%);
    text-decoration: none;
  }
}

// Clearfix: Content method
@mixin clearfix-content() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin default-resource-icon($font-size: 36px, $text-color: inherit) {
  @include icon($file-text);
  color: $text-color;
  position: absolute;
  display: inline-block;
  font-size: $font-size;
  top: 50%;
  left: 50%;
}

/* ----------------------------------------------------
 *                  SILENT CLASSES
/* ---------------------------------------------------- */


// Second sidebar block style
%second-sidebar-block-style {
  @include rhythm-borders();
  background: $bg-color-second-sidebar-block;
  border-color: darken($bg-color-second-sidebar-block, 10%);
  padding-bottom: 0; // move this rhythm into margin of its children
  padding-top: 0; // move this rhythm into margin of its childre

  .block-title {
     margin: 10px 0;
  }

  .block-content {
    margin: 20px 0 15px 0;
  }
}

// Collapsible facet
%facet-collapsible {
  border-color: $bg-color-second-sidebar-block;
  margin-bottom: 1px;
  padding: 0;

  &:last-child {
    @include trailer();
  }

  .block-title {
    @include set-font-size-to($h5-font-size);
    font-weight: normal;
    color: $color-text-medium;
    margin: 0;
    padding: rhythm(1, $h5-font-size * 4, $offset: 1) rhythm(1, $h5-font-size, $offset: 1);
    position: relative;

    .toggle {
      background: none !important;
      height: auto !important;
      margin: 0 !important;
      position: absolute;
      right: 10px;
      top: 25%;
      width: auto !important;

      &:before {
        @include icon($chevron-down);
      }
    }
  }

  .block-content {
    margin: 0;
    padding: 0;
  }

  .facet-collapsible-wrapper {
    padding: 0 rhythm(1, $base-font-size, $offset: 1);
  }

  &.expanded {

    .block-title {

      .toggle {
        background: none !important;

        &:before {
          @include icon($chevron-up);
        }
      }
    }
  }

  &.active {

    .block-title {

      .toggle {
        display: block !important;
      }
    }
  }

  a[class^=facetapi] {
    display: block;
    padding-left: 20px;
    position: relative;

    &:before {
      background-color: $bg-color-clear;
      content: ' ';
      color: $color-text-medium;
      height: 1em;
      left: 0;
      line-height: 1em;
      position: absolute;
      text-align: center;
      top: .3em;
      width: 1em;
    }
  }

  a.facetapi-inactive:hover:before {
    @include icon($remove);
  }

  a.facetapi-active:before {
    @include icon($remove);
    background-color: $brand-color;
    color: $color-text-clear;
  }
}

// Collapsible facet alt
%facet-collapsible-alt {
  background-color: $bg-color-clear;

  .block-title {

    @include set-font-size-to($h5-font-size);
    font-weight: normal;
    color: $color-text-medium;
    margin: 0;
    padding: rhythm(1, $h5-font-size * 3, $offset: 1) rhythm(1, $h5-font-size / 2, $offset: 1) rhythm(1, $h5-font-size * 3, $offset: 1) rhythm(1, $h5-font-size * 1.5, $offset: 1);
    position: relative;

    .toggle {
      background: none !important;
      height: auto !important;
      margin: 0 !important;
      position: absolute;
      right: 8px;
      top: 25%;
      width: auto !important;

      &:before {
        @include icon($chevron-down);
      }
    }
  }

  &.expanded {
    box-shadow: 0 0 3px 2px rgba($bg-color, 0.1);

    .block-title {

      .toggle {
        background: none !important;

        &:before {
          @include icon($chevron-up);
        }
      }
    }
  }

  .facetapi-collapsible {
    @include leader(0);
    @include trailer(0);

    li {
      margin: 0;
    }

    a[class^=facetapi] {
      border-top: 1px solid $color-text-light;
      color: $color-text-light;
      display: block;
      padding: rhythm(1, $base-font-size * 2, $offset: 1) rhythm(1, $base-font-size, $offset: 1);

      &:hover {
        color: $color-text;
      }
    }
  }
}

// Main navigation menu
%main-menu-level-1 {
  > a,
  > span {
    background-color: $bg-color;
    border-bottom: 1px solid $color-text-medium;
  }

  > .active,
  > .active-trail {
    background: $color-section-4;
    border-bottom: 0 none;
    color: $color-text-clear;
    font-weight: bold;
  }
}


%main-menu-level-2 {
  > a {
    color: $color-text-light;
    padding-top: 3px;
    padding-bottom: 3px;

    &:hover {
      background: darken($bg-color-first-sidebar, 10%);
    }

    &.active {
      background: transparent;
      color: $color-text-light;
      font-weight: bold;

      &:before {
        content: '›';
        color: $color-section-4;
        font-size: 1.5em;
        display: inline-block;
        float: left;
        left: 0.2em;
        margin-left: -0.75em;
        position: relative;
        top: -0.05em;
      }

      &:hover {
        background: transparent;
      }
    }
  }
}
// End of: Main Navigation menu

/* ----------------------------------------------------
 *                    FUNCTIONS
/* ---------------------------------------------------- */


// Return a number without units
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}