/**
 * Style the USA EDU Taxonomy Terms Graph
 */

@import "../sass-extensions/font-awesome/font-awesome/scss/variables";
@import "../sass-extensions/font-awesome/font-awesome/scss/mixins";

@mixin usaedu-terms-graph ($graph-color: $brand-color, $hover-color: $brand-color-sec) {
  $action-link-height: 24px;
  $action-link-width: 24px;

  #term-tree {
    margin-top: 0;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none outside none;
    position: relative;

    &:hover {

      > .action-links {
        display: block;
      }
    }
  }
  
  .map-label {
    @include box-sizing(border-box);
    background: $graph-color;
    color: $color-text-clear;
    display: table-cell;
    padding: rhythm($lines: 0.5);
    text-align: center;
    width: 30%;
  }
  
  .term-count {
    background-color: $color-section-4;
    bottom: 0;
    color: $color-text-clear;
    height: 24px;
    line-height: 24px;
    min-width: 24px;
    padding: 0 4px;
    position: absolute;
    right: 0;
    text-align: center;
    
    &:before {
      @include icon($file-text);
      margin-right: .3em;
    }
  }
  
  .title-text {
    @include box-sizing(border-box);
    display: table-cell;
    padding: rhythm($lines: 0.5);
    width: 70%;
    
    :first-child {
      margin-top: 0;
    }
    
    :last-child {
      margin-bottom: 0;
    }
  }

  .title {
    @include box-sizing(border-box);
    background: $bg-color-clear;
    border-radius: 4px;
    @include set-font-size-to(14px);
    color: $graph-color;
    display: block;
    font-weight: normal;
    margin: 0;
    padding: rhythm($lines: 0.5);

    &:hover,
    &:focus,
    &:active {
      background-color: $hover-color;
      color: $color-text-clear;
      cursor: pointer;
      text-decoration: none;
    }

    &:before {
      @include icon($chevron-right);
      float: right;
    }
    
    &.has-label {
      display: table;
      padding: 0;
    }
  }

  .description {
    background: $bg-color-clear;
    margin: 0;
    padding: rhythm();
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  .active,
  .active-trail {

    > .title {
      background: $graph-color;
      color: $color-text-clear;
    }
  }

  .leaf {
    list-style: none outside none;
    
    > .title {
      background-color: $graph-color;
      border-radius: 4px 4px 0px 0px;
      color: $color-text-clear;
      cursor: default;
      &:before {
        display: none;
      }
    }

    > .description {
      border-radius: 0px 0px 4px 4px;
      padding: rhythm($lines: 0.5);
    }
  }

  .action-links {
    display: none;
    height: $action-link-height;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 150px;

    a {
      background: $hover-color;
      border-left: 1px solid $bg-color-second-sidebar-block;
      color: $color-text-clear;
      float: left;
      height: $action-link-height;
      line-height: $action-link-height;
      text-align: center;
      width: $action-link-width;

      &:first-child {
        border-left: 0 none;
      }

      &:hover {
        text-decoration: none;
        color: darken($graph-color, 20%);
      }

      span {
        display: none;
      }
      
      &.view-term {
        font-size: 10px;
        width: 60px;
      }
      
      &.term-count {
        background-color: tint($green, 50%);
        width: auto;
      }

      .icon-edit {
        position: relative;
        top: 0.1em;
      }
    }
  }

  /*
   * Small and medium layout
   */
  @media all and (max-width: 1113px) {

    li {
      margin: 10px 0px;
    }

    .active-trail-before,
    .active-trail-after {
      display: none;
    }

    .active-trail {

      > .title {
        display: none;
      }
      
      &:hover {
        
        > .action-links {
          display: none;
        }
      }
    }

    .active {
      display: block;

      > .title {
        background-color: transparent;
        color: $color-text-light;
        display: block;

        &:before {
          @include icon($chevron-left);
          float: none;
          margin-right: rhythm($lines: 0.5);
        }

        &:hover {
          color: $color-text-clear;
          background: $hover-color;
        }
      }
    }
    
    .leaf-parent {
      
      > .title {
        background-color: transparent;
        color: $color-text-light;
        display: block;

        &:before {
          @include icon($chevron-left);
          float: none;
          margin-right: rhythm($lines: 0.5);
        }

        &:hover {
          color: $color-text-clear;
          background: $hover-color;
        }
      }
      
      .active {
        
        > .title {
          background-color: $graph-color;
          color: $color-text-clear;
        }
      }
    }
    
    .action-links {
      right: 20px;
    }
    
    .term-count {
      position: static;
    }
  }


  /*
   * @TODO: Commenting this out for now. Time permitting, we'll add hierarchical classes via JS,
   * so we can properly target the term tree branches we want to display when navigating through the tree,
   * in order to make a two column view of the tern tree.
   * See https://affinitybridge.unfuddle.com/a#/projects/37213/tickets/by_number/108.
   */
  /*
   * Medim layout
   */
  // @media all and (min-width: 841px) and (max-width: 1113px) {

  //   ul {
  //     left: 100%;
  //     top: 0;
  //     width: 100%;
  //     z-index: 2;
  //   }

  //   li {
  //     margin: 10px 20px;
      
  //     &:first-child {
  //       margin-top: 0;
  //     }

  //     ul {
  //       position: absolute;
  //     }
  //   }

  //  .action-links {
  //    right: rhythm($lines: 0.75) / 2;
  //    top: rhythm($lines: 0.75) / 2;
  //  }

  //   // first level graph overrides
  //   > ul {
  //     width: 50%;

  //     > li {
  //       margin-left: 0;
  //     }
  //   }
  //   // end of: first level graph overrides
  // }

  /*
   * Large layout and Extra Large
   */
  @media all and (min-width: 1114px) {
    $item-width: 160px;
    $connector-width: 50px;

    ul {
      left: $item-width + $connector-width * 2;
      top: 50%;
      width: $item-width + $connector-width * 2;
    }

    li {
      @include background-image(
        linear-gradient(left, $bg-color-clear 50%, $bg-color-clear 50%)
      );
      background-size: 100% 2px;
      background-repeat: no-repeat;
      background-position: left center;
      margin: 0;
      padding: rhythm($lines: 0.75) 0;

      ul {
        position: absolute;
      }
    }

    .title {
      @include box-sizing(border-box);
      margin-left: $connector-width;
      width: $item-width;
    }

    .description {
      margin-left: $connector-width;
    }

   .action-links {
     left: $item-width + $connector-width;
     right: auto;
     top: rhythm($lines: 0.75);

     a {
      //left: $action-link-width / -2;
      left: -60px;
      position: relative;
      top: ($action-link-height + 1) * -1;
     }
   }

    // first level graph overrides
    > ul,
    > .item-list > ul {
      width: $item-width + $connector-width;

      > li {
        background: none;

        > .title {
          margin-left: 0;
        }

        > ul {
          left: $item-width + $connector-width;
        }

        > .action-links {
          left: $item-width;
        }
        
        > .description {
          margin-left: 0;
        }
      }
    }
    // end of: first level graph overrides

    .active-trail {
      @include background-image(
        linear-gradient(left, $graph-color 50%, $graph-color 50%)
      );
      background-size: 100% 2px;
      background-repeat: no-repeat;
      background-position: left center;


      li {
        @include background-image(
          linear-gradient(top, $bg-color-clear 50%, $bg-color-clear 50%),
          linear-gradient(left, $bg-color-clear 50%, transparent 50%)
        );
        background-size: 2px 100%,  100% 2px;
        background-repeat: no-repeat, no-repeat;
        background-position: left top, left center;

        &:last-child {
          @include background-image(
            linear-gradient(top, $bg-color-clear 50%, transparent 50%),
            linear-gradient(left, $bg-color-clear 50%, transparent 50%)
          );
        }

        &.active-trail-before {
          @include background-image(
            linear-gradient(top, $graph-color 50%, $graph-color 50%),
            linear-gradient(left, $bg-color-clear 50%, transparent 50%)
          );
        }

        &.active-trail-after {
          @include background-image(
            linear-gradient(top, $bg-color-clear 50%, $bg-color-clear 50%),
            linear-gradient(left, $bg-color-clear 50%, transparent 50%)
          );

          &:last-child {
            @include background-image(
              linear-gradient(top, $bg-color-clear 50%, transparent 50%),
              linear-gradient(left, $bg-color-clear 50%, transparent 50%)
            );
          }
        }

        // Be aware that on active trail status we draw the horizontal line first
        &.active-trail {
          @include background-image(
            linear-gradient(left, $graph-color 50%, $graph-color 50%),
            linear-gradient(top, $graph-color 50%, $bg-color-clear 50%)
          );
          background-size: 100% 2px, 2px 100%;
          background-repeat: no-repeat, no-repeat;
          background-position: left center, left top;

          &:last-child {
            @include background-image(
              linear-gradient(left, $graph-color 50%, $graph-color 50%),
              linear-gradient(top, $graph-color 50%, transparent 50%)
            );
          }
        }

        // Be aware that on active status we draw the horizontal line first
        &.active {
          @include background-image(
            linear-gradient(left, $graph-color 50%, $bg-color-clear 50%),
            linear-gradient(top, $graph-color 50%, $bg-color-clear 50%)
          );
          background-size: 100% 2px, 2px 100%;
          background-repeat: no-repeat, no-repeat;
          background-position: left center, left top;

          &:last-child {
            @include background-image(
              linear-gradient(left, $graph-color 50%, $bg-color-clear 50%),
              linear-gradient(top, $graph-color 50%, transparent 50%)
            );
          }
        }
      }
    }

    .active {
      @include background-image(
        linear-gradient(left, $graph-color 50%, $bg-color-clear 50%)
      );
      background-size: 100% 2px;
      background-repeat: no-repeat;
      background-position: left center;
    }

    .leaf {
      margin: 0;
      width: $item-width * 2;

      > .title {
        width: $item-width * 2;
      }

      > .description {
        @include box-sizing(border-box);
        width: $item-width * 2;
      }

      .action-links {
        left: ($item-width * 2) + 50;
      }
    }
  }

}

/*
 * Model curriculum graph
 */
@mixin usaedu-terms-graph-curriculum($graph-color: $color-section-3) {
  @include usaedu-terms-graph();
  .active,
  .active-trail,
  .active-trail li,
  .active-trail li.active,
  .active-trail li:last-child,
  .active-trail li.active:last-child,
  .active-trail li.active-trail,
  .active-trail li.active-trail:last-child,
  .active-trail li.active-trail-before,
  .active-trail li.active-trail-after,
  .active-trail li.active-trail-after:last-child {
    background-image: none;
  }
  .map-label {
    background-color: $color-section-3-sec;
  }
  .title {
    color: $color-section-3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    
    &:hover {
      background-color: lighten($color-section-3-sec, 20%);
    }
  }
  .leaf > .title {
    background-color: $bg-color-clear;
    color: $graph-color;
  }
  .active > .title,
  .active-trail > .title { 
    background-color: $color-section-3;
    color: $color-text-clear;
  }
  .title:before {
    content: none;
  }
  .action-links {
    a {
      background: lighten($color-section-3-sec, 20%);
      &:hover {
        color: $color-section-3;
      }
    }
  }

  /*
   * Small and medium layout
   */
  @media all and (max-width: 1113px) {
    
    .title.has-label {
      display: table;
      width: 100%;
    }
    
    .active-trail {
      
      > .title {
        display: none;
      }
    }
    
    .active {

      > .title {
        background-color: transparent;
        color: $color-text-light;
        display: table;
        
        &:before {
          background-color: $color-text-light;
          color: $color-text-clear;
          display: table-cell;
          text-align: right;
          width: 4%;
        }
        
        &:hover {
          background-color: lighten($color-section-3-sec, 20%);
        }
        
        .map-label {
          background-color: $color-text-light;
          text-align: left;
          width: 26%;
        }
      }
    }
  }
  
  /*
   * Large layout and Extra Large
   */
  @media all and (min-width: 1114px) {
    $item-width: 250px;
    $connector-width: 50px;
    
    ul {
      left: $item-width + $connector-width;
      top: 0;
      width: $item-width + $connector-width;
    }
    
    // first level graph overrides
    > ul {
      
      > li {
        
        > ul {
          left: $item-width + $connector-width;
        }
        
        > .action-links {
          left: $item-width;
        }
      }
    }
    // end of: first level graph overrides
    
    li {
      &:before {
        @include icon($chevron-down);
        color: $color-section-3-sec;
        position: absolute;
        left: 5px;
        bottom: -15px;
        @include set-font-size-to(24px);
      }
    
      &:last-child:before {
        content: none;
      }
    }
    
    .title {
      width: $item-width;
    }
    
    .active-trail:after,
    .active:after {
      @include icon($chevron-right);
      color: $graph-color;
      position: absolute;
      top: 20px;
      left: $item-width + $connector-width * 0.25;
      @include set-font-size-to(24px);
    }
    .title,
    .description {
      margin-left: 0;
    }
    .action-links {
      left: $item-width;
    }
    .leaf {
      width: $item-width * 1.7;
      
      &:after {
        content: none;
      }
      
      .title {
        width: $item-width * 1.5;
      }
      
      .action-links {
        left: $item-width * 1.5;
      }
    }
  }
}