

//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   14px; // The font size set on the root html element.
$base-line-height: 21px; // This line-height determines the basic unit of vertical rhythm.
$round-to-nearest-half-line: true;

//$body-font-size: 0.875 * $base-font-size;  /* 14px */
$h1-font-size:   24px;
$h2-font-size:   20px;
$h3-font-size:   18px;
$h4-font-size:   18px;
$h5-font-size:   16px;
$h6-font-size:   14px;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// Google Fonts
$open-sans: 'Open Sans', sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $open-sans; // The font family set on the html element.
$font-body:        $open-sans;
$font-monospace:   $courier;


//
// Colors, etc.
//

// -- first we set descriptive variables:
$gray:        #323232;
$blue-light:  #3aa4d0;
$blue-dark:   #0e4d72;
$red:         #891f02;
$red-bright:  #da270e;
$yellow:      #fcb714;
$green:       #8cc63f;
$orange:      #f47320;


// -- then we set functional variables:

// Brand color
$brand-color:     $blue-light;
$brand-color-sec: tint($brand-color, 50%); // (sec. Stands for Secondary)

// Text
$color-text:         $gray;
$color-text-medium:  lighten($gray, 20%);
$color-text-light:   lighten($gray, 40%);
$color-text-clear:   white;

// Links
$color-link: $brand-color;

// Sections
$color-section-1:     $red;
$color-section-1-sec: tint($color-section-1, 50%); // (sec. Stands for Secondary)
$color-section-2:     $orange;
$color-section-2-sec: tint($color-section-2, 50%); // (sec. Stands for Secondary)
$color-section-3:     $blue-dark;
$color-section-3-sec: tint($color-section-3, 50%); // (sec. Stands for Secondary)
$color-section-4:     $green;
$color-section-4-sec: tint($color-section-4, 50%); // (sec. Stands for Secondary)

// Backgrounds
$bg-color:                      $gray;
$bg-color-container:            lighten($bg-color, 76%);
$bg-color-first-sidebar:        lighten($bg-color, 72%);
$bg-color-footer:               lighten($bg-color, 57%);
$bg-color-block:                lighten($bg-color, 57%);
$bg-color-tag:                  lighten($bg-color, 57%);
$bg-color-tool:                 lighten($bg-color, 57%);
$bg-color-second-sidebar-block: lighten($bg-color, 72%);
$bg-color-clear:                white;


// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;


