/**
 * @file
 * Block Styling
 */

@import "base";
@import "../sass-extensions/font-awesome/font-awesome/scss/variables";
@import "../sass-extensions/font-awesome/font-awesome/scss/mixins";

.block { /* Block wrapper */
  @include trailer();

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }
}

/*
 * Style by Regions
 */

// -- Second sidebar
.region-sidebar-second {

  .block {
    @extend %second-sidebar-block-style;
  }

  .facetapi-collapsible {
    @extend %facet-collapsible;
  }
}

// -- Content preface
.region-content-preface {

  .facetapi-collapsible {
    @extend %facet-collapsible-alt;
  }
}

// -- Content grid
.region-content-grid {
  .block.odd {
    @include zen-float();
    clear: left;
  }
  .block.even {
    @include zen-float(right);
    clear: right;
  }
}

/*
 * Specific blocks
 */
#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

/*
 * Facets
 */
.block-facetapi {

  ul[class^=facetapi] {
    padding: 0;

    li {
      @include set-font-size-to($h6-font-size);
      list-style: none outside none;
      @include leader(0.5);
      @include trailer(0.5);
    }

    a {
      color: $color-text-medium;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  a.facetapi-limit-link {
    color: $color-text-medium;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.facetapi-collapsible {
}

/*
 * Logo block
 */
#block-usaedu-base-site-name-and-slogan {
  background: url(../images/logo_bg.png) no-repeat;
  padding: rhythm(1, $base-font-size * 2.75) rhythm(1, $base-font-size, $offset: 1);
  margin-bottom: 0.8em;
}

/*
 * Logo block on mobile (small layout).
 */
@media all and (max-width: 840px) {
  #block-usaedu-base-site-name-and-slogan {
    padding: zen-half-gutter();
    background-color: $bg-color;
    margin-bottom: 0;
  }
}

/*
 * Logo block on mobile (medium and large layouts).
 */
@media all and (min-width: 841px) {
  #block-usaedu-base-site-name-and-slogan {
    background: url(../images/logo_placeholder04.png) no-repeat $bg-color-clear;
    margin-bottom: 0;
    padding-bottom: 0.8em;

    #site-name {
      height: 190px;
      width: 202px;

      a {
        display: block;
        height: 100%;
        overflow: hidden;
        text-indent: -9999px;
      }
    }

    #logo,
    #site-slogan {
      display: none;
    }
  }
}

/*
 * Front page Flexslider ("Featured content")
 */
#block-views-featured-content-block {
  margin: 3.5em 0 2em 0;
}

#flexslider-1 {
  .slides {
    li {
      background-color: $green;
      color: #fff;
      a, span.no-link {
        display: block;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
      }
    }
  }
  .slide-inner-wrapper {
    background-position: 97% bottom;
    background-repeat: no-repeat;
    &.slide-type-notice {
      background-image: url(../images/home_info_icon.png);
    }
    &.slide-type-resource {
      background-image: url(../images/home_resource_icon.png);
    }
    &.slide-type-event {
      background-image: url(../images/home_calendar_icon.png);
    }
  }
  .flex-control-paging li a {
    box-shadow: none;
    opacity: 1;
    background-color: lighten($gray, 60%);
    &:hover,
    &:focus,
    &:active,
    &.flex-active {
      background-color: $green;
    }
  }
  // Hide prev/next arrows.
  .flex-direction-nav {
    display: none;
  }
}
.featured-content-title,
.featured-content-description {
  margin-left: 320px;
  padding-right: 50px;
  @media all and (min-width: 841px) and (max-width: 1113px) {
    margin-left: 250px;
    padding-right: 30px;
  }
  @media all and (max-width: 720px) {
    margin-left: 0;
  }
}
.featured-content-title {
  margin-bottom: .5em;
  font-weight: bold;
  @include set-font-size-to(24px);
  @media all and (max-width: 720px) {
    margin-top: 1em;
    padding: 0 30px;
  }
}
.featured-content-description {
  @media all and (max-width: 720px) {
    padding: 0 30px 30px 30px;
  }
}

.featured-content-image {
  width: 270px;
  float: left;
  @media all and (min-width: 841px) and (max-width: 1113px) {
    width: 200px;
  }
  @media all and (max-width: 720px) {
    float: none;
    width: 100%;
    height: 195px;
    overflow: hidden;
  }
}


/*
 * Front page blocks
 */
#block-usaedu-base-browse-by-standard {
  .block-title {
    @include set-font-size-to($h1-font-size);
    margin-bottom: .3em;
  }
  .block-content {
    @include set-font-size-to($h3-font-size);
  }
}

#block-usaedu-base-browse-ccss,
#block-usaedu-base-browse-njss,
#block-usaedu-base-browse-njmc {
  @include box-sizing(border-box);
  @include zen-float();
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px $bg-color-block;
  width: 30%;
  margin: 0 0 50px 0;
  background-color: $bg-color-clear;
  .block-title {
    @include set-font-size-to($h3-font-size);
      font-weight: normal;
      background-position: 20px top;
      background-repeat: no-repeat;
      min-height: 2.1em;
      margin-bottom: .5em;
      margin-top: 16px;
      padding-left: 70px;
      padding-right: 20px;
  }
  .browse-text {
    margin-bottom: 1.5em;
    color: $color-text-medium;
    padding: 0 20px;
  }
  .browse-link {
    width: 100%;
    position: relative;
    @include set-font-size-to(15px);
    &:after {
      @include icon($chevron-right);
      @include set-font-size-to(15px);
      position: absolute;
      right: 10px;
      top: 50%;
      height: 15px;
      margin-top: -10px;
    }
  }
}

// Small layout
@media all and (max-width: 840px) {
  #block-usaedu-base-browse-ccss,
  #block-usaedu-base-browse-njss,
  #block-usaedu-base-browse-njmc {
    box-shadow: none;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    float: none;
    .block-title {
      display: none;
    }
    .browse-text {
      display: none;
    }
    .browse-link {
      border-radius: 4px !important;
    }
  }
}

#block-usaedu-base-browse-ccss {
  margin-left: 5%;
  margin-right: 5%;
  .block-title {
    background-image: url(../images/ccss_icon_40px.png);
  }
  .browse-link {
    @include add-rectangle-bg($color-section-1, $color-text-clear, 100px, 8px 12px 8px 20px);
    border-radius: 0px 0px 4px 4px;
  }
}
#block-usaedu-base-browse-njss {
  background-color: $bg-color-container;
  .block-title {
    background-image: url(../images/njcccs_icon_40px.png);
  }
  .browse-link {
    @include add-rectangle-bg($bg-color-tool, $color-text-clear, 100px, 8px 12px 8px 20px);
    border-radius: 0px 0px 4px 4px;
  }
}
#block-usaedu-base-browse-njmc {
  .block-title {
    background-image: url(../images/njmc_icon_40px.png);
  }
  .browse-link {
    @include add-rectangle-bg($color-section-3, $color-text-clear, 100px, 8px 12px 8px 20px);
    border-radius: 0px 0px 4px 4px;
  }
}
#block-usaedu-base-explain-standards {
  border-bottom: 3px solid $bg-color-first-sidebar;
  clear: left;
  margin-bottom: 50px;
  padding-bottom: 50px;

  .block-title {
    @include set-font-size-to($h3-font-size);
  }
}

/* 'Recently uploaded resources', 'Recently endorsed resources' and video blocks */
#block-views-recent-video-block,
#block-views-recent-video-block-1,
.front #block-views-recent-resources-block,
.front #block-views-endorsed-resources-block {
    @include zen-grid-flow-item($column-span: 6, $parent-column-count: 13);
    padding: $zen-gutter-width;
}
#block-views-recent-resources-block,
#block-views-endorsed-resources-block,
#block-views-recent-video-block,
#block-views-recent-video-block-1 {
  overflow: hidden;
  .block-title {
    margin-top: 0;
  }
  .more-link {
    margin-top: .5em;
    position: relative;
    float: right;
    a {
      @include set-font-size-to(12px);
    }
  }
}

#block-views-recent-resources-block,
#block-views-endorsed-resources-block {
  @include background-with-box-shadow();
  margin-bottom: 3.5em;
  .block-title {
    border-bottom: 1px solid $bg-color-first-sidebar;
    margin-bottom: 16px;
    padding-bottom: 10px;
    position: relative;
    top: -4px;
  }
  .item-list .pager {
    @include dotted-pager();
    top: 6px;
  }
  .view-content {
    border-bottom: 1px solid $bg-color-first-sidebar;
  }
  .more-link {
    position: relative;
    top: 6px;
    a {
      color: $color-text-light;
    }
  }
}

#block-views-recent-video-block,
#block-views-recent-video-block-1 {
  @include background-with-box-shadow($background-color: $gray, $text-color: $color-text-clear);
  .block-title {
    border-bottom: 1px solid lighten($bg-color, 20%);
    margin-bottom: 16px;
    padding-bottom: 10px;
    position: relative;
    top: -4px;
  }
  .item-list .pager {
    @include dotted-pager(lighten($bg-color, 20%), white);
    top: 6px;
  }
  .view-content {
    border-bottom: 1px solid lighten($bg-color, 20%);
  }
  .more-link {
    position: relative;
    top: 6px;
    a {
      color: $color-text-light;
    }
  }
  a {
    color: $color-text-clear;
  }
}

// Small layout
@media all and (max-width: 840px) {
  .front #block-views-recent-resources-block,
  .front #block-views-endorsed-resources-block,
  #block-views-recent-video-block,
  #block-views-recent-video-block-1 {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
}


/*
 * 'About the website' block
 */
#block-usaedu-base-about-the-website {
  padding: rhythm(1, $base-font-size, $offset: 1) rhythm(1, $base-font-size, $offset: 1);
  color: $color-text-medium;
  .block-title {
    margin-top: 0;
    margin-bottom: .5em;
  }
  .block-content {
    @include set-font-size-to(13px);
  }
  .callout {
    background-color: $bg-color-clear;
    border-radius: 6px;
    color: $color-text-medium;
    display: block;

    &:hover {
      background-color: $brand-color;
      color: $color-text-clear;
      text-decoration: none;
    }
  }
}

/*
 * 'About the website' block on mobile (small layout).
 */
@media all and (max-width: 840px) {
  .front {
    #block-usaedu-base-about-the-website {
      display: block;
      padding: zen-half-gutter();
      margin-bottom: 0;
    }
  }
    #block-usaedu-base-about-the-website {
      display: none;
    }
}

/*
 * Quick links to help and documentation
 */
#block-usaedu-base-help-links {
  padding: 0 rhythm(1, $base-font-size, $offset: 1);

  .help-links {
    padding: 0;

    li {
      list-style: none outside none;
      margin-bottom: 20px;
    }

    a {
      color: $color-text-medium;
      display: block;
      min-height: 40px;
      padding-left: 50px;

      &:hover,
      &:focus {
        color: $color-text;
        text-decoration: none;
      }
    }
  }

  .link-about a {
    position: relative;

    &:before {
      @include icon($random);
      color: $color-section-4;
      font-size: 38px;
      left: 2px;
      line-height: 1em;
      position: absolute;
      top: 5px;
    }
  }

  .link-videos a {
    background: url("../images/watch-video-icon.png") no-repeat left top;
  }

  .link-guide a {
    background: url("../images/pdf-icon.png") no-repeat left top;
  }

  .link-feedback a {
    position: relative;

    &:before {
      @include icon($comment);
      color: $color-text-light;
      font-size: 44px;
      left: 0px;
      line-height: 1em;
      position: absolute;
      top: -2px;
    }
  }

  @media all and (max-width: 840px) {
    & {
      display: none;
    }

    .front & {
      display: block;
      padding: 0 zen-half-gutter();

      .help-links {
        @include clearfix();

        li {
          display: inline-block;
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

/*
 * Tools block
 */
#block-usaedu-base-resource-tools, #block-usaedu-tool-tools {
  position: relative;

  .block-content {
    @include clearfix();
    margin: 10px 0;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      float: left;
      list-style: none outside none;
      text-align: center;
      width: 50%;

      &.even a {
        margin-left: 0;
      }

      &.odd a {
        margin-right: 0;
      }

      @media all and (max-width: 1113px) {
        max-width: 100px;

        &.even a,
        &.odd a {
          margin: 5px;
        }
      }
    }

    a {
      background: $bg-color;
      color: $color-text-clear;
      display: block;
      margin: 5px;
      padding: 2px 0;

      &:before {
        @include icon($cog);
        display: block;
        font-size: 1.5em;
        line-height: 1em;
        padding-top: .3em;
      }

      &:hover,
      &:focus {
        background: $brand-color;
        text-decoration: none;
      }
    }

    #rate a:before {
      @include icon($star);
    }

    #share a:before {
      @include icon($share);
    }

    #endorse a:before {
      @include icon($bookmark);
    }

    #collect a:before {
      @include icon($archive);
    }

    #download a:before {
      @include icon($download-alt);
    }

    #upload a:before {
      @include icon($upload-alt);
    }

    #edit a:before {
      @include icon($edit);
    }

    #workflow a:before {
      @include icon($check);
    }

    #report {
      display: list-item;
      clear: both;
      float: none;
      padding-top: 1px;
      text-align: left;
      width: 100%;

      a {
        background: transparent;
        color: $color-text-medium;

        &:before {
          content: '';
          display: none;
          visibility: hidden;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .tool-popover {
    color: $color-text-medium;
    font-size: 12px;
    line-height: 1.5em;
  }

  .ajax-progress {
    position: absolute;
    top: 11px;
    left: 80px;
    z-index: 10;
  }
}

#block-views-resource-term-blocks-block,
#block-views-resource-term-blocks-block-1 {

  // Main content region
  #content & {
    @extend %second-sidebar-block-style;
  }

  .block-title {
    margin-bottom: 0;
  }
  .block-content {
    margin-top: 0;
  }
  .view-header {
    @include set-font-size-to(13px);
    p {
      margin-top: .5em;
      margin-bottom: .75em;
    }
  }
}

#block-views-resource-term-blocks-block-1 {
  .views-row a {
    color: $color-text-clear;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    padding: 0.2em 0.5em;
  }
  h2 {
    @include set-font-size-to(12px);
    margin: 0;
  }
  .Common-Core-State-Standards {
    a {
      background: $color-section-1;
    }
  }
  .NJ-Core-Curriculum-Content-Standards {
    a {
      background: $color-section-2;
    }
  }
}

/*
 * Model Curriculum
 */
#block-views-resource-term-blocks-block {
  .block-title {
    @include set-font-size-to($h2-font-size);
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../images/njmc_icon_40px.png);
    min-height: 2.1em;
    margin-bottom: .5em;
    padding-left: 50px;
  }
  .views-row {
    @include add-rectangle-bg-border($bg-color-clear, $color-section-3-sec, 25px, $color-text-medium);
    margin-bottom: 10px;
    .field,
    .term-title,
    .taxonomy-term-description,
    .taxonomy-term-description p {
      @include leader(0);
      @include trailer(0);
    }
    .term-title {
      @include set-font-size-to(12px);
      font-weight: bold;
    }
    .taxonomy-term-description {
      p {
        @include set-font-size-to(12px);
      }
    }
  }
  a {
    color: $color-section-3-sec;
  }
}

/*
 * Slogan
 */
#block-usaedu-base-header-slogan {
  margin-bottom: 4.5em;
  width: 36%;

  .block-content {
    @include set-font-size-to($h1-font-size);
    font-weight: bold;
  }

  @media all and (max-width: 840px) {
    display: none;
  }

  @media all and (min-width: 841px) and (max-width: 1113px) {
    margin-bottom: 5%;

    .block-content {
      font-size: 22px;
      line-height: 1.2em;
    }
  }
}


/*
 * Find Resources: Front page
 */
#block-usaedu-search-find-resources-facets {

  .block-title {
    // @include leader(2);
    @include trailer(0.5);
    @include set-font-size-to($h2-font-size);
    font-weight: normal;
  }

  form {
    @include box-sizing(border-box);
    background-color: rgba($bg-color-container, 0.95);
    border-radius: 4px;
    box-shadow: 0 0 3px 2px rgba($bg-color, 0.1);
    max-width: 840px;
    height: 70px;
    padding: 0 rhythm($offset: 1px);
    @media all and (max-width: 840px) {
      height: auto;
    }
  }

  [class^=form] {
    display: inline-block;
  }

  .chosen-container {
    width: 100% !important;
  }
  .form-item-subject,
  .form-item-grade-level,
  .form-item-educational-use {
    float: left;
    margin-right: 2%;
    width: 28%;
  }

  .form-submit {
    @include box-sizing(border-box);
    @include trailer();
    @include leader();
    float: left;
    margin-right: 0;
    width: 8%;
  }
}

/*
 * Find resources form (front page) on mobile (small layout).
 */
@media all and (max-width: 840px) {
  .front {
    #block-usaedu-search-find-resources-facets {
      .block-title,
      form {
        direction: block;
        height: auto;
        margin-left: -11px;
        width: 100%;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      [class^=form] {
        display: block;
      }
      .form-item-subject,
      .form-item-grade-level,
      .form-item-educational-use {
        float: none;
        margin-right: 0%;
        width: 100%;
      }

      .form-submit {
        float: none;
        width: auto;
      }
    }
  }
}

#block-usaedu-search-resource-search-facet-header {
  margin-bottom: 2px;
  padding-right: 10px;
  border-radius: 4px 4px 0 0;
  border-color: $bg-color;
  background-color: $bg-color;
  @include set-font-size-to($h5-font-size);
  color: $color-text-clear;
  &:hover {
    cursor: pointer;
  }
  .block-content {
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0;
    &:after {
      @include icon($chevron-up);
      float: right;
      display: block;
    }
    &.hidden {
      &:after {
        @include icon($chevron-down);
      }
    }
  }
}

/*
 * User dashboard
 */
.page-dashboard {
  #block-views-my-collections-block,
  #block-views-recent-resources-block-1,
  #block-views-recent-resources-block-3,
  #block-views-user-feed-block-1,
  #block-views-endorsed-resources-block-1 {
    margin-left: 0;
    margin-right: 0;
  }
  #block-usaedu-search-find-resources-facets {
    margin-bottom: 30px;
    .block-title {
      @include set-font-size-to($h5-font-size);
      color: $color-text-medium;
      font-weight: normal;
      margin-bottom: 10px;
    }
    form {
      background-color: rgba($bg-color-tool, 0.35);
      display: block;
    }
    .form-item {
      margin-left: 1%;
      margin-right: 1%;
      width: 28%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
    .form-submit {
      @include box-sizing(border-box);
      height: 28px;
      margin-left: 2%;
      width: 7%;
    }
  }
  #block-usaedu-users-dashboard-standards-links {
    @include clearfix();
    margin-bottom: 30px;
    .block-title {
      @include set-font-size-to($h5-font-size);
      color: $color-text-medium;
      font-weight: normal;
      margin-bottom: 10px;
    }
    .dashlinks {
      @include box-sizing(border-box);
      color: $color-text-clear;
      font-weight: normal;
      height: auto;
      margin-right: 2%;
      max-height: 40px;
      padding: 12px 30px 12px 50px;
      width: 32%;
      &:hover,
      &:focus {
        color: $color-text-clear;
        @include set-font-size-to(14px);
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &:after {
        font-size: inherit;
        right: 10px;
        top: 12px;
      }
    }
    .ccss {
      background: url("../images/ccss_icon_white_30px.png") no-repeat 10px center $color-section-1;
    }
    .njss {
      background: url("../images/njcccs_icon_white_30px.png") no-repeat 10px center $color-section-2;
      margin-right: 0;
    }
    .njmc {
      background: url("../images/njmc_icon_white_30px.png") no-repeat 10px center $color-section-3;
    }
  }
  .chosen-container {
    width: 100% !important;
  }
  #block-usaedu-search-find-resources-facets,
  #block-usaedu-users-dashboard-standards-links {
    .block-title {
      margin-top: 0;
    }
  }
  #block-usaedu-users-dashboard-announcement {
    background: #D7ECF5;
    border: 0 none;
    border-radius: 4px;
    color: #3AA4D0;
    margin: 1.5em 0;
    padding: 20px;
    position: relative;
    top: -1em;

    a {
      text-decoration: underline;
    }

    .block-title {
      margin-top: 0;
    }

    .block-content {
      > :first-child {
        margin-top: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }
    @media all and (min-width: 1339px) {
      top: -2em;
    }
  }
  #block-usaedu-users-dashboard-badges {
    @include background-with-box-shadow();
    margin-top: 1em;
    .usaedu-users-upload-feedback-badges-normal {
      width: 180px;
      font-size: 0px;
      letter-spacing: 0px;
      word-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      .usaedu-users-upload-feedback-badge-normal {
        vertical-align: middle;
        line-height: 1em;
        display: inline-block;
        width: 60px;
        padding: 0;
        margin: 0;
      }
    }
    .usaedu-users-upload-feedback-button {
      display: inline-block;
      margin: 1em auto 1em auto;
    }
  }
}

.usaedu-users-upload-feedback-badges-message {
  padding-left: 10px;
  @include set-font-size-to(18px);
  vertical-align: middle;
  @media all and (max-width: 720px) {
    display: block;
    margin-top: 20px;
    padding-left: 0;
  }
}

@media all and (max-width: 1113px) {
  .page-dashboard {
    #block-usaedu-search-find-resources-facets {
      width: 99%;
      float: none;
      margin-left: auto;
      margin-right: auto;
      .form-item {
        margin-left: 0;
        margin-right: 0;
      }
    }
    #block-usaedu-users-dashboard-standards-links {
      width: 100%;
      float: none;
    }
  }
}

#block-usaedu-users-dashboard-standards-links {
  .dashlinks {
    background-color: $bg-color-clear;
    box-shadow: 0 0 3px 2px rgba($bg-color, 0.1);
    position: relative;
    @include box-sizing(border-box);
    padding: 5px 20px 0px 10px;
    border-radius: 4px;
    display: block;
    height: 74px;
    float: left;
    width: 29%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5em;
    /*&:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $color-text-clear;
    }*/

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:after {
      @include icon($chevron-right);
      bottom: 8px;
      display: block;
      position: absolute;
      right: 8px;
      font-size: 20px;
      text-decoration: none;
    }
  }
  .ccss {
    color: $color-section-1;
    &:hover,
    &:focus {
      color: $color-section-1-sec;
    }
  }
  .njss {
    background-color: $bg-color-container;
    margin-right: 0;
    color: $color-section-2;
    &:hover,
    &:focus {
      color: $color-section-2-sec;
    }
  }
  .njmc {
    color: $color-section-3;
    &:hover,
    &:focus {
      color: $color-section-3-sec;
    }
  }
}

@media all and (max-width: 1113px) {
  #block-usaedu-users-dashboard-standards-links {
    .dashlinks {
      padding-top: 5px;
      margin-right: 0;
      margin-bottom: 10px;
      width: 100% !important;
      float: none;
      &:after {
        top: 5px;
      }
    }
  }
}

#block-views-my-collections-block,
#block-views-recent-resources-block-1,
#block-views-recent-resources-block-3,
#block-views-user-feed-block-1,
#block-views-endorsed-resources-block-1 {
  @include zen-grid-flow-item($column-span: 6, $parent-column-count: 13);
  @include background-with-box-shadow();
  margin-bottom: 3.5em;
  overflow: hidden;
  position: relative;
  .block-title {
    border-bottom: 1px solid $bg-color-first-sidebar;
    margin-bottom: 16px;
    padding-bottom: 10px;
    position: relative;
    top: -4px;
    margin-top: 0;
    &:before {
      margin-right: 10px;
    }
  }
  .view-content {
    border-bottom: 1px solid $bg-color-first-sidebar;
  }
  .more-link {
    margin-top: .5em;
    position: relative;
    float: right;
    top: 6px;
    z-index: 2;
    a {
      color: $color-text-light;
      @include set-font-size-to(12px);
    }
  }
  .view-footer {
    margin-top: .5em;
    position: relative;
    top: 4px;
    z-index: 1;
  }
  .item-list .pager {
    @include dotted-pager();
    position: absolute;
    bottom: 18px;
    margin-left: -20%;
    width: 40%;
    z-index: 3;
  }
  &.block-views-empty {
    background-color: $bg-color-first-sidebar;
    box-shadow: -2px -2px 0px 0px $bg-color-block;
    .more-link {
      display: none;
    }
  }
  .view-empty {
    text-align: center;
    margin-top: 4em;
    &:before {
      color: $bg-color-container;
      @include set-font-size-to(75px);
      text-shadow: 1px 1px $bg-color-block;
    }
    h4 {
      @include set-font-size-to(16px);
      margin-top: .5em;
      margin-bottom: 3em;
    }
  }
  .dash-create-link {
    background-color: $bg-color;
    border-radius: 3px;
    color: $color-text-clear;
    font-weight: bold;
    padding: rhythm(.35, $base-font-size, $offset: 1) rhythm(1, $base-font-size, $offset: 1);
  }
}

// Small layout
@media all and (max-width: 840px) {
  #block-views-my-collections-block,
  #block-views-recent-resources-block-1,
  #block-views-recent-resources-block-3,
  #block-views-user-feed-block-1,
  #block-views-endorsed-resources-block-1 {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
}

#block-views-my-collections-block {
  .block-title:before,
  .view-empty:before {
    @include icon($archive);
  }
}
#block-views-recent-resources-block-1 {
  .block-title:before,
  .view-empty:before {
    @include icon($upload-alt);
    margin-right: 10px;
  }
}
#block-views-user-feed-block-1 {
  .block-title:before,
  .view-empty:before {
    @include icon($list);
    margin-right: 10px;
  }
}

/*
 * Taxonomy term pages
 */
#block-views-recent-resources-block-2 {
  .group-right {
    left: -10px;
    position: relative;
    top: -5px;

    .field:last-child {
      margin-bottom: 0;
    }
  }
  h4,
  .field-name-field-peer-rating {
    //@include set-font-size-to(12px);
    font-size: 12px;
    line-height: 16px;
  }
  .field-name-title {
    margin-top: 0;
  }
  h4 {
    margin: 0;
  }
  .node {
    margin-bottom: 10px;
  }
}

/*
 * Resource node page
 */
#block-views-related-resources-block {
  @extend %second-sidebar-block-style;

  @media all and (max-width: 1113px) {
    display: none;
  }
}

#block-views-related-resources-block-1 {
  @extend %second-sidebar-block-style;

  @media all and (min-width: 1114px) {
    display: none;
  }
}

/*
 * How to section
 */
#block-usaedu-base-how-to-use-resources {
  clear: left;

  .block-content {
    @include set-font-size-to($h3-font-size);
    font-weight: bold;
  }
}

#block-usaedu-base-how-to-use-search,
#block-usaedu-base-how-to-use-collect,
#block-usaedu-base-how-to-use-browse {
  float: left;
  margin: 0 0 50px 0;
  width: 30%;

  .block-content {

    i[class^=icon] {
      float: left;
      margin: 0 10px 10px 0;
    }
  }
}

#block-usaedu-base-how-to-use-collect {
  @include box-sizing(border-box);
  border-left: 3px solid $bg-color-first-sidebar;
  border-right: 3px solid $bg-color-first-sidebar;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0 2%;
  width: 35%;
}

#block-usaedu-base-how-to-use-browse {
  box-shadow: none;
}

@media all and (min-width: 1114px) {

  #block-usaedu-base-how-to-use-search,
  #block-usaedu-base-how-to-use-collect,
  #block-usaedu-base-how-to-use-browse {

    .block-content {
      background: url(../images/homepage_how_image01.png) no-repeat left top;
      min-height: 142px;
      padding-left: 142px;

      i[class^=icon] {
        display: block;
        float: none;
        margin-bottom: 14px;
        position: relative;
        top: 12px;
      }
    }
  }

  #block-usaedu-base-how-to-use-collect {

    .block-content {
      background: url(../images/homepage_how_image02.png) no-repeat left top;
    }
  }

  #block-usaedu-base-how-to-use-browse {

    .block-content {
      background: url(../images/homepage_how_image04.png) no-repeat left top;
    }
  }
}

/*
 * Site's banner
 */
#block-usaedu-base-site-banner {
  display: none;

  @media all and (max-width: 840px) {
    @include set-font-size-to($h5-font-size);
    display: block;
    position: relative;

    .site-banner {
      height: auto;
      width: 100%;
    }

    .header-slogan {
      @include box-sizing(border-box);
      background-color: rgba($bg-color-container, 0.95);
      border-radius: 4px;
      box-shadow: 0 0 3px 2px rgba($bg-color, 0.1);
      bottom: 10%;
      left: 10%;
      padding: 2%;
      position: absolute;
      width: 80%;

      br {
        display: none;
      }
    }
  }
}

/*
 * In collaboration
 */
#block-usaedu-base-in-collaboration {
  background: url(../images/ccsso_footer_logo.png) no-repeat right bottom;
  color: $color-text-light;
  float: right;
  margin-top: 1.2em;
  padding: 0px 150px 10px 0;

  .block-content {
    padding-top: 40px;
  }

  @media all and (max-width: 400px) {
    float: none;
  }
}

/*
 * My recent searches
 */
#block-usaedu-search-my-recent-searches {
  border: 0 none;
  padding: 0;

  .block-title {
    @include set-font-size-to($h5-font-size);
    background: $bg-color;
    color: $color-text-clear;
    font-weight: normal;
    margin: 0;
    padding: 8px 40px 8px 20px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:after {
      @include icon($chevron-down);
      position: absolute;
      right: 0;
      text-align: center;
      width: 40px;
    }

    &.expanded:after {
      @include icon($chevron-up);
    }
  }

  .block-content {
    border-top: 1px solid $bg-color-clear;
    display: none;
    margin: 0;
    padding: 10px 20px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none outside none;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $color-text-medium;

      &:hover,
      &:focus {
        color: $color-text;
        text-decoration: none;
      }
    }

    .tootip-term {
      background: $brand-color;
      color: $color-text-clear;
      display: inline-block;
      margin: 2px;
      padding: 2px 6px;
      text-transform: capitalize;
    }
  }
}

/* Homepage portal blocks */
#block-views-portal-topics-frontpage-block {
  @include clearfix;

  .views-row {
    height: 160px;
    margin-bottom: 20px;
    overflow: hidden;

    @media all and (min-width: 641px) {
      float: left;
      margin: 0;
      width: 30%;
    }

    > a {
      color: #fff;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .views-row-1 {
    background: $color-section-4;
  }
  .views-row-2 {
    background: $color-section-2;
    @media all and (min-width: 641px) {
      margin: 0 5%;
    }
  }
  .views-row-3 {
    background: $brand-color;
  }

  .field-content {
    float: left;

    @media all and (min-width: 641px) and (max-width: 1149px) {
      display: none;
    }
  }

  .portal-term-info {
    margin-left: 110px;
    padding: 10px;

    @media all and (min-width: 641px) and (max-width: 1149px) {
      margin-left: 0;
    }
  }

  h3 {
    @include set-font-size-to(17px);
    margin: 0 0 10px 0;
  }

  p { margin: 0; }
}

/* Portal topics */
#block-usaedu-portals-portal-page-header-block {
  color: #fff;
  margin-top: 1.5em;
  min-height: 160px;
  overflow: hidden;
  position: relative;

  .block-content a {
    color: #fff;
  }

  h2 {
   display: none;
  }

  .taxonomy-term {
    @include box-sizing(border-box);
    min-height: 160px;
  }

  .field-name-field-portal-bg-img-page {
    float: left;
    margin: 0;

    @media all and (max-width: 549px) {
      display: none;
    }
  }

  .taxonomy-term-description {
    margin-left: 100px;
    padding: 20px 20px 10px 20px;

    @media all and (max-width: 549px) {
      margin-left: 0px;
      padding: 20px;
    }
  }

  p {
    margin-top: 0;

    &:last-child { margin-bottom: 0; }
  }
}

#taxonomy-term-18240 { background: $color-section-4; }
#taxonomy-term-18241 { background: $color-section-2; }
#taxonomy-term-18242 { background: $brand-color; }

