/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */

@import "base";
@import "../sass-extensions/font-awesome/font-awesome/scss/variables";
@import "../sass-extensions/font-awesome/font-awesome/scss/mixins";


/*
 * Field wrappers when the Fences module is enabled.
 */

.field-label { /* The optional label for a field. */
}

.label-inline {
  display: inline;
  font-weight: bold;
}

.field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}

/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */

.field { /* Wrapper for any field. */
  @include leader();
  @include trailer();
}

/*
 * Field types (Core)
 */

.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */

.field-type-datetime { /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

.field-type-node-reference {
}

.field-type-user-reference {
}

.field-group-format {
  @include leader();
  @include trailer();

  background-color: $bg-color-clear;
  box-shadow: 2px 2px 0px 0px $bg-color-block;
  padding: rhythm($offset: 1);

  > h3 { // the field group's label
    @include set-font-size-to($h6-font-size);
    @include leader(0);
  }

  > .field:first-child {
    @include leader(0);
  }

  > .field:last-child {
    @include trailer(0);
  }
}

/*
 * Named fields
 */

.field-name-body {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}

.field-name-field-alignment-type,
.field-name-field-digital-media-type,
.field-name-field-educational-use,
.field-name-field-end-user,
.field-name-field-item-type,
.field-name-field-subject-areas,
.field-name-field-mc-unit,
.field-name-field-interactivity-type,
.field-name-field-revised-blooms,
.field-name-field-language,
.field-name-field-keywords {

  .field-item {
    display: inline;
    &:after {
      content: ', ';
    }
    
    &:last-child:after {
      content: '';
    }
  }

  a {
    color: $color-text-medium;
  }
}

.field-name-field-endorsed-resource {

  &:before {
    @include icon($bookmark);
  }

  .field-item {
    display: none;
  }
}

.field-name-field-grade-level-term {

  .field-items {
    @include horizontal-list-container;
  }

  .field-item {
    @include horizontal-list-item();
    
    /* If the content inside is an achor tag, then remove this style becasue is already added bellow*/
    @include add-circle-bg($background-color: $color-text-medium, $radius: 10px);
    font-size: 12px;
    margin: 0 4px;
    padding: 0 7px;
    width: auto;
    
    &:first-child {
      margin-left: 0;
      padding-left: 7px;  
    }
    &:last-child {
      margin-right: 0;
      padding-right: 7px;
    }
    /* end of content to be removed */
  }

  a {
    @include add-circle-bg($background-color: $color-text-medium, $radius: 10px);
    font-size: 12px;
    padding: 0 7px;
    width: auto;
  }
}

.field-name-field-grade-level {

  .field-items {
    @include horizontal-list-container;
  }

  .field-item {
    @include horizontal-list-item();
    @include add-circle-bg($background-color: $color-text-medium, $radius: 10px);
    font-size: 12px;
    line-height: 18px;
    margin-right: .3em;
    padding: 0 7px;
    width: auto;
    
    &:first-child {
      padding-left: 8px;
    }
    
    &:last-child {
      padding-right: 8px;
    }
  }
}

.field-name-field-peer-rating {

  span {
    color: $color-text-light;
  }
}

.field-name-field-related-ccss,
.field-name-field-standards-ccss {

  .field-items {
    @include horizontal-list-container;
  }

  .field-item {
    @include horizontal-list-item(8px);
    margin-bottom: 4px;
    padding-left: 0;
  }

  a {
    @include add-rectangle-bg($color-section-1);
    @include set-font-size-to(12px);
    padding: 1px 6px;
    
    &:hover {
      background-color: $color-section-1-sec;
      text-decoration: none;
    }
  }
}

.field-name-field-standards-state {

  .field-items {
    @include horizontal-list-container;
  }

  .field-item {
    @include horizontal-list-item(8px);
    margin-bottom: 4px;
    padding-left: 0;
  }

  a {
    @include add-rectangle-bg($color-section-2);
    @include set-font-size-to(12px);
    padding: 1px 6px;
    
    &:hover {
      background-color: $color-section-2-sec;
      text-decoration: none;
    }
  }
}

.field-name-field-learning-resource-type {
  color: $color-text-light;
  
  a {
    color: $color-text-light;
  }
}

.field-name-title {

  h3 {
    @include set-font-size-to($h4-font-size);
    font-weight: normal;
  }

  a {
    color: $color-text;
  }
}

/*
 * Call out link style (e.g. the link at the bottom of the 'About this website' block).
 * @TODO: Might be better to move this to a dedicated WYSIWYG stylesheet later on.
 */
.callout {
  @include add-rectangle-bg($background-color: $brand-color, $text-color: $color-text-clear, $padding: 10px 30px 10px 15px);
  position: relative;
  margin-top: 1em;
  &:after { // Absolute centering technique: http://css-tricks.com/snippets/css/absolute-center-vertical-horizontal-an-image/
    @include icon($chevron-right);
    @include set-font-size-to(24px);
    position: absolute;
    right: 10px;
    top: 50%;
    height: 24px;
    margin-top: -12px;
  }
  &:link,
  &:visited {
    color: $color-text-clear;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color-text-clear;
    text-decoration: underline;
  }
}

/*
 * Submitted resources workflow summary
 */
.submitted-resources-workflow-state,
.submitted-resources-workflow-date {
  @include set-font-size-to(12px);
  @include trailer();
}

.submitted-resources-workflow-state {
  float: left;
  background-color: $bg-color;
  color: $color-text-clear;
  padding: 0 .5em;
}

.submitted-resources-workflow-date {
  float: right;
}

.submitted-resources-workflow-author,
.submitted-resources-workflow-admin {
  clear: both;
  span {
    font-weight: bold;
  }
}

/*
 * Custom DS field: displays $node->changed, used in Collections content type.
 */
.field-name-node-updated {
  @include set-font-size-to(12px);
  color: $color-text-medium;
}
/*
 * Uploaded resources (dashboard block and page)
 */
.uploaded-resource-post-date,
.uploaded-resource-workflow-state {
  display: inline-block;
  color: $color-text-light;
  @include set-font-size-to(12px);
  .label-inline {
    font-weight: normal;
  }
}

.uploaded-resource-post-date {
  &:after {
    content: ' | ';
  }
}

/*
 * Misc
 */
.stars-rate {
  display: inline-block;
  margin-right: 0.3em;
}