/**
 * @file
 * Form Styling
 */

@import "base";
@import "../sass-extensions/font-awesome/font-awesome/scss/variables";
@import "../sass-extensions/font-awesome/font-awesome/scss/mixins";

.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  @include leader;
  @include trailer;
  margin-left: 0;
  margin-right: 0;

  input.error,
  textarea.error,
  select.error { /* Highlight the form elements that caused a form submission error */
    border: 1px solid #c00;
  }

  label { /* The label for a form element */
    display: block;
    font-weight: bold;
  }

  label.option { /* The label for a radio button or checkbox */
    display: inline;
    font-weight: normal;
  }

  .form-required { /* The part of the label that indicates a required field */
    color: #c00;
  }

  label .form-required {
    display: none;
  }

  .description { /* The descriptive help text (separate from the label) */
    font-size: 0.85em;
  }

  .form-checkboxes & ,
  .form-radios & { /* Pack groups of checkboxes and radio buttons closer together */
    margin: 0; /* Drupal core uses "0.4em 0" */
  }
}

.form-type-link-field {
  
  .form-item {
    @include leader(0);
    @include trailer(0);
  }

  > .field-suffix .form-required {
    display: none;
  }
}  

.form-submit { /* The submit button */
}

.container-inline {
  div,
  label { /* Inline labels and form divs */
    display: inline;
  }
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  @include appearance(none);

  .media-widget & {
    margin-right: .3em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form-actions {
  position: relative;
  
  a.button,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @include set-font-size-to($h3-font-size);
    background: $bg-color-tool;
    margin-bottom: 10px;
    margin-right: 1em;
    padding: .5em 2em;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $brand-color;
    }
    
    &[disabled="disabled"] {
      background-color: $bg-color-container;
    }
  }

  #edit-submit,
  #edit-submit--2 {
    background: $bg-color;

    &:hover {
      background: $brand-color;
    }
    
    &[disabled="disabled"] {
      background-color: $bg-color-container;
    }
  }

  .ajax-progress {
    position: absolute;
    bottom: -14px;
    left: 0;
  }
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left;

  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */

  ul { /* OpenID creates a new ul above the login form's links. */
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  html.js & li.openid-link,
  li.openid-link { /* The "Log in using OpenID" link. */
    margin-top: 1.5em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  }

  li.user-link { /* The "Cancel OpenID login" link. */
    margin-top: 1.5em;
  }
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form {
  th {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;

    &.field-label {
      background-color: $bg-color-clear;
      color: $color-text;

      label .form-required {
        display: inline;
      }
    }
  }

  tbody {
    border-top: 1px solid #ccc;
  }

  tr.even {
    background-color: #fff;
  }

  table .item-list ul {
    margin: 0;
  }
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
    }
  }
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}

/*
 * Chosen module
 */

// general
.chosen-container {
  @include set-font-size-to($base-font-size);
  .chosen-drop {
    border: 0 none;
    box-shadow: 0 0 3px 2px rgba($bg-color, 0.1);
  }

  .chosen-results {

    li {
      @include set-font-size-to($base-font-size * 0.9);
      border-top: 1px solid  $bg-color-container;

      &.highlighted {
        background: $brand-color;
      }
    }
  }
}

// single selection
.chosen-container-single {

  &.chosen-container-active .chosen-single,
  .chosen-single {
    background-color: $bg-color-clear;
    background-image: none;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;

    &:before {
      @include icon($chevron-down);
      color: $color-text-medium;
      position: absolute;
      right: 10px;
      top: 0.2em;
    }

    div {
      display: none;
    }
  }
}

// Multiple selections
.chosen-container-multi {
  
  .chosen-choices {
    background-image: none;
    border: 0 none;
    padding-right: 2em;

    &:before {
      @include icon($chevron-down);
      position: absolute;
      right: 10px;
      top: 0.3em;
    }

    li.search-field {

      input[type="text"] {
        height: auto;
      }
    }

    // Overriding default close button, so we can change the color.
    li.search-choice {
      .search-choice-close {
        background: none;
        &:before {
          @include icon($remove);
          font-size: 14px;
        }
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          color: $color-text-medium;
        }
      }
    }
  }
}

#edit-field-standard-curriculum {

  .search-choice {
    background: $color-section-3-sec;
    border-color: $color-section-3-sec;
    box-shadow: none;
    color: $color-text-clear;
  }
}

#edit-field-standards-state {

  .search-choice {
    background: $color-section-2;
    border-color: $color-section-2;
    box-shadow: none;
    color: $color-text-clear;
  }
}

#edit-field-standards-ccss {

  .search-choice {
    background: $color-section-1;
    border-color: $color-section-1;
    box-shadow: none;
    color: $color-text-clear;
  }
}

/*
 * Node Form
 */
.node-form {

  .field-group-format {
     
    &:first-child {
      margin-top: 0;
    }

    > .form-wrapper {
      border-bottom: 1px solid  $bg-color-second-sidebar-block;

      &:last-child {
        border-bottom: 0 none;
      }
    }

    &.group-header {

      > .form-wrapper {
        border-bottom: 0 none;
      }

      label {
        font-weight: bold;
      }

      .form-item-title {

        label .form-required {
          display: inline;
        }

        input {
          @include box-sizing(border-box);
          width: 100%;

          + .field-suffix {
            display: none;
          }
        }
      }

      .form-field-name-field-attached-files,
      .form-field-name-field-resource-url {
        @include box-sizing(border-box);
        float: left;
        width: 48%;
      }

      .form-field-name-field-attached-files {
        margin-bottom: 1.5em;
        .form-item {
          margin-bottom: 0.45em;
        }
      }

      .form-field-name-field-resource-url {
        float: right;
        
        .form-text {
          @include box-sizing(border-box);
          width: 100%;
        }
      }

      .field-name-body {
        clear: both;
        .filter-wrapper {
          display: none;
        }
      }
    }
    &.group_rttt_required {
      @include clearfix-content();
      .form-field-name-field-usage-rights-url,
      .form-field-name-field-usage-rights-url-na {
        @include box-sizing(border-box);
        width: 48%;
        border-bottom: none;
      }
      .form-field-name-field-usage-rights-url {
        float: left;
      }
      .form-field-name-field-usage-rights-url-na {
        float: right;
        padding-left: 0;
        .form-item {
          margin-top: 3.2em;
        }
      }
    }
    .tabledrag-toggle-weight-wrapper {
      display: none;
    }
  }

  .form-wrapper[class*=other] {
    display: none;
  }

  .chosen-container {
    width: 40% !important;
  }

  .form-actions {
    margin-bottom: .3em;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 1.5em 0 0 0;
    legend {
      // display: none;
      color: $color-text;
    }
  }
  .container-inline-date .date-padding {
    padding: 0;
  }
}

.user-form {
  .field-group-format:first-child {
    margin-top: 0;
  }
  .form-item {
    label {
      font-weight: bold;
    }
  }
  fieldset {
    border: none;
    margin: 0;
  }
}

#user-login,
#user-pass {
  fieldset {
    margin-bottom: inherit;
  }
  #edit-actions {
    margin-bottom: 2px;
  }
  // @include zen-grid-flow-item( 8, 14 );
}

.page-user-login,
.page-user-password {
  #content {
    @include zen-grid-item (
      $column-span: 8,
      $column-position: 2,
      $column-count: 14 /* must match the number of columns in #main */
    );
    @include zen-nested-container();
  }
}

.page-user-register,
.page-user-login,
.page-user-password {
  h1.title {
    margin-bottom: 1.5em;
  }
  .tabs {
    display: none;
  }
}

// .ui-dialog {
//   width: 80% !important;
// } 

// Kill 'Edit media' link since it's buggy and messes things up.
.ctools-modal-media-file-edit {
  display: none !important;
}

/*
 * Draggable captche style overrides.
 */
.captchaWrapper,
.captchaSuccess,
.captchaFail {
// a.captchaRefresh:link,
// a.captchaRefresh:visited,
// a.captchaRefresh:hover,
// a.captchaRefresh:focus,
// a.captchaRefresh:active {
  background-image: none;
}

.captcha {
  width: 400px;
  height: 134px;
  margin-bottom: 2.5em;
  border-radius: 4px;
  background-color: $bg-color-container;
  padding: zen-half-gutter();
  label {
    color: lighten($bg-color, 30%);
    font-weight: normal;
    margin-bottom: zen-half-gutter();
    @include set-font-size-to(12px);
  }
}

.optionsWrapper,
.targetWrapper {
  background-color: $bg-color-footer;
  border-radius: 4px;
  border: 1px solid lighten($bg-color, 30%);
  box-shadow: inset 0 0 3px 1px hsla(0, 0%, 20%, .150);
}

.optionsWrapper {
  float: left;
  margin-top: 8px; // Same as .targetWrapper's 'top' value. 
  width: 280px;
}

.targetWrapper {
  top: 8px;
  width: 105px;
  left: 292px;
}

.target {
  margin-top: 24px;
}
.optionsWrapper,
.targetWrapper,
.captchaSuccess,
.captchaFail {
  height: 92px;
}

.captha .draggable,
a.captchaRefresh:link,
a.captchaRefresh:visited,
a.captchaRefresh:active {
  background-image: url(../images/usaedu-bwm-captcha.png);
}

a.captchaRefresh:link,
a.captchaRefresh:visited,
a.captchaRefresh:active {
  top: 14px;
}

.captchaSuccess {
  background-color: $green;
}

.captchaFail {
  background-color: $red-bright;
}

.form-item-captcha-response {
  display: none;
}

.submit-text,
.terms-of-service,
.terms-of-use {
  @include set-font-size-to(12px);
  color: lighten($bg-color, 30%);
}

#edit-legal {
  background-color: $bg-color-container;
  margin: 2.5em 0;
  padding: rhythm($offset: 1);
  position: relative;
  
  legend {
    font-weight: bold;
    left: 10px;
    position: absolute;
    top: 10px
  }
  
  label {
    font-weight: normal;
  }
}

/*
 * Exposed filters search forms.
 * @TODO: 1. Fix the 'sort by' theming
 */
#term-map-root-selector-form,
#views-exposed-form-standards-search-standards-search-page,
#views-exposed-form-collection-nodes-block-1 {
  @include add-rectangle-bg($background-color: $bg-color-first-sidebar, $text-color: $color-text-medium, $min-width: 100px, $padding: 15px, $border-radius: 4px);
  margin-bottom: 2em;
  label {
    font-weight: normal;
    @include set-font-size-to(16px);
    margin-right: .75em;
    margin-bottom: .5em;
  }
  .form-item {
    margin: 0;
  }
  input {
    border: none;
  }
  .form-submit {
    margin: 0;
  }
  .chosen-container {
    width: 100% !important;
  }
}

#term-map-root-selector-form {
  width: 30%;
}

#views-exposed-form-collection-nodes-block-1 {
  display: block;
  .views-exposed-widgets {
    margin-bottom: 0;
  }

  .views-widget-filter-field_digital_media_type_tid,
  .views-widget-filter-field_learning_resource_type_tid {
    width: 43%;
  }
  .views-exposed-widget {
    padding-top: 0;
    padding-bottom: 0;
  }
  .views-widget-sort-by, .views-widget-sort-order, .form-item-sort-simple {
    display: none;
  }

  .views-submit-button {
    float: right;
    padding-right: 0;
  }

}

/*
 * Hide weird extra required field-suffix.
 */
#user-register-form {
  .form-type-password-confirm {
    & > .field-suffix {
      display: none;
    }
  }
}

/**
 * Filter form on standards term pages
 */
.view-display-id-resources_by_standards {
  .view-filters {
    background-color: $bg-color-first-sidebar;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    label {
      font-weight: normal;
      color: $color-text-medium;
    }
    #edit-field-educational-use-tid-wrapper,
    #edit-field-digital-media-type-tid-wrapper,
    #edit-field-learning-resource-type-tid-wrapper,
    .views-submit-button {
      width: 48%;
      padding-right: 0;
    }
    #edit-field-learning-resource-type-tid-wrapper,
    .views-submit-button {
      float: right;
    }
    #edit-field-grade-level-term-tid-wrapper {
      bottom: 20px;
      right: 34%;
      padding-right: 0;
      position: absolute;
      width: 14%;
      z-index: 5;
    }
    select {
      width: 100%;
    }
    .views-exposed-widgets {
      margin-bottom: 0;
    }
    .views-widget-sort-by,
    .views-widget-sort-order,
    .views-widget-filter-field_endorsed_resource_value {
      display: none;
    }

    .views-submit-button {
      text-align: right;
    }

    .form-item-endorsed {
      color: $color-text-medium;
      position: relative;
      top: .5em;

      .form-checkbox {
        visibility: hidden;

        &:checked + label:after {
          @include icon($remove);
        }
      }

      label {
        font-size: 12px;
        padding-right: 20px;

        &:after {
          background-color: $bg-color-clear;
          content: ' ';
          color: $color-text-medium;
          height: 1em;
          line-height: 1em;
          position: absolute;
          right: 0;
          text-align: center;
          top: .4em;
          width: 1em;
        }
      }
    }

  }
  .chosen-container {
    width: 100% !important;
  }
}

#fake-sort-filter {
  float: right;
  
  .chosen-container {
    width: auto !important;
  }
  
  .chosen-search {
    display: none;
  }

  .chosen-single {
    background: transparent;
    @include set-font-size-to(12px);
    color: $color-text-medium;
  }
}

/*
 * Field descriptions toggling
 */
.toggle-field-desc {
  display: inline-block;
  margin-right: 10px;
  &:before {
    @include icon($question-sign);
  }
  color: $color-text-light;
  cursor: pointer;
  font-size: 16px;
}

/*
 * MyFeeds form
 */
.my-feed-intro {
  @include set-font-size-to(12px);
  color: $color-text-medium;
  margin-bottom: rhythm($offset: 1px);
}

#profile-tabs-group-myfeeds {
  @include add-rectangle-bg($background-color: $bg-color-first-sidebar, $text-color: $color-text-medium, $min-width: 100px, $padding: 15px, $border-radius: 4px);
  display: block;
  .field-name-field-subject-areas {
    float: left;
    width: 49%;
  }
  .form-item-field-subject-areas-und,
  .form-item-field-grade-level-term-und {
    margin-top: 0;
  }
  .field-name-field-grade-level-term {
    float: right;
    width: 49%;
  }
  .form-actions {
    clear: both;
    text-align: right;
    margin-bottom: 0;
  }
  #edit-legal {
    clear: both;
    position: static;
  }
}

#block-usaedu-users-edit-my-feed-link {
  float: right;
}

.view-user-feed-terms {
  margin-bottom: rhythm($offset: 1px);
  a {
    @include active-facet-link($close-icon: false);
    margin-right: 10px;
  }
}

#views-exposed-form-user-feed-page {
  margin-bottom: 0;
}

/*
 * Resources search page
 */
#block-usaedu-search-search-resources {
  @include clearfix-content();
  border-top: 2px solid $bg-color-container;
  padding: 20px 20px 0px 20px;
  position: relative;
  margin-bottom: 0px;

  [class^=form] {
    display: inline-block;
  }
  
  .form-item {
    margin-top: 0;
    margin-bottom: 0px;
    @include set-font-size-to(16px);
  }

  .form-submit {
    margin-right: 0;
  }
  
  .chosen-container {
    width: 100% !important;
  }
  .form-item-subject,
  .form-item-grade-level,
  .form-item-educational-use {
    float: left;
    width: 32%;
  }
  .form-item-grade-level {
    margin-left: 2%;
    margin-right: 2%;
  }
  .chosen-container-single .chosen-single span {
    font-size: 14px;
    padding: .4em 0;
  }
  .chosen-container-single.chosen-container-active .chosen-single:before, .chosen-container-single .chosen-single:before {
    top: 0.5em;
  }
  
  .fake-label {
    @include set-font-size-to(12px);
    color: $color-text-medium;
    display: block;
    position: relative;
    top: -8px;
  }
  
  .form-item-endorsed {
    color: $color-text-medium;
    position: absolute;
    right: 20px;
    top: 12px;
    
    .form-checkbox {
      visibility: hidden;
      
      &:checked + label:after {
        @include icon($remove);
      }
    }
    
    label {
      font-size: 12px;
      padding-right: 20px;
      
      &:after {
        background-color: $bg-color-clear;
        content: ' ';
        color: $color-text-medium;
        height: 1em;
        line-height: 1em;
        position: absolute;
        right: 0;
        text-align: center;
        top: .6em;
        width: 1em;
      }
    }
  }
}

#block-views-exp-resources-search-page {
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

#views-exposed-form-resources-search-page {
  .views-exposed-widgets {
    margin-bottom: 0;
  }
  input {
    border: none;
  }
  .views-widget-sort-by {
    label {
      @include element-invisible();
    }
  }
}

#block-current-search-current-resources-search-terms {
  margin-top: $zen-gutter-width();
  .block-title {
    @include element-invisible();
  }
  .current-search-item {
    ul {
      @include horizontal-list-container();
    }
    li {
      @include horizontal-list-item(0);
      margin: 5px 10px; /* This set gives a better look to the list when the items take 2 rows */
    }
    a {
      @include active-facet-link($background-color: $brand-color, $text-color: $color-text-clear);
    }
  }
}

#block-views-exp-resources-search-page,
#views-exposed-form-standards-search-standards-search-page {
  #edit-search-api-views-fulltext-wrapper {
    input {
      &.active {
        padding-left: 30px;
      }
    }
  }
}

#clear-keyword {
  display: none;
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: $color-text-light;
  text-decoration: none;
  &:after {
    @include icon($remove);
  }
}

#block-views-exp-resources-search-page {
  #clear-keyword {
    top: 0.4em;
  }
}

/* Standards page search form */
#views-exposed-form-standards-search-standards-search-page {
  float: right;
  width: 35%;
  position: relative;
  .views-exposed-widgets {
    padding: 0;
    margin-bottom: 0;
  }
  #clear-keyword {
    top: .15em;
  }
  #edit-search-api-views-fulltext-wrapper {
    width: 85%;
    padding-right: 0;
    input {
      width: 100%;
      @include box-sizing(border-box);
    }
    .views-widget {
      position: relative;
    }
  }
  .form-submit {
    background: $bg-color-footer;
    border-radius: 4px;
    &.active,
    &:hover {
      background: $bg-color;
    }
  }
  .views-submit-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 0;
  }
  #edit-submit-standards-search {
    display: block;
    padding-top: .34em;
    padding-bottom: .34em;
  }
}

#block-views-exp-resources-search-page {
  #edit-search-api-views-fulltext-wrapper {
    position: relative;
    padding: 0;
    width: 92%;
    input {
      width: 100%;
    }
  }
  .form-text,
  .form-submit {
    @include set-font-size-to(16px);
  }
  .form-text {
    padding: .5em .5em;
  }
  .form-submit {
    padding: .6em;
    background: $bg-color-footer;
    border-radius: 4px;
    &.active,
    &:hover {
      background: $bg-color;
    }
  }
  .views-submit-button {
    float: right;
    padding: 0;
  }
  .views-widget-sort-by,
  .views-widget-sort-order {
    display: none;
  }
}

/* Custom sort widgets. */
#-usaedu-search-sort-form,
#views-exposed-form-my-collections-page,
#-usaedu-collections-sort-form {
  float: right;
}

#-usaedu-search-sort-form,
#views-exposed-form-my-collections-page,
#-usaedu-collections-sort-form {
  .views-exposed-form .views-exposed-widget {
    padding: 0;
  }
  .form-item {
    margin: 0;
  }
  .chosen-container {
    width: auto !important;
  }
  .chosen-search {
    display: none;
  }
  .chosen-container-single.chosen-container-active .chosen-single, .chosen-container-single .chosen-single {
    background: transparent;
    @include set-font-size-to(12px);
    color: $color-text-medium;
  }
}

/*
 * Submitted resources filters.
 */
#views-exposed-form-submitted-resources-page {
  .views-widget-sort-by {
    display: none;
  } 
}

/*
 * Responsify search/views exposed forms.
 */
@media all and (max-width: 840px) {
  .chosen-container {
    width: 100% !important;
  }
  #term-map-root-selector-form,
  #edit-search-api-views-fulltext,
  #term-map-root-selector-form,
  #-usaedu-search-block-form {
    width: 100%;
  }
  .views-widget-filter-search_api_views_fulltext {
    margin-bottom: 1.5em;
  }
  #block-usaedu-search-find-resources-facets,
  #block-usaedu-search-search-resources,
  #block-views-exp-resources-search-page,
  #views-exposed-form-collection-nodes-block-1 {
    .form-type-select,
    .form-type-textfield,
    .form-text {
      width: 100%;
      display: block;
    }
    .views-exposed-form .views-exposed-widget {
      width: 100%;
      padding: 0;
    }
    .form-submit {
      margin-top: 0;
    }
  }
  #block-usaedu-search-search-resources {
    .form-item {
      margin-bottom: 1.5em;
    }
  }
  #views-exposed-form-standards-search-standards-search-page {
    float: none;
    width: 100%;
    div {
      display: block;
    }
    .views-widget-filter-search_api_views_fulltext {
      margin-bottom: 0;
    }
    #edit-search-api-views-fulltext-wrapper {
      width: 92%;
    }
  }
  .view-display-id-resources_by_standards {
    .view-filters {
      #edit-field-educational-use-tid-wrapper,
      #edit-field-digital-media-type-tid-wrapper,
      #edit-field-learning-resource-type-tid-wrapper {
        width: 100%;
        float: none;
      }
      #edit-field-grade-level-term-tid-wrapper {
        bottom: auto;
        right: auto;
        position: static;
        width: 30%;
      }
    }
  }
  .page-dashboard #block-usaedu-search-find-resources-facets {
    form {
      display: inline-block;
    }
    .form-item {
      width: 100%;
    }
  }
  #views-exposed-form-collection-nodes-block-1 {
    padding-bottom: 20px;
    .views-exposed-widget {
      float: none;
    }
    .form-item {
      margin-bottom: 1.5em;
    }
  }
}

@media all and (max-width: 1338px) {
  #views-exposed-form-submitted-resources-page {
    .views-exposed-widget {
      float: none;
    }
  }
}

@media all and (min-width: 841px) and (max-width: 1338px) {
  #views-exposed-form-submitted-resources-page {
    .chosen-container {
      width: 50% !important;
    }
  }
}

@media all and (max-width: 840px) {
  #views-exposed-form-submitted-resources-page {
    .chosen-container {
      width: 100% !important;
    }
  }
}

/* Media browser */
.page-media-browser {
  background-color: white;
  font-size: 0.85em;
  .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 3px;
  }
}
#media-browser-tabset {
  padding: 20px;
  border: none;
  .form-item-upload,
  .form-item-embed-code {
    padding: 10px;
    background-color: $bg-color-container;
    .description {
      color: $color-text-medium;
      strong {
        font-weight: normal;
      }
    }
  }
  .form-item-embed-code {
    margin-bottom: 0;
  }
  .fake-submit {
    background-color: $bg-color;
  }
}

#edit-upload-upload,
#edit-replace-upload {
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px; 
  padding: 0.25em;
  color: $color-text-medium;
  border: 1px solid lighten($bg-color, 60%);
  box-shadow: inset 0 0 1px 1px hsla(0, 0, 60%, .150);
}

#edit-upload-upload-button {
  @include set-font-size-to(16px);
  padding-top: 0.35em;
  padding-bottom: 0.35em;
}

.form-item-upload,
.form-item-embed-code {
  .form-required {
    display: none;
  }
}

#media-internet-add {
  .item-list {
    padding: 10px;
    background-color: $bg-color-container;
    h3 {
      margin: 0;
    }
  }
}

#edit-embed-code,
#edit-filename {
  border: 1px solid lighten($bg-color, 60%);
  box-shadow: inset 0 0 1px 1px hsla(0, 0, 60%, .150); 
}

.page-file-edit.no-sidebars {
  background-color: white;
  .messages {
    margin-top: 0;
  }
  .form-item-files-replace-upload {
    padding: 10px;
    background-color: $bg-color-container;
    .description {
      color: $color-text-medium;
      strong {
        font-weight: normal;
      }
    }
  }
}

/* User registration form. */
#edit-field-schools {
  .page-user-register & {
    .chosen-container {
      width: 77% !important;
    }
    .chosen-drop {
      z-index: 15000; /* Make sure Chosen drop sits on top of the draggable captcha icons. */
    }
  }
}

/* Sorry buddy I couldn't find a better place for you */
#edit-field-terms-conditions .form-checkboxes {
  display: inline-block;
}
/* Wait here until some one else find a place for you */
