/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";
@import "../sass-extensions/font-awesome/font-awesome/scss/variables";
@import "../sass-extensions/font-awesome/font-awesome/scss/mixins";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */

    a,
    a:visited {
      color: $color-text;
    }
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}


/*
 * Teaser Layout
 */
.view-mode-teaser,
.view-mode-author_teaser {
  @include leader();
  @include trailer();
  background: $bg-color-clear;
  border-radius: 4px;
  padding: rhythm($offset: 1px);
  position: relative;

  > .group-left {
    height: 106px;  // image's height
    width: auto;

    + .group-right {
      margin-left: 160px; // 140px image's width + 20px gutter
    }
  }

  > .group-right {
    display: block;
    float: none;
    width: auto;
  }

  .field {
    @include leader(0);
    @include trailer(0);
  }

  .field-name-title {
    @include leader(0.3);
    @include trailer(0.3);
    h3 {
      margin: 0;
    }
  }

  .field-name-field-peer-rating {
    float: left;
    margin: 0 rhythm($lines: 0.5, $offset: 1) 0 0;
  }

  .field-name-field-learning-resource-type {
    display: inline-block;
    margin: 0 rhythm($lines: 0.5, $offset: 1) 0 0;
  }

  .field-name-field-grade-level-term {
    float: right;
    position: relative;
    top: -1px;
  }

  .field-name-field-standards-state,
  .field-name-field-standards-ccss {
    float: left;
    margin-right: 10px;
  }


  .field-name-field-endorsed-resource {
    position: absolute;
    left: 6px;
    top: -2px;
    z-index: 130;

    &:before {
      color: $brand-color;
      font-size: 2em;
    }
  }
  &.node-collection {
    .group-left,
    .group-right {
      @include box-sizing(border-box);
    }
    
    .group-left {
      width: 75%;
      height: auto;
    }
    .group-right {
      text-align: right;
      margin-left: 0;
      width: 25%;
      float: left;
      &:before {
        @include icon($archive);
        margin-bottom: 1em;
        font-size: 26px;
      }  
    }
   .field,
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .field-name-body {
      p:first-child {
        margin-top: 0.5em;
      }
      p:last-child {
        margin-bottom: 0.5em;
      }
    }
    .field-name-field-peer-rating,
    .field-name-field-learning-resource-type {
      float: none;
    }
  }
}

.view-mode-author_teaser {
  .field-name-field-peer-rating {
    display: block;
  }
}

/*
 * Full Layout
 */
.view-mode-full {

  .group-resource-info {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    overflow: hidden;
    margin: 0;
    
    .field-name-field-learning-resource-type .field-item {
      display: inline;
      &:after {
        content: ', ';
      }
      
      &:last-child:after {
        content: '';
      }
    }
  }

  .field-name-field-endorsed-resource {
    //@include set-font-size-to($base-font-size * 1.5);
    font-size: 1.5em;
    margin-bottom: $base-line-height;
    margin-top: $base-line-height;
  }

  .field-name-field-endorsed-resource,
  .field-name-field-peer-rating,
  .field-name-field-learning-resource-type {
    float: left;
    margin: 0 rhythm($lines: 0.5, $offset: 1) 0 0;
  }

  #toggle-eval-results,
  #close-eval-results {
    cursor: pointer;
  }

  #toggle-eval-results {
    display: inline-block;
    margin-left: 10px;
    background-color: $bg-color-first-sidebar;
    padding: 0 10px;
    color: $color-text-medium;

    &:before {
      @include icon($chevron-down);
    }
    &.toggled {
      &:before {
        @include icon($chevron-up);
      }
    }
  }
  #close-eval-results {
    color: $color-text-light;
    text-decoration: underline;
  }

  .group-evaluation-results {
    display: none; // Toggled, see ../js/script.js
    background-color: $bg-color-first-sidebar;
    margin-top: 0;
    clear: both;
    box-shadow: none;
    border-radius: 4px;
  }

  .endorsement-date {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .endorsement-comments {
    position: relative;
    background-color: white;
    border-radius: 4px;
    padding: 10px 15px 10px 55px;
    &:before {
      position: absolute;
      top: 20px;
      left: 15px;
      @include icon($bookmark);
      font-size: 36px;
    }
  }

  .group-rubric {
    margin-bottom: .5em;
    margin-top: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    h3 {
      margin-bottom: .5em;
    }
    .field-wrapper {
      border-top: 1px solid white;
      padding: .5em 0;
      &:last-child {
        border-bottom: 1px solid white;
      }
    }
    .field {
      margin: 0;
    }
    .field-label,
    .field-items {
      color: $color-text-medium;
    }
    .field-label {
      font-weight: normal;
    }
    .field-items {
      float: right;
    }
    .toggle-field-desc {
      float: left;
    }
  }
  
  .field-name-evaluation-body-count {
    .suggestions-counter {
      color: $color-text;
      display: inline-block;
      font-weight: 600;
      padding: 0 10px 0 30px;
      position: relative;
      &:before {
        @include icon($comments);
        font-size: 1.5em;
        left: 0;
        position: absolute;
      }
    }
    .see-all-suggestions {
      display: inline-block;
      text-align: left;
      
      a {
        color: $color-text-light;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .rubric-help-text {
    display: none;
  }

  .field-name-field-grade-level-term {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }

  .group-main-content {
    clear: left;
    p {
    }
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  .group_tags {
    @include leader(0.5);
    @include trailer(0.5);
    background: transparent;
    box-shadow: none;
    padding: 0;
    
    .field,
    .field-items {
      display: inline;
    }
    
    h3 {
      color: $color-text-medium;
      display: inline-block;
      margin-bottom: 0;
      margin-right: .3em;
    }

    > .field {
      margin: 0;
      
      &:after {
        content: ', ';
      }
      
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
  &.node-collection {
    .field-name-body {
      position: relative;
      background-color: $bg-color-clear;
      padding: rhythm($offset: 1px) 60px rhythm($offset: 1px) rhythm($offset: 1px);
      border-radius: 4px;
      &:after {
        @include icon($archive);
        font-size: 26px;
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }
}

/*
 * Narrow teaser Layout
 */
.view-mode-narrow_teaser,
.view-mode-author_narrow_teaser {
  position: relative;
  @include clearfix-content();
  margin-bottom: rhythm($offset: 1);

  #block-views-resource-term-blocks-block & {
    margin-bottom: 0;
  }

  > .group-left {
    height: 75px;  // image's height
    width: auto;
    
    + .group-right {
      margin-left: 120px; // 140px image's width + 20px gutter
    }
  }

  > .group-right {
    display: block;
    float: none;
    width: auto;
  }

  .field {
    @include leader(0);
    @include trailer(0);
  }

  .field-name-title {
    @include leader(0.35);
    @include trailer(0.35);
    h4 {
      margin: 0;
    }
    #block-views-related-resources-block & {
      @include leader(0.2);
    }
  }

  .field-name-field-peer-rating {
    display: inline-block;
  }

  .field-name-field-endorsed-resource {
    position: absolute;
    left: 6px;
    top: -4px;
    z-index: 130;

    &:before {
      color: $brand-color;
      font-size: 1.5em;
    }
  }
}

.view-mode-author_narrow_teaser {
  .field-name-field-peer-rating {
    display: block;
  }
}

/*
 * Admin teaser Layout (e.g. 'Submitted resources')
 */
.view-mode-admin_teaser {
  @include leader();
  @include trailer();
  background: $bg-color-clear;
  border-radius: 4px;
  position: relative;

  > .group-left,
  > .group-right {
    @include box-sizing(border-box);
  }

  > .group-left {
    padding: rhythm($offset: 1px);
    box-shadow: 0 2px 0 0 $bg-color-footer;
    width: 65%;
  }
    
  > .group-right {
    position: absolute;
    right: 0;
    height: 100%;
    width: 35%;
    box-shadow: -2px 0 0 0 $bg-color-footer;
    padding: rhythm($offset: 1px);
    background-color: $bg-color-container;
    color: $color-text-medium;
  }

  .field,
  h2 {
    @include leader(0);
    @include trailer(0);
  }

  h2 {
    @include set-font-size-to(14px);
  }

  .field-name-field-thumbnail {
    float: left;
    margin-right: 20px;
  }

  .field-name-field-peer-rating {
    display: inline-block;
  }

  .field-name-field-grade-level-term {
    float: right;
    position: relative;
    top: -1px;
  }

  .field-name-field-endorsed-resource {
    position: absolute;
    left: 6px;
    top: -2px;
    z-index: 130;

    &:before {
      color: $brand-color;
      font-size: 1.5em;
    }
  }
}

/*
 * Video teaser Layout
 */
.view-mode-video_teaser {
  position: relative;

  .field {
    @include leader(0);
    @include trailer(0);
  }
  h4 {
    @include leader(0.25, $h4-font-size);
    @include trailer(0.5, $h4-font-size); 
  }
  .field-name-field-peer-rating {
    display: inline-block;
  }

  .field-name-field-endorsed-resource {
    left: 6px;
    position: absolute;
    top: -4px;

    &:before {
      color: $brand-color;
      font-size: 2em;
    }
  }
}

// Default image for collection teasers.
.node-collection {
  &.view-mode-narrow_teaser,
  &.view-mode-author_narrow_teaser {
    .group-left {
      background-color: $bg-color-container;
      position: relative;
      width: 80px;
      height: 60px;
      &:before {
        @include icon($archive);
        color: $color-section-4;
        position: absolute;
        display: inline-block;
        font-size: 36px;
        top: 50%;
        left: 50%;
        width: 26px;
        height: 30px;
        margin-top: -12px;
        margin-left: -17px;
      }
      
      .field-name-node-link a {
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-indent: -9999px;
        top: 0;
        width: 100%;
        z-index: 100;
      }
    }
    .group-right {
      margin-left: 100px;
    }
  }
}


// Default image for resource teasers.
.node-resource {
  .group-left {
    background-color: $bg-color-container;
    position: relative;
    &:before {
      z-index: 50;
    }
    img {
      position: relative;
      z-index: 110;
    }
  }
  &.view-mode-narrow_teaser,
  &.view-mode-author_narrow_teaser {
    .group-left {
      width: 80px;
      height: 60px;
      &:before {
        @include default-resource-icon($text-color: $color-section-4);
        width: 26px;
        height: 30px;
        margin-top: -12px;
        margin-left: -13px;
      }
      
      .thumbnail-placeholder {
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-indent: -9999px;
        top: 0;
        width: 100%;
        z-index: 100;
      }
    }
    .group-right {
      margin-left: 100px;
    }
  }
  &.view-mode-teaser,
  &.view-mode-author_teaser {
    .group-left {
      width: 140px;
      height: 106px;
      &:before {
        @include default-resource-icon($font-size: 48px, $text-color: $color-section-4);
        width: 36px;
        height: 40px;
        margin-top: -10px;
        margin-left: -17px;
      }
      
      .thumbnail-placeholder {
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-indent: -9999px;
        top: 0;
        width: 100%;
        z-index: 100;
      }
    }
    
    .field-name-title {
      margin-bottom: 12px;
    }
    
    .stars-rate {
      float: left;
      margin-right: 15px;
    }
  }
}

.node-type-resource .messages--status {
  
  em.placeholder {
    font-weight: bold;
  }
  
  .collection-added {
    text-decoration: underline;
  }
}

/**
 * Evaluation
 */
.node-evaluation {

  &.view-mode-full {
    
    .field-name-post-date {
      @include set-font-size-to(12px);
      color: $color-text-medium;
      float: right;
      margin-bottom: 1em;
    }
    
    .field-name-author {
      margin-bottom: 1em;
      
      a {
        color: $color-text;
        font-weight: bold;
      }
    }
    
    .field-name-body {
      margin-top: 1em;
    }
  }
}

.usaedu-dialog {
  
  .endorsed-rating {
    padding-right: 20px;
    position: absolute;
    right: 25%;
    top: 0;
    z-index: 100;
    
    .field-name-field-endorsed-resource,
    .field-name-field-peer-rating {
      display: inline-block;
      margin-left: 10px;
    }
  }
  
  .view-evaluations.view-display-id-page_1 {
    max-height: 500px;
    overflow: auto;
  }
  
  .view-evaluations.view-display-id-block_1 {
    margin-bottom: 20px;
    
    .view-content {
      color: $color-text;
      display: inline-block;
      font-weight: 600;
      padding: 0 10px 0 30px;
      position: relative;
      &:before {
        @include icon($comments);
        font-size: 1.5em;
        left: 0;
        position: absolute;
      }
    }
    
    .more-link {
      display: none;
    }
  }
}