/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";
@import "usaedu-terms-graph";


/*
 * Body
 */

body {
  background: $bg-color;
  margin: 0;
  padding: 0;
  //@include debug-vertical-alignment();
}

#page {
  position: relative;
}

#ie8-warning {
  @include set-font-size-to($h4-font-size);
  background: tint($yellow, 50%);
  border: 1px solid $yellow;
  color: $color-text-medium;
  display: block;
  left: 0;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;

  &:before,
  &:after {
    @include icon($warning-sign);
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * FlexSlider
 */
.flexslider {
  background: transparent;
  border: 0 none;
  box-shadow: none;
  margin: 0;
}

/*
 * jScrollPane
 */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: transparent;
	visibility: hidden;

  .jspArrow {
    height: 16px;
    &:focus {
      outline: none;
    }
  }

  * {
    display: none;
  }
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: transparent;

  .jspCap {
  	float: left;
  }

  .jspTrack,
  .jspDrag {
  	float: left;
  	height: 100%;
  }

  .jspArrow {
  	width: 16px;
  	float: left;
  	height: 100%;
  }
}

.jspCap {
	display: none;
}

.jspTrack {
	background: transparent;
	position: relative;
}

.jspDrag {
	background: $color-text-light;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}


.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}

/*
 * Header
 */

#header {
  @include padding-leader();
  position: relative;

  body.front & {
    /* Do not remove comment, this is set by javascript
    background-image: url(../images/homepage_image_03.png);
    */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

/*
 * Header on mobile (small layout).
 */
@media all and (max-width: 840px) {
  #header {
    body.front & {
      background-image: none;
    }
  }
}

#logo { /* Wrapping link for logo */
  display: none;
  // float: left;
  margin-top: 20px;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: $h3-font-size;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.8em;
  a:link,
  a:visited {
    color: $brand-color;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  color: $color-text-medium;
  margin: 0;
  font-size: $h6-font-size;
  font-weight: 200;
}

/*
 * Mobile nav on mobile (small layout).
 */
@media all and (max-width: 840px) {
  #logo {
    float: left;
    width: 39px;
    height: 39px;
    margin-top: 0;
    margin-right: zen-half-gutter();
  }
  #site-name {
    margin-bottom: 0.1em;
    @include set-font-size-to(16px);
    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active {
      color: $color-text-clear;
    }
  }
  #site-slogan {
    @include set-font-size-to(12px);
    color: $color-text-clear;
  }
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}


.breadcrumb { /* The path to the current page in the form of a list of links */
  border-bottom: 1px solid $color-text-light;
  color: $color-text-light;
  font-size: 12px;
  left: 0;
  margin-bottom: 2em;
  padding: rhythm(1, $base-font-size * 2.75) 0;
  position: absolute;
  top: 0;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a:link,
  a:visited {
    color: $color-text-light;
  }

  @media all and (max-width: 840px) {
    margin-bottom: 0;
    padding-top: 0;
    position: relative;
    top: -10px;

    + #page-title {
      margin-top: 0;
    }
  }
}

/*
 * Main (container for everything else)
 */

#main {
  background: $bg-color-container;
}

.page-submitted-resources {
  #main {
    background-image: url(../images/unpub_bg.png);
  }
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

h1.title {
  clear: left;
  margin-bottom: 1.5em;
}

.section-resources h1.title,
.page-taxonomy-term h1.title,
.page-resources-search h1.title,
.node-type-collection h1.title,
.node-type-resource h1.title,
.page-user-edit-my-feed h1.title,
.page-myfeed h1.title {
  margin-bottom: 10px;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
  padding: 20px;
  border: none;
  border-radius: 4px;
  background-image: none;
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .block {
    margin-bottom: 0;
  }
  h2,
  h3 {
    margin-top: 0;
  }
  h3 {
    @include set-font-size-to($h2-font-size);
    font-weight: normal;
  }
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

div.status,
div.usaedu-authentication { /* Normal priority messages */
  color: $brand-color;
  background-color: tint($brand-color, 80%);
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  color: $yellow;
  background-color: tint($yellow, 80%);
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
  color: $red;
  background-color: tint($red, 80%);
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  background: $bg-color;
  border-radius: 3px;
  color: $color-text-clear;
  line-height: $base-line-height * 1.5;
  padding: 0;
  text-align: right;

  li { /* Each page number in the pager list */
    padding: 0;

    &.pager-current {
      border-left: 1px solid lighten($color-text-medium, 10%);
      display: inline-block;
      margin-right: -0.3em; // remove space between inline blocks
      padding: 0 rhythm(1, $base-font-size * 2);
    }

    &.last {

      a {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }

  a {
    border-left: 1px solid lighten($color-text-medium, 10%);
    color: $color-text-medium;
    display: inline-block;
    margin-right: -0.3em; // remove space between inline blocks
    padding: 0 rhythm(1, $base-font-size * 2);

    &:hover {
      color: $color-text-clear;
      background: lighten($color-text-medium, 10%);
      text-decoration: none;
    }
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
  background: $bg-color-first-sidebar;
  // overflow-y: auto; // This make the sidebar scroll independently - we need to figure out how to hide the scrollbar though.
  // position: relative;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Content preface region
 * We only style this region on the resources search page, since that's the only place that it containts a search form (facets + exposed filters).
 */
.section-resources {
  .region-content-preface {
    background-color: $bg-color-first-sidebar;
    margin-bottom: 20px;
    padding: 20px 0;
    border-radius: 6px;
    .block {
      // width: 48%;
      @include box-sizing(border-box);
    }
  }
}

/*
 * Footer
 */

#footer {
  @include leader(2);
  @include set-font-size-to(12px);
  border-top: 4px solid $bg-color-first-sidebar;
  color: $color-text-light;
  padding-bottom: 10px;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}


/*
 * Term maps
 */
.page-standards-ccss .terms-graph {
  @include usaedu-terms-graph($color-section-1, $color-section-1-sec);
  background-image: url(../images/terms-map/CCSS_Watermark_Logo.png);
  background-position: -20px -60px;
  background-repeat: no-repeat;
}

.page-standards-statestand .terms-graph {
  @include usaedu-terms-graph($color-section-2, $color-section-2-sec);
  background-image: url(../images/terms-map/NJCCCS_Watermark_Logo.png);
  background-position: -20px -60px;
  background-repeat: no-repeat;
}

.page-standards-curriculum .terms-graph {
  @include usaedu-terms-graph-curriculum();
  background-image: url(../images/terms-map/NJMC_Watermark_Logo.png);
  background-position: -20px -60px;
  background-repeat: no-repeat;
}


.terms-wrapper {
  background: $bg-color-second-sidebar-block;
  overflow: auto;
  padding: $zen-gutter-width;
  position: relative;
  box-shadow: inset 0 0 4px 1px hsla(0, 0%, 20%, .150);
  clear: both;
  height: 700px;
}

// IE help
.gt-ie8 {

  .terms-wrapper {
    box-shadow: none;
  }

  #term-tree li {
    list-style-type: none;
    background-size: auto;
  }

  &.page-standards-ccss,
  &.page-standards-statestand {

    &.large-layout .terms-graph {

      .active-trail {
        background: url(../images/terms-map/white-dot.gif) left center repeat-x;

        ul {
          background: url(../images/terms-map/white-dot.gif) left top repeat-y;
        }

        li {
          background: url(../images/terms-map/connector-h-white.gif) left center no-repeat;
          background-size: auto;
          list-style-type: none !important;

          &.active-trail {
            background: url(../images/terms-map/white-dot.gif) left center repeat-x;

            &:last-child {
              background: url(../images/terms-map/connector-last-child-white.gif) left top repeat-x;
            }
          }

          &:last-child {
            background: url(../images/terms-map/connector-last-child-white.gif) left top no-repeat;
          }

          &.leaf {
            background-position: 0 37px;

            &:last-child {
              background: url(../images/terms-map/connector-last-child-white.gif) left top repeat-x;
            }
          }
        }
      }
    }
  }
}

/*
 * Standards landing pages
 */
.standards-description {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 2em;
  box-shadow: 0 0 4px 1px hsla(0, 0%, 20%, .150);
}

.standards-description-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  &:before {
    @include icon($remove);
    font-size: 24px;
  }
}

/*
 * Standard Curriculum Selector overrides
 */
.standards-curriculum-list .item-list {

  ul {
    width: auto !important;
  }

  li {
    margin-bottom: 10px;
    padding: 0;

    &:before {
      content: '';
    }
  }

  .title {
    width: auto;
  }

  @media all and (min-width: 841px) {
    margin: 0 auto;
    width: 60%;
  }
}

.page-standards-curriculum .terms-graph.standards-curriculum-list {

  .title {
    border-radius: 4px;

    &:after {
      @include icon($chevron-right);
      float: right;
    }
  }
}

/*
 * Modal dialog styling. Colors, fonts, icons, etc are here; layout is in the usaedu module's css file.
 */
.ui-widget-overlay {
  background-color: $bg-color;
  background-image: none; /* @TODO: We may need to set this for IE support, not sure. */
  opacity: 0.8;
}

.usaedu-dialog,
.usaedu-users-upload-feedback-dialog {
  font-family: $font-body;
  .form-actions {
    margin-bottom: 0;
    input[type="submit"] {
      background-color: $bg-color;
    }
  }
}

.usaedu-dialog-sidebar {
  background-color: lighten($brand-color-sec, 10%);
}

.usaedu-dialog-close,
.usaedu-users-upload-feedback-dialog-close {
  &:before {
    @include icon($remove-sign);
    font-size: 2em;
  }
}

.usaedu-dialog-title {
  font-weight: normal;
  @include set-font-size-to($h2-font-size);
}

.usaedu-dialog-intro {
  margin-top: 0;
  margin-bottom: 1.05em; // Same as .usaedu-dialog-title
  @include set-font-size-to($h3-font-size);
}

.usaedu-dialog-symbol {
  font-size: 1.7em;
}

.usaedu-dialog-symbol-collect-resource {
  &:before {
    @include icon($archive);
  }
}

/*
 * Collections dialog.
 */
#usaedu-collections-collect-form-dialog {
  .field-group-format {
    position: relative;
    border: none;
    label,
    legend {
      font-weight: bold;
      color: $color-text;
    }
    legend {
      position: absolute;
      top: 0;
      left: 10px;
    }
  }
}

#edit-my-collections-dialog {
  margin-top: 1em;
}

#edit-new-collection-dialog {
  padding-top: 30px;
  label {
    @include element-invisible();
  }
}

/*
 * Rate dialog
 */
.usaedu-dialog.resource-suggested-enhancements {
  .usaedu-dialog-title {
    padding-right: 170px;
  }
}
#evaluation-node-form-dialog {
  border: none;
  .field-group-format {
    margin-top: 0;
    background: transparent;
    > h3,
    > div {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .description { // Hide form desciption for now, not shown in the comps.
    display: none;
  }
  .group-rubric {
    margin-bottom: 1em;
    h3 {
      margin-bottom: 0;
      padding-top: 0;
    }
  }
  label {
    color: $color-text-medium;
  }
  .form-type-radios {
    @include clearfix-content();
    margin-top: .5em;
    margin-bottom: .5em;
    > label {
      float: left;
      width: 40%;
    }
  }
  .form-radios {
    float: right;
    text-align: right;
    width: 55%;
  }
  .form-type-radio {
    display: inline;
    padding-left: 1.5em;
  }

  #evaluation-legend {
    color: $color-text-medium;
    float: right;
    font-size: 14px;
  }

  .field-name-body {
    margin-bottom: 2.5em;
    &.collapsed {
      label {
        font-weight: normal;
        text-decoration: underline;
      }
      #rubric-body-counter {
        display: none;
      }
    }
    .form-item {
      margin-top: 0;
    }
    label {
      margin-bottom: 5px;
      padding-left: 30px;
      position: relative;
      &:before {
        @include icon($comments);
        font-size: 1.5em;
        left: 0;
        position: absolute;
        text-decoration: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  #rubric-body-counter {
    color: $color-text-medium;
    float: right;
  }
  .vertical-tabs {
    display: none;
  }
}

#usaedu-base-resource-standards-viewer {
  .form-type-item {
    p {
      margin-top: 0;
    }
  }
}

/*
 * Upload feedback. Just badges at the moment.
 */
.usaedu-users-upload-feedback-dialog {
  .usaedu-users-upload-feedback-badges-large {
    margin: 2em auto;
    width: auto;
    text-align: center;
    .usaedu-users-upload-feedback-badge-large {
      display: inline-block;
      width: 160px;
      padding: 0;
      margin: 0;
    }
  }
  .usaedu-users-upload-feedback-button {
    display: block;
    margin: 1em auto;
    text-align: center;
    width: 14em;
    text-decoration: none;
  }
}

/*
 * About page
 */
#about-page-content {

  div[class^="standard-"] {
    background: $bg-color-clear;
    color: $color-text-medium;
    margin-bottom: rhythm();
    padding: 20px;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  h4 {
    line-height: 40px;
    min-height: 40px;
    padding-left: 50px;
  }

  h5 {
    color: $color-text;
  }

  .standard-njmc {

    h4 {
      background: url("../images/njmc_icon_40px.png") left center no-repeat;
    }

    .browse-link {
      background-color: $color-section-3;
    }
  }

  .standard-ccss {

    h4 {
      background: url("../images/ccss_icon_40px.png") left center no-repeat;
    }

    .browse-link {
      background-color: $color-section-1;
    }
  }

  .standard-njss {

    h4 {
      background: url("../images/njcccs_icon_40px.png") left center no-repeat;
    }

    .browse-link {
      background-color: $bg-color-tool;
    }
  }

  .visit-link {
    float: right;
    margin: 0 0 10px 10px;
    padding: 10px 0;
    text-align: right;
  }

  .browse-link {
    @include box-sizing(border-box);
    @include set-font-size-to(15px);
    color: $color-text-clear;
    display: block;
    max-width: 400px;
    padding: 10px;
    position: relative;
    width: 60%;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:after {
      @include icon($chevron-right);
      @include set-font-size-to(15px);
      height: 15px;
      margin-top: -10px;
      position: absolute;
      right: 10px;
      top: 50%;
    }
  }

  @media all and (max-width: 840px) {

    .visit-link {
      float: none;
      margin: 0;
    }

    .browse-link {
      margin-top: 10px;
      max-width: none;
      width: 100%;
    }
  }
}

/*
 * Video Tutorials
 */
.list-video-tutorial {
  @include clearfix;
  padding: 0;

  .video-item {
    float: left;
    list-style: none outside none;
    margin: 0 10px 30px;
    width: 240px;

    > a {
      background: url("../images/help-video-thumbnails/help.png") no-repeat left top;
      color: $color-text;
      display: block;
      font-weight: 600;
      padding-top: 186px;
    }

    &.video-collect > a { background-image: url("../images/help-video-thumbnails/collect.png"); }
    &.video-help > a { background-image: url("../images/help-video-thumbnails/help.png"); }
    &.video-njdoe > a { background-image: url("../images/help-video-thumbnails/njdoe.png"); }
    &.video-overview > a { background-image: url("../images/help-video-thumbnails/overview.png"); }
    &.video-rate > a { background-image: url("../images/help-video-thumbnails/rate.png"); }
    &.video-register > a { background-image: url("../images/help-video-thumbnails/register.png"); }
    &.video-search > a { background-image: url("../images/help-video-thumbnails/search.png"); }
    &.video-share > a { background-image: url("../images/help-video-thumbnails/share.png"); }
    &.video-stayupdated > a { background-image: url("../images/help-video-thumbnails/stayupdated.png"); }
    &.video-upload > a { background-image: url("../images/help-video-thumbnails/upload.png"); }
  }
}

/*
 * Dashboard
 */
body.page-dashboard {
  #page-title {
    float: left;
  }
  .title-badge {
    float: left;
    margin: 10px 0 0 20px;
  }

  #header {
    background-image: url("../images/ccsso_watermark_logo.png");
    background-position: 86% -25px;
    background-repeat: no-repeat;
  }

  /* medium layout up */
  @media all and (min-width: 841px) {

    #content > .block {
      &.odd {
        float: left !important;
        clear: left !important;
      }
      &.even {
        float: right !important;
        clear: right !important;
      }
    }
  }
}

/*
 * Portal page
 */
.page-resources-portal .region-highlighted {
  margin-top: -1.5em;
}

