/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "base";


// Some variables to make altering the styling easier.
$tabs-container-bg: #fff;
$tabs-border: #bbb;


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary,
ul.secondary {
  @include clearfix;
  border-bottom: 1px solid $tabs-border;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;

  li {
    float: left;
    margin: 0.5em 3px 0;
  }

  a {
    border: 1px solid #e9e9e9;
    border-right: 0;
    border-bottom: 0;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
  }
}

/*
 * Primary tabs
 */

ul.primary {
  li {
    @include border-top-radius(4px);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    border: 1px solid $tabs-border;
    border-bottom: 0;
    margin: 0.5em 0 0 3px;
  }
  li.active {
    border-bottom: 1px solid $tabs-container-bg;
    margin-bottom: -1px; /* Overlap the ul's border. */
  }

  a:link,
  a:visited {
    @include border-top-radius(4px);
    @include transition(background-color 0.3s);
    color: #333;
    background-color: #dedede;
    letter-spacing: 1px;
    padding: 0 1em;
    text-align: center;
  }
  a:hover,
  a:focus {
    background-color: #e9e9e9;
    border-color: #f2f2f2;
  }
  a.active {
    background-color: transparent;
    @include filter-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0));
    @include background-image(linear-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0)));
    border-color: #fff;
  }
}

/*
 * Secondary tabs
 */

ul.secondary {
  font-size: .9em;
  margin-top: -1.5em; /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;

  a:link,
  a:visited {
    @include border-radius(.75em);
    @include transition(background-color 0.3s);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
  }
  a:hover,
  a:focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
  }
  a.active,
  a:active {
    @include single-text-shadow(#333, 1px, 1px, 0);
    background-color: #666;
    border-color: #000;
    color: #fff;
  }
}

/* jQuery UI tabs */
#quicktabs-standards,
.page-media-browser {
  &.ui-tabs {
    padding: 0;
  }
  &.ui-corner-all {
    border-radius: 0;
  }
  &.ui-widget-content {
    border: none;
    background: transparent;
    color: $color-text;
  }
  &.ui-widget {
    font-family: $base-font-family;
  }
  .ui-widget-header {
    background: transparent;
    color: $color-text;
    font-weight: normal;
    border-radius: 0;
    border: none;
    border-bottom: 4px solid $bg-color; /* USAEDU style */
  }
  .ui-tabs-nav {
    padding: 0;
  }
  .ui-tabs-nav li {
    top: 0;
    margin: 0 2px 0px 0; /* USAEDU style */
  }
  .ui-tabs-nav li a {
    padding: 5px 10em 5px 10px; /* USAEDU style */
  }
  .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 2px; /* USAEDU style */
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: none;
    color: $color-text-clear; /* USAEDU style */
    background-image: none; /* USAEDU style */
    background-color: $bg-color-block; /* USAEDU style */
  }

  .ui-state-active, .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    border: none;
    color: $color-text-clear; /* USAEDU style */
    background-image: none; /* USAEDU style */
    background-color: $bg-color; /* USAEDU style */
  }
  .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: $color-text-clear; /* USAEDU style */
    outline: none;
  }
  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    font-weight: bold;
    padding-bottom: 5px;
  }
  .ui-corner-top {
    border-radius: 0;
  }
  .ui-tabs-panel {
    padding: 10px 0 0 0;
  }
}

@media all and (max-width: 840px) {
  #quicktabs-standards,
  .page-media-browser {
    .ui-tabs-nav li a {
      padding-right: 4em;
    }
  }
}