/**
 * @file
 * Term Styling
 *
 * Term page styling, DS view modes etc.
 */

@import "base";

/*
 * DS view modes
 */
.taxonomy-term {
  position: relative;

  &.view-mode-child_taxonomy_term_page,
  &.view-mode-mini_teaser,
  &.view-mode-full {
    .term-title {
      @include set-font-size-to($h5-font-size);
      margin-top: 0;
      padding: zen-half-gutter()/2 $zen-gutter-width;
      float: left;
      font-weight: bold;
      color: $color-text-clear;
      a {
        color: $color-text-clear;
      }
    }
  }

  &.view-mode-mini_teaser {
    border-width: 1px;
    border-style: solid;
    background-color: white;

    .taxonomy-term-description {
      clear: both;
      padding: 0 $zen-gutter-width;
      @include set-font-size-to(16px);
    }
  }

  &.view-mode-full {
    @include background-with-box-shadow();
    clear: both;
    margin-bottom: rhythm(2, $base-font-size);
    padding: 0;

    .term-title {
      @include set-font-size-to($base-font-size);
    }
    .taxonomy-term-description,
    .term-page-content,
    .term-grade-level {
      clear: both;
      padding: 0 20px;
    }

    .term-grade-level {
      margin-bottom: 34px;

      > .label-inline {
        float: left;
      }

      .field-items {
        @include horizontal-list-container;
      }

      .field-item {
        @include horizontal-list-item();
        @include add-circle-bg();
        margin-right: .3em;
        padding: 0 8px;
        width: auto;

        &:first-child {
          padding-left: 8px;
        }

        &:last-child {
          padding-right: 8px;
        }
      }
    }
  }

  &.view-mode-child_taxonomy_term_page {
    @include background-with-box-shadow();
    padding: 0;

    > :first-child {
      margin-top: 0;
    }

    .term-title {
      font-size: $base-font-size; //@include set-font-size-to($base-font-size);
    }

    .taxonomy-term-description,
    .field-name-field-term-page-content,
    .field-name-field-grade-level {
      clear: both;
      padding: 0 20px;
    }
  }

  .term-count {
    background-color: $color-section-4;
    bottom: 0;
    color: $color-text-clear;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    min-width: 24px;
    padding: 0 6px;
    position: absolute;
    right: 0;
    text-align: center;

    &:before {
      @include icon($file-text);
      font-size: 14px;
      margin-right: .3em;
    }
    @media all and (max-width: 1338px) {
      position: relative;
      display: inline-block;
    }
  }
}

// Vocabulary ID 1 = Common Core Standards
.vocabulary-ccss {

  &.view-mode-full,
  &.view-mode-mini_teaser,
  &.view-mode-child_taxonomy_term_page {

    .term-title {
      background-color: $color-section-1;
      font-weight: normal;
    }
  }

  &.view-mode-mini_teaser {
    border-color: $color-section-1;
    color: $color-section-1;
  }
}

// Vocabulary ID 2 = MJ State Standards
.vocabulary-statestand {

  &.view-mode-full,
  &.view-mode-mini_teaser,
  &.view-mode-child_taxonomy_term_page {

    .term-title {
      background-color: $color-section-2;
      font-weight: normal;
    }
  }

  &.view-mode-mini_teaser {
    border-color: $color-section-2;
    color: $color-section-2;
  }
}

// Vocabulary ID 3 = MJ Model curriculum
.vocabulary-curriculum {

  &.view-mode-full,
  &.view-mode-mini_teaser,
  &.view-mode-child_taxonomy_term_page {

    .term-title {
      background-color: $color-section-3;
      font-weight: normal;
    }
  }

  &.view-mode-mini_teaser {
    border-color: $color-section-3;
    color: $color-section-3;
  }

  &.view-mode-full {
    border-left: 74px solid $color-section-3-sec;
    min-height: 45px;
    position: relative;

    .field-name-field-map-label {
      color: $color-text-clear;
      font-size: 16px;
      font-weight: bold;
      left: -74px;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 10px;
      width: 74px;
      z-index: 2;
    }

    .taxonomy-term-description {
      clear: none;
      color: $color-section-3-sec;

      p {
        margin-top: 10px;
      }
    }

    .field-name-field-related-ccss {
      margin-bottom: 0;
      margin-left: 10px;
      padding-right: 120px;

      .field-item {
        margin-bottom: 0;
        margin-top: 4px;
      }
    }
  }
}

/*
 * Term pages
 */
.standards-nav {
  margin-bottom: 20px;
  overflow: hidden;
  clear: both;
}
.standards-nav-link {
  position: relative;
  display: inline-block;
  padding: 0.15em .5em;
  background-color: lighten($color-section-3-sec, 20%);
  @include set-font-size-to(12px);
  &:link,
  &:visited {
    color: $color-section-3;
  }
  &:hover,
  &:active,
  &:focus {
    color: $color-section-3;
  }
}

.standards-nav-prev {
  span {
    &:before {
      margin-right: .75em;
      @include icon($chevron-left);
    }
  }
}

.standards-nav-next {
  float: right;
  span {
    &:after {
      margin-left: .75em;
      @include icon($chevron-right);
    }
  }
}

.term-map-link {
  display: block;
  float: right;
  margin-bottom: 10px;
  padding: 0.15em .5em;
  position: relative;
  background-color: $bg-color-first-sidebar;
  z-index: 100;
  &:link,
  &:visited {
    color: $color-text;
  }
  &:hover,
  &:active,
  &:focus {
    color: $color-text;
  }
  &:before {
    display: inline-block; /* Needed to make CSS transformation work. */
    @include icon($sitemap);
    margin-right: .75em;
    @include transform(rotate(-90deg));
    text-decoration: none;
  }
}

.view-display-id-resources_by_standards {
  padding-top: 10px;
  border-top: 4px solid $bg-color;
  #quicktabs-standards & {
    padding-top: 0;
    border-top: none;
  }
}


/*
 * Our Quicktabs uses jQuery UI to render the tabs (in order to preserve history.)
 * The following rules undo most of the default UI tabs styling, and apply our own styles for the tabs.
 */
#quicktabs-standards {
  .qt-resources {
    position: relative;;
  }
  .qt-count {
    position: absolute;
    right: 10px;
  }
}

/* Portal topics */
.section-portal-topics {
  .term-listing-heading {
    position: relative;
    .taxonomy-term-description {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      max-width: 680px;
      color: #fff;
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    @media all and (max-width: 720px) {
      .field-name-field-portal-bg-img-page {
        margin-bottom: .5em;
      }
      .taxonomy-term-description {
        position: relative;
        margin: 0 0 10px 0;
        padding: 0;
        color: $color-text;
      }
    }
  }
}