/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.views-exposed-form {
  .views-exposed-widget {
    // .views-exposed-widget.views-widget-sort-order {
    //   padding: 0;
    // }

    .form-submit {
        margin-top: 0;
    }
  }
}

// .views-widget-sort-by {
//   display: none;
// }

.view-standards-search {
  .views-empty {
    clear: both;
  }
  .views-row {
    margin-bottom: 2em;   
  }
  .view-result-summary {
    margin: rhythm(1, $base-font-size) * 2 0 rhythm(1, $base-font-size) 0;
  }
}

.view-collection-nodes,
.view-resources-search {
  .view-header {
    margin: 30 0 10 0;
  }
  .view-result-summary {
    float: left;
  }
  .view-header,
  .view-content {
    clear: both;
  }
  .view-header {
    @include clearfix-content();
  }
  .views-row-first > .node {
    margin-top: 10px;
  }
}

.view-result-summary {
  @include set-font-size-to(12px);
  color: $color-text-medium;
}

.view-my-collections {
  .view-header {
    float: left;
  }
  .view-content {
    clear: both;
  }
}

/*
 * View Standards Term
 */
.view-standards-term {
  position: relative;
  
  > .attachment {
    @include background-with-box-shadow($bg-color-first-sidebar);
    margin: 0;
    padding: 0 20px;
    position: relative;
    top: -3em;
    z-index: 100;
    
    .item-list {
      display: inline-block;
      margin-right: 10px;
    }
    
    ul {
      display: none;
      margin: 0;
      padding: 0;
    }
    
    .views-row {
      @include add-rectangle-bg-border($bg-color-clear, $color-section-3-sec, 25px, $color-text-medium);
      display: inline-block;
      list-style: none outside none;
      margin: 10px 10px 10px 0px;

      a {
        color: $color-section-3-sec;
      }
    }
    
    h3 {
      @include box-sizing(border-box);
      background: $color-section-3-sec;
      color: $color-text-clear;
      padding-left: 5px;
      position: relative;
      top: -21px;
      min-width: 60px;
      
      &:after {
        @include icon($chevron-down);
        padding-left: .3em;
        padding-right: 5px;
      }
      
      &:hover {
        cursor: pointer;
      }
    }

    h3,
    .term-title {
      @include leader(0);
      @include trailer(0);
      @include set-font-size-to(12px);

      a {
        color: $color-section-3-sec;
      }
    }
  }
}

/**
 *  Evaluations
 */
.view-evaluations {

  &.view-display-id-page_1 {
    background: $bg-color-container;
    border: 2px solid $bg-color-first-sidebar;
    
    .views-row {
      border-bottom: 1px solid $bg-color-first-sidebar;
      color: $color-text-medium;
      padding: 20px 20px 0px 20px;
      position: relative;
      
      &:last-child {
        border-bottom: 0 none;
      }
    }
    
    .views-field-created {
      @include set-font-size-to(12px);
      float: right;
      margin-bottom: 1em;
    }
    
    .views-field-name {
      margin-bottom: 1em;
      
      a {
        color: $color-text;
        font-weight: bold;
      }
    }
    
    .views-field-field-position-title {
      @include set-font-size-to(12px);
    }
    
    .views-field-body {
      color: $color-text;
      margin-bottom: 20px;
      margin-top: 1em;
    }
    
    .views-field-edit-node {
      @include set-font-size-to(12px);
      color: $color-text-medium;
      padding-left: 15px;
      position: absolute;
      right: 20px;
      top: 37px;
      z-index: 10;
      
      &:before {
        @include icon($cog);
        left: 0;
        position: absolute;
        top: 2px;
      }
      
      a {
        color: $color-text-medium;
      }
    }
  }
}